.funding {
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.funding-list {
  margin: 1em 0;
  padding: 0 0 0 40px;
  &__references {
    padding: 40px 0 0 0px;
    display: flex;
    flex-direction: column;
    p {
      padding: 0 !important;
      line-height: 1.5 !important;
      font-weight: 400 !important;
      a {
        color: $rich-blue;
        text-decoration: underline;
      }
    }
  }
  
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: circle;
}

.funding-italic {
  font-style: italic;
}

.funding-section {
  &__sub-heading {
    font-size: 18px;
    font-weight: 600;
    padding: 35px 0;
  }
  &__details {
    font-size: 16px;
    font-weight: 400;
  }
  &__show-bolder {
    font-weight: 600;
  }
  &__show-victory {
    padding-top: 26px;
    .funding-section__show-bolder {
      padding-bottom: 10px;
    }
  }
}
.funding-table-container, .expenses-table-container{
  overflow: auto;
}