body.privacy {
  .privacy-main-content {
    padding: 0 12px;
  }
  .link_style{
    text-decoration: underline;
    text-underline-position: under;
    color: $uni-blue;
    cursor: pointer;
    padding-bottom: 16px;
  }
  .link_style2{
    color: $link-color;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    text-align: left;
  }
  .spacer {
    height: 46px;
  }
  .sub-heading {
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  .privacy-header {
    font-family: Poppins, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 26px;
    font-weight: 800;
  }
  .privacy-intro-paragraph1 {
    margin-top: 42px;
    font-family: Poppins, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
  }
  .privacy-intro-paragraph2 {
    font-family: Poppins, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 33px;
  }
  .privacy-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
      text-decoration: underline;
      font-family: Poppins, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
      padding-bottom: 15px;
      font-size: 16px;
      font-weight: normal;
      color: $uni-blue;
    }
  }
  .privacy {
    &__qa {
      overflow: hidden;
      &:last-of-type {
        border-bottom: 1px solid $overcast-gray;
      }
    }
    &__qa {
      padding: 20px 0 16px 0;
      border-bottom: 1px solid $semi-gray;
      &:last-child {
        border-bottom: 0.4px solid transparent;
      }
    }
    &__question {
      width: 100%;
      min-height: 40px;
      display: flex;
      align-items:center;
      justify-content: space-between;
      margin-top: 0;
      border-bottom: 0.4px solid $semi-gray;
      padding: 0;
      padding-bottom:16px;
      font-size: 18px;
      font-weight: 500;
      font-family: Poppins, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
      cursor: pointer;
      &:after {
        font-family: FontAwesome;
        content: "\f107";
        padding-left: 5px;
        vertical-align: middle;
        font-weight: 900;
        float: right;
      }
      &--open {
        color: $black;
        &:after {
          font-family: FontAwesome;
          content: "\f106";
          padding-left: 5px;
          vertical-align: middle;
          font-weight: 900;
          float: right;
        }
      }
      &-title {
        width: 38%;
        float: left;
        @media (max-width: 500px) {
          width: 50%;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
    &__question {
      @include box-sizing(border-box);
    }
    &__details {
      min-height: 200px;
    }
    &__title {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 15px;
    }
    &__answer {
      width: 100%;
      padding: 10px 0;
      @include box-sizing(border-box);
      // background-color: $chalk-gray;
      float: left;
    }
  }
  ul {
    margin-bottom: 20px;
  }

  ul li {
    list-style-position: inside;
    list-style-type: disc;
  }

  ol li {
    list-style-position: inside;
  }

  li > ul {
    margin-left: 20px;
    margin-bottom: 0;
    li {
      list-style-type: circle;
    }
  }
}
