---
title: "En toute solidarité"
---
<div class="page-container">
  <div class="page-section__sub-heading pt-0">Assumer nos responsabilités</div>

  <div class="page-section__details">
    <span class="page-section__show-bolder">Nos pays traversent une époque historique de prise de conscience</span> que, honnêtement, je ne pensais pas possible de mon vivant. Le meurtre de George Floyd, après celui de Breonna Taylor, après celui de Tony McDade, au milieu d'une pandémie qui tue les Noirs et les personnes racisées deux fois plus que les Blancs, a reflété la dure réalité d’un système inéquitable qui touche tous les aspects de notre vie.
  </div>

  <div class="page-section__details">
    En tant que femme blanche et toute nouvelle Directrice exécutive de notre communauté, j'ai passé la semaine dernière à effectuer un dur travail : ma propre introspection sur la façon dont j’ai échoué à être une complice des mouvements antiracistes ; une prise de conscience au sein de notre organisation, avec une équipe courageuse et déterminée à identifier et combattre le racisme présent dans nos pratiques et politiques internes ; et le vœu d'amplifier le travail que les membres racisés de notre équipe accomplissent depuis des années. <span class="page-section__show-bolder">C'est le moment de renouveler notre engagement à mener des campagnes avec tou.te.s celles et ceux qui sont au cœur de notre mission - l’humain avant le profit - mais aussi avec tou.te.s celles et ceux qui luttent pour créer un monde où les personnes non-blanches ne sont pas en danger, et qui permet à chacun d’entre nous de pouvoir s’épanouir.</span>
  </div>

  <div class="page-section__details">
    <img class="w-100" src="/images/in_solidarity_sumofus_french.png" alt="In solidarity, doing the work."/>
  </div>

  <div class="page-section__details">
    Personnellement, j'ai beaucoup écouté. J'ai aussi parlé avec des collègues et des ami.e.s, j'ai appris et posé des questions, lu et relu, notamment l'ouvrage puissant et indispensable d’Ibram X Kendi : <a href="https://livre.fnac.com/a14712020/Ibram-X-Kendi-Comment-devenir-antiraciste" target="_blank" >Comment devenir antiraciste</a>. J'ai donné les ressources que je pouvais aux organisations qui font le long et difficile travail de lutte pour un changement systémique aux États-Unis, comme l’ensemble des collectifs courageux du <a href="https://act.sumofus.org/go/535983?t=2&akid=74677%2E11372245%2Ez2-D_T" target="_blank" >fond d’urgence destiné aux militant.e.s Noir.e.s Trans</a>.
  </div>

  <div class="page-section__details">
    <span class="page-section__show-bolder">C'est un travail qui ne portera ses fruits que si nous le faisons ensemble.</span> Nous sommes une communauté mondiale massive, consciente que nous avons le pouvoir de changer le monde. Et peu importe où chacun d'entre nous se trouve dans son cheminement contre le racisme et les oppressions. Si vous croyez que chacun a le droit de vivre, de respirer et de marcher librement dans la rue, cet espace est pour vous. Agir, faire des dons et soutenir ce mouvement pour la justice aujourd'hui ne devrait pas être une fin en soi, mais plutôt un point de départ. Car cette lutte se poursuivra bien au-delà des manifestations et de la couverture médiatique actuelles.
  </div>


  <div class="page-section__details">
    Avec toute ma force et mon espoir,
    <br style="clear:both"/>
    <br style="clear:both"/>
    <i>
      Emma
      <br style="clear:both"/>
      <br style="clear:both"/>
      Directrice exécutive de Ekō
    </i>
  </div>

</div>