---
title: "In Solidarity"
---
<div class="page-container">
  <div class="page-section__sub-heading pt-0">Doing the work</div>

  <div class="page-section__details">
    <span class="page-section__show-bolder">Our countries are at a moment of reckoning</span> that I, honestly, didn’t think was possible in my lifetime. The murder of George Floyd, after the murder of Breonna Taylor, after the murder of Tony McDade, in the midst of a pandemic that kills Black and Brown people at twice the rate of white people, has reflected in stark reality an inequitable system affecting all aspects of our lives.
  </div>

  <div class="page-section__details">
    As a white woman and brand new Executive Director for our community, I have been spending the past week doing some hard work: my own reckoning with the ways I have failed to be a co-conspirator with anti-racist movements; an organizational reckoning with a fierce and courageous team to identify and change the racism of our internal practices and policies; and a vow to amplify the work that staff of color have been doing for years. <span class="page-section__show-bolder">This is a moment of recommitment to running campaigns with all of us that are core to our mission — people over profit — but also those that create a world where communities of color aren’t under attack, and we can all thrive.</span>
  </div>

  <div class="page-section__details">
    <img class="w-100" src="/images/in_solidarity_sumofus_french.png" alt="In solidarity, doing the work."/>
  </div>

  <div class="page-section__details">
    Personally, I have been doing a lot of listening. I’ve also been talking with colleagues and friends, learning and asking questions, reading, and re-reading, including the powerful and essential work <a href="https://act.sumofus.org/go/535982?t=1&akid=74677%2E11372245%2Ez2-D_T" target="_blank" >How to be an Anti-Racist by Ibram X Kendi</a>. I have been giving the resources I can to the organizations doing the long and hard work of system change in the US such as the collection of essential groups behind the <a href="https://act.sumofus.org/go/535983?t=2&akid=74677%2E11372245%2Ez2-D_T" target="_blank" >Black Trans Protestors Emergency Fund</a>.
  </div>

  <div class="page-section__details">
    <span class="page-section__show-bolder">This is work that will only happen if we do it together.</span> We are a massive, global community that knows we have the power to change the world. And it doesn’t matter where each of us is on our journey with racism and oppression. If you believe that everyone has the right to live, breathe, and walk down the street, this space is for you. Taking action, donating, and supporting this movement today shouldn’t be the end of our action-taking, it should be the start. This will continue far beyond the protests and the newspaper headlines they generate.
  </div>


  <div class="page-section__details">
    Sending strength and hope,
    <br style="clear:both"/>
    <br style="clear:both"/>
    <i>
      Emma
      <br style="clear:both"/>
      <br style="clear:both"/>
      SumOfUs Executive Director
    </i>
  </div>

</div>