---
# title: 'Ekō Coming Soon'
---
<div class="eko-main-content">
<h1 class="eko-header">Ekō</h1>
<p class="eko-intro-paragraph">Als SumOfUs vor 11 Jahren gegründet wurde, waren wir eine kleine Gruppe, die hauptsächlich in den USA Kampagnen durchführte, um Unternehmen zur Rechenschaft zu ziehen. Im Laufe der Jahre ist unsere Bewegung auf über 20 Millionen Menschen angewachsen, unser Team arbeitet in sieben Sprachen und gemeinsam kämpfen wir auf der ganzen Welt für Veränderung.. Unser englischer Name mit dem mathematischen Wortspiel hat uns bis jetzt gut gedient – doch angesichts unserer Entwicklung passt er nicht mehr zu all dem, was wir tun und erreichen.
</p>
 <p class="eko-intro-paragraph">Heute sind wir eine echte globale Gemeinschaft – daher wird es Zeit der SumOfUs-Marke einen neuen Anstrich zu verpassen. Ein neuer Name muss her. Einer, der unsere Kraft, unseren Einfluss und unsere vielfältige Arbeit widerspiegelt.
</p>
<h2>Herzlichen willkommen in der globalen Gemeinschaft von Ekō! Gemeinsam werden wir weiterhin dafür kämpfen, dass Menschen und der Planet über Profite gestellt werden.</h2>

<img class="eko-logo" src="https://s3.amazonaws.com/s3.sumofus.org/images/editor-2022-12-13-2.gif" />

<p class="eko-intro-paragraph">Wir danken Ihnen, dass Sie Teil dieser Veränderung sind. Danke, dass Sie sich weiterhin dafür einsetzen, unseren Einfluss weltweit zu entfalten, die sowohl die Stärke als auch die Vielfalt unserer Mitglieder und unserer Arbeit widerspiegelt. 
</p>
