---
title: 'Contacto'
---

<div class="contact-title"> Dirección de correo electrónico </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">Miembros de Ekō</div>
        <div class="contact-content-value"><a href="mailto:hola@eko.org">hola@eko.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Empresas</div>
        <div class="contact-content-value"><a href="mailto:corporate@eko.org">corporate@eko.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Prensa</div>
        <div class="contact-content-value"><a href="mailto:press@eko.org">press@eko.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Asuntos relativos a la privacidad</div>
        <div class="contact-content-value"><a href="mailto:privacy@eko.org">privacy@eko.org</a></div>
    </div>
</div>
<div class="contact-desc">Contamos con un equipo que revisa permanentemente nuestras casillas de correo electrónico. Para asegurarte de recibir una rápida respuesta, dirígete a la cuenta adecuada.
</div>

<div class="contact-title"> Teléfono </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">Estados Unidos</div>
        <div class="contact-content-value">+1 347 826-4656</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Reino Unido</div>
        <div class="contact-content-value">+44 20 3286 4067</div>
    </div>
</div>
<div class="contact-desc">Actualmente solo contamos con números telefónicos para los Estados Unidos y el Reino Unido. Para comunicarte con nosotros desde otros países, te recomendamos que lo hagas mediante correo electrónico.
</div>

<div class="contact-title"> Dirección postal </div>
<div class="contact-content">
    <div class="contact-content-item" style="display: none">
        <div class="contact-content-key">Nueva York</div>
        <div class="contact-content-value">Ekō, PO Box 1128, New York, NY 10156, United States</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">San Francisco</div>
        <div class="contact-content-value">Ekō, 2443 Fillmore St #380-1279, San Francisco, CA 94115, United States</div>
    </div>
</div>
<div class="contact-desc">Ekō es una oficina virtual, y solamente podemos recibir correspondencia en San Francisco.
</div>
