---
# title: 'Ekō Coming Soon'
---
<div class="eko-main-content">
<h1 class="eko-header">Ekō</h1>
<p class="eko-intro-paragraph">Cuando SumOfUs se fundó hace 11 años, éramos una pequeña agrupación de personas que abogaban por la responsabilidad corporativa mediante campañas que se hacían, principalmente, dentro de los Estados Unidos de América. Pero el paso del tiempo trajo consigo un enorme crecimiento para nosotres y nos llevó a convertirnos en una comunidad que hoy integran 20 millones de personas, que opera en 7 idiomas y que tiene impacto en cada rincón del planeta. Nuestro nombre actual – cuyo encanto está en un juego de palabras matemático en inglés – ha significado muchísimo para nosotres durante todos estos años. Sin embargo, debido a nuestra evolución, ya no nos representa tan bien como solía hacerlo.
</p>
 <p class="eko-intro-paragraph">Hemos evolucionado hasta convertirnos en una comunidad global de verdad y ha llegado el momento de renovar nuestra identidad de marca para que represente tanto el poder, como la diversidad de nuestro trabajo.
</p>
<h2>¡Te damos la bienvenida a Ekō!: nuestra comunidad global, con la que seguiremos luchando juntes para poner a la gente y al planeta antes que al lucro.</h2>

<img class="eko-logo" src="https://s3.amazonaws.com/s3.sumofus.org/images/editor-2022-12-13-2.gif" />

<p class="eko-intro-paragraph">Gracias por ser parte de este proceso de cambio y por tu compromiso constante con el crecimiento de nuestro impacto en todo el mundo – impacto que evidencia tanto el poder, como la diversidad de nuestres miembres y en el trabajo que hacemos.
</p>
