---
title: 'للتواصل'
---

<div class="contact-title">عنوان الإيميل</div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">للاستفسارات باللّغة الإنكليزية</div>
        <div class="contact-content-value"><a href="mailto:info@sumofus.org">info@sumofus.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">للاستفسارات بالّغة العربية</div>
        <div class="contact-content-value"><a href="mailto:ahlan@sumofus.org">ahlan@sumofus.org</a></div>
    </div>
</div>
<div class="contact-desc">فريقنا المتخصّص يطّلع بشكلٍ منتظمٍ على الرسائل الواردة إلى عناوين البريد الإلكتروني المذكورة أعلاه. لضمان استجابةٍ أسرع، يُرجى التأكّد من مراسلة العنوان الصحيح. </div>

<div class="contact-title">هاتف</div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">الولايات المتحدة الأميركية</div>
        <div class="contact-content-value">13478264656+</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">المملكة المتّحدة</div>
        <div class="contact-content-value">442032864067+</div>
    </div>
</div>
<div class="contact-desc">لدينا حالياً أرقام هاتف متاحة للتواصل في الولايات المتحدة الأميركية والمملكة المتحدة فقط. إذا كان محلّ إقامتك خارج هاتين الدولتين، قد يكون من الأفضل لك مراسلتنا عبر البريد الإلكتروني.</div>

<div class="contact-title">العنوان البريدي</div>
<div class="contact-content">
    <div class="contact-content-item" style="display: none">
        <div class="contact-content-key">نيويورك</div>
        <div class="contact-content-value">Ekō, PO Box 1128, New York, NY 10156, United States</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">سان فرانسيسكو</div>
        <div class="contact-content-value">Ekō, 2443 Fillmore St #380-1279, San Francisco, CA 94115, United States</div>
    </div>
</div>
<div class="contact-desc">مكاتب Ekō افتراضية ويمكن للرسائل البريدية أن تصلنا في الوقت الحالي فقط إلى عنوانينا في نيويورك وسان فرانسيسكو فقط. </div>