---
# title: 'Ekō Coming Soon'
---
<div class="eko-main-content">
<h1 class="eko-header">Ekō</h1>
<p class="eko-intro-paragraph">When SumOfUs was founded 11 years ago, we were a small corporate accountability group mostly campaigning in the US. But over the years, we’ve grown to be a 20 million strong community, operating in 7 languages, and making impact in every corner of the world. Our charming math-pun name has served us tremendously over the years, but isn’t quite right anymore given our evolution.
</p>
 <p class="eko-intro-paragraph">We have evolved to be a truly global community, and it’s time for us to rebrand into something that represents both the power and diversity of our work.
</p>
<h2>Welcome to the global community of Ekō! Where we will continue to fight together for people and planet over profits.</h2>

<img class="eko-logo" src="https://s3.amazonaws.com/s3.sumofus.org/images/editor-2022-12-13-2.gif" />

<p class="eko-intro-paragraph">Thank you for being part of this process of change and for your continued commitment to growing our impact around the world – representing both the power and diversity of our membership and work. 
</p>
