---
title: 'شكراً لك!'
---
<div class='opted_out_msg'>
تمّ حذف اسمك من القائمة البريدية التي نوجّه لها حملات جمع التبرّعات. شكراً جزيلاً لدعمك لنا<span class='member_name'>[NAME]</span>. إذا كان طلب الخروج من القائمة قد حدث خطأً، يمكنك طلب الدخول إلى القائمة من جديد عبر الضغط <a href="#" id="opt_in_link">هنا</a>.
</div>

<div class="text-center m-t-40">
<a href="https://sumofus.org">العودة إلى صفحة SumOfUs الرئيسية.</a>
</div>

<%= partial 'تمّ_الخروج' %&gt;