---
title: 'شكراً لإعلامنا. أمامك خطوةٌ أخيرةٌ بعد...'
---
<p class='text-left'>
لا تقبل SumOfUs أيّ تبرّعاتٍ من أيّ شركاتٍ أو حكومات. تمويلنا يأتي بمعظمه من تبرّعاتٍ صغيرةٍ يمنحنا إيّاها أعضاؤنا. لذا فالمراسلات التي نجمع عبرها التبرّعات تعتبر أساسيّة لاستمرار حملاتنا. نحن نعلم بالطبع أن التبرّع ليس في مقدور الجميع ونقدّر ذلك. تحرّكنا يهدف إلى وضع الشركات أمام مسؤوليّاتها. لذا، فمهما كانت وسيلتك لدعمنا، سواء عبر توقيع العرائض أو دعوة السياسيين في بلدك إلى التحرّك أو مشاركة الحملات على وسائل التواصل الاجتماعي أو التبرّع، فنحن نثمّنها بشكلٍ متساوٍ.
<br /><br />
ثمة خطوةٌ أخيرةٌ قبل أن نلغي اسمك من قائمة متلقّي رسائل جمع التبرّعات لهذا العام. يُرجى تأكيد عنوانك البريدي أدناه. </p>

<%= partial 'optout' %>
<%= partial 'rtl' %>