---
# title: 'Privacy Policy'
---
<div class="privacy-main-content">
<h1 class="privacy-header">سياسة الخصوصية</h1>
<p class="privacy-intro-paragraph1"> SumOfUs تحترم خصوصيّتك إلى أقصى الحدود وتتعامل بجديةً مطلقةٍ مع حقوقك. يفنّد إشعار الخصوصيّة هذا ممارساتنا الخاصة بجمع المعلومات وكيفية معالجتها، كما يحدّد الخيارات المتاحة لك والحقوق التي تتمتّع بها في ما يخصّ طريقة استخدامنا لمعلوماتك الشخصية.</p>
 <p class="privacy-intro-paragraph2">يؤدّي مجتمع SumOfUs المكوّن من ملايين الأعضاء دور المراقب العالمي للشركات، بحيث نطلق حملاتٍ ونحقّق أهدافها المتمثّلة في دفع الشركات العالمية إلى تحمّل مسؤوليّاتها. وكي نتمكّن من إطلاق حملاتٍ ناجحةٍ في المكان والزمان اللذين يحتّمان تدخّلنا بشكلٍ عاجل، يتوجّب على SumOfUs الاحتفاظ بقاعدة بياناتٍ تحتوي على وسائل التواصل مع الأعضاء والخطوات التي اتخذوها عبر موقعنا. نحفظ هذه المعلومات بشكلٍ آمن ولا نقوم أبداً ببيعها أو تأجيرها لأيّ جهةٍ كانت. يرجى قراءة ما يلي للاطّلاع على المزيد من التفاصيل. إليك جدول محتويات هذا الإشعار (يمكنك الضغط على العنوان الذي يهمّك للاطّلاع مباشرةً على محتواه):
</p>
<div class="privacy-links-container" >
<span class="link_style" onclick="internalNav('#who-we-are')">من نحن</span>
<span class="link_style" onclick="internalNav('#what-is-this-notice-about')">ما مضمون هذا الإشعار؟</span>
<span class="link_style" onclick="internalNav('#do-you-collect-personal-information-about-me')">هل تقومون بجمع معلوماتٍ شخصيّةٍ عنّي؟</span>
<span class="link_style" onclick="internalNav('#where-do-you-get-information-about-me-from')">كيف تجمعون المعلومات الخاصّة بي ومن أين تستقونها؟</span>
<span class="link_style" onclick="internalNav('#what-information-do-you-collect-store-and-otherwise-use-about-me')" >ما هي المعلومات الشخصية المتعلّقة بي التي تجمعونها وتحفظونها وتستخدمونها؟</span>
<span class="link_style" onclick="internalNav('#how-and-why-will-you-use-my-information')">متى تستخدمون معلوماتي وما كيفية استخدامها؟</span>
<span class="link_style" onclick="internalNav('#overview-of-how-we-use-your-information', '#how-and-why-will-you-use-my-information')">٦(١). كيفية استخدامنا للمعلومات الخاصّة بك</span>
<span class="link_style" onclick="internalNav('#further-detail-on-some-of-our-practices', '#how-and-why-will-you-use-my-information')">٦(٢). تفاصيل إضافية حول ممارساتنا</span>
<span class="link_style" onclick="internalNav('#what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information')">ما هو الأساس القانوني لقيامكم بجمع معلوماتي الشخصيّة واستخدامها؟</span>
<span class="link_style" onclick="internalNav('#what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them')">ما هي حقوقي في ما يتعلّق باستخدامكم لبياناتي الشخصيّة، وكيف أمارس هذه الحقوق؟</span>
<span class="link_style" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">لا أريد أن أتلقّى رسائلكم البريدية ومراسلاتكم الأخرى بعد الآن</span>
<span class="link_style" onclick="internalNav('#is-my-information-secure')">هل معلوماتي آمنة؟</span>
<span class="link_style" onclick="internalNav('#will-you-share-my-information')">هل تشاركون بياناتي؟</span>
<span class="link_style" onclick="internalNav('#will-you-send-my-personal-information-abroad')">هل ترسلون بياناتي الشخصية إلى الخارج؟</span>
<span class="link_style" onclick="internalNav('#how-long-will-you-keep-my-personal-information')">إلى متى ستحتفظون بمعلوماتي الشخصيّة؟</span>
<span class="link_style" onclick="internalNav('#do-you-collect-personal-information-about-children')">هل تجمعون معلومات الأطفال الشخصيّة؟</span>
<span class="link_style" onclick="internalNav('#general-provisions')">أحكامٌ عامّة</span>
<span class="link_style" onclick="internalNav('#links-and-third-parties', '#general-provisions')">١٥(١) الروابط والأطراف الثالثة</span>
<span class="link_style" onclick="internalNav('#changes-to-this-privacy-notice', '#general-provisions')">١٥(٢) التغييرات الطارئة على إشعار الخصوصية </span>
<span class="link_style" onclick="internalNav('#user-contributions')">مساهمات المستخدمين</span>
<span class="link_style" onclick="internalNav('#how-do-i-contact-you')">كيف أتواصل معكم؟</span></div>
<div class="spacer"></div>
<div class="who-we-are">
<h2 class="privacy__question" id="who-we-are">من نحن</h2>
<div class="privacy__answer hidden-closed" >
<p>نحن SumOfUs، مجتمعٌ قوامه أعضاءٌ من جميع أنحاء العالم اتّفقوا على ضرورة كبح السلطة المتزايدة التي تتمتّع بها الشركات. SumOfUs مسجّلة رسميّاً في الولايات المتحدة الأميركية كمنظّمة رعاية اجتماعية غير ربحيّة 501(c)(4). 

وفقاً لقانون الاتحاد الأوروبي لحماية البيانات (GDPR)، نحن نُعدّ في خانة "المراقب" للمعلومات، أي إننا نجمع المعلومات الخاصّة بك عندما تتفاعل معنا، ونحدّد من جهتنا كيفية استخدام هذه البيانات. أعضاء SumOfUs ومتابعونا موزّعون في جميع أنحاء العالم. في الواقع أكثر من ٣ مليون و٤٠٠ ألف عضوٍ من أعضاء مجتمعنا اتّخذوا بالفعل خطواتٍ لمحاربة نفوذ الشركات. وبما أننا منظّمة أميركية، يستوجب قانون الاتحاد الأوروبي لحماية البيانات أن نعيّن "ممثّلاً" لنا في أحد بلدان الاتحاد الأوروبي، ليتمّ التواصل معه في حال وجود أي أسئلةٍ أو استفساراتٍ حول حماية البيانات. ممثّلنا المقيم في الاتحاد الأوروبي هو أوين دوبسكي، هو متواجدٌ في هولندا، ويمكن التواصل معه عبر الوسائل الآتية:</p>

<p>إيميل:  privacy@sumofus.org</p>

<p>هاتف: ٠٠٣١٧٠٢٥٠٠٢٩٢</p>

<p>عنوان البريد: شارع مونيكين، منزل٢٣، ١٠٤٩، ص.ب: ١٠١٢، أمستردام، هولندا</p>

<p>من الضروري الاطّلاع على كيفية استخدام المنظّمات لبياناتك والمعلومات الخاصة بك، وعلى أسباب هذا الاستخدام. لذا فإننا هنا سنحاول إطلاعك على ذلك بأعلى درجةٍ ممكنةٍ من الوضوح (في ما يُعرف قانونياً بتسمية "إشعار الخصوصيّة"). إذا كانت لديك أي أسئلةٍ لم تتمّ الإجابة عنها من خلال هذا الإشعار، أو أيّ استفسار آخر، يُرجى التواصل معنا عبر الضغط على رابط <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">"كيف أتواصل معكم؟".</span></p>
</div>
</div>
<div class="what-is-this-notice-about">
<h2 class="privacy__question" id="what-is-this-notice-about">ما مضمون هذا الإشعار؟</h2>
<div class="privacy__answer hidden-closed" >
<p>يشرح إشعار الخصوصيّة هذا كيفية استخدام SumOfUs للمعلومات التي يتمّ جمعها حول الأشخاص الذين يتفاعلون معنا أو الذين نودّ التواصل معهم. نحن ملتزمون بحماية خصوصيّتك عبر الإنترنت. أعضاء فريق عملنا هم أعضاءٌ في المنظمة أيضاً، ونحن نلتزم بحماية خصوصيّة جميع أعضائنا وإيلائها الاهتمام نفسه الذي نوليه لخصوصيّة أفراد طاقم العمل. لذا فإننا نحترم المعلومات الشخصيّة التي تتم مشاركتها معنا ونحفظها بشكلٍ آمن. قد نقوم بتعديل سياسة الخصوصية الخاصة بنا أحياناً، لذا ننصحك بزيارة هذه الصفحة من وقتٍ إلى آخر للاطّلأع على كافة التحديثات. عند زيارة موقعنا ستظهر لك التحديثات الأخيرة في خانة <span class="link_style2" onclick="internalNav('#changes-to-this-privacy-notice', '#general-provisions')">"التحديثات على سياسة الخصوصيّة"</span>. </p>
</div>
</div>

<div class="do-you-collect-personal-information-about-me">
<h2 class="privacy__question" id="do-you-collect-personal-information-about-me">هل تقومون بجمع معلوماتٍ شخصيّةٍ عنّي؟</h2>

<div class="privacy__answer hidden-closed" >
<p>نعم، نجمع معلوماتٍ شخصيّةً عنك، ونخضع للقانون عندما نجمع هذه المعلومات. لذا فإننا نلتزم بالقانون في استخدامنا لبياناتك، وبما وافقت عليه شخصيّاً، من إضافة بعض تفاصيل الموقّعين على الحملات، إلى تخصيصك بالمراسلات حول المواضيع التي تعنيك، وإطلاق حملات جمع التبرّعات والتحقّق من فاعليّة حملاتنا وأنشطتنا. يمكنك الاطّلاع على جميع طرق استخدامنا لمعلوماتك وأسباب ذلك الاستخدام في خانة <span class="link_style2" onclick="internalNav('#where-do-you-get-information-about-me-from')">"كيف تجمعون المعلومات الخاصّة بي"</span> و<span class="link_style2" onclick="internalNav('#how-and-why-will-you-use-my-information')">"طرق استخدام معلوماتي وأسباب هذا الاستخدام".</span></p>
</div>
</div>
<div class="where-do-you-get-information-about-me-from">
<h2 class="privacy__question" id="where-do-you-get-information-about-me-from">كيف تجمعون المعلومات الخاصّة بي ومن أين تستقونها؟</h2>

<div class="privacy__answer hidden-closed" >
<p>عندما يتفاعل الأفراد مع مراسلاتنا وموقعنا، فإننا نعتبر أنهم "اتّخذوا خطوة" معنا. مثلاً إذا وقّع شخصٌ عريضةً على موقعنا أو تبرّع لنا بمبلغٍ ما أو راسَلَنا، فيكون هذا الشخص قد اتّخذ "خطوةًً" في تفاعله معنا. وبحسب الخطوة المتّخذة من قبلك، قد نطلب إليك تزويدنا ببعض المعلومات عنك أو قد نستحصل على هذه المعلومات مباشرة. إليك المزيد من التفاصيل حول ذلك أدناه. </p>

<p>نجمع المعلومات الشحصيّة التي يتمّ تزويدنا بها من قِبَلك مباشرةً عند اتّخاذ إحدى الخطوات التالية مثلاً:</p>
<ul>
<li>توقيع عريضة على "الموقع" الإلكتروني (sumofus.org أو actions.sumofus.org)؛</li>
<li>التسجيل عبر الموقع كداعمٍ/ةٍ لنا؛</li>
<li>التبرّع لنا</li>
<li>الاتصال بنا عبر الهاتف أو البريد الإلكتروني أو قنوات التواصل الاجتماعي أو عبر نموذج التواصل الموجود على موقعنا؛</li> 
<li>مشاركة حملاتنا والمحتوى المنشور من قِبَلنا (عبر الإيميل أو وسائل التواصل الاجتماعي وغيرها من الوسائل المشابهة)؛</li>
<li>توقيع عريضةٍ مشتركة مع طرفٍ ثالث والموافقة الشخصية على مشاركة بياناتك معنا؛</li> 
<li>توجيه وإرسال رسالةٍ إلكترونيّةٍ أو تغريدة أو الاتصال بأحد المستهدفين بحملاتنا عبر قنواتنا؛</li>
<li>ملء الاستبيانات التي نرسلها لك والمتعلّقة بمدى رضاك عن أدائنا أو بآرائك حول بعض القضايا الاجتماعيّة</li>
</ul>

<p>كما نجمع بياناتك بشكلٍ غير مباشر من خلال إحدى الخطوات المذكورة أدناه:</p>
<ul>
<li>متابعة قنوات التواصل الاجتماعي الخاصة بنا والتفاعل معنا عبرها؛</li> 
<li>الضغط على رابطٍ خاص بSumOfUs (من مثل أن يقوم صديقٌ لك بمشاركة رابط إحدى حملاتنا معك عبر الإيميل أو إحدى قنوات التواصل الاجتماعي الخاصة بنا فيتمّ الضغط على هذا الرابط من قبلك)؛</li>
<li>تُشاركنا أطرافٌ خارجيّةٌ المعلومات التي بحوزتها، من مثل مؤسساتٍ ومنظّماتٍ نعمل معها، ومزوّدي خدمات البحث ومعالجة عمليات الدفع؛</li>
<li>قد تكون معلوماتك الشخصيّة متاحةً لنا وللعموم من مصادر خارجيّة مُتاحة للعموم هي أيضاً. فمثلاً إذا كانت الإعدادات الخاصّة بخصوصية حسابك على وسائل التواصل الاجتماعي تتيح ذلك، يمكننا الاطّلاع على معلوماتك عبر هذه الوسائل (مثلاً إذا تفاعلت معنا على قنوات فيسبوك أو إنستغرام أو تويتر).</li>
<li>زيارة موقعنا الإلكتروني. إذا قمت بزيارة موقعنا الإلكتروني، نجمع تلقائيّاً المعلومات التالية عنك:</li>
  <li>بياناتك التقنيّة، من مثل عنوان بروتوكول الإنترنت (IP) المُستخدم من قِبَلك للاتّصال بالإنترنت، ومتصفّح الويب وتاريخ إصداره والنطاق الزمني حيث أنت، وأنظمة التشغيل والأنظمة الأساسية.</li>
  <li>معلومات حول زياراتك للمواقع الإلكترونيّة، بما في ذلك تدفق النقرات إلى الموقع وعبره ومنه (مع التاريخ والوقت)، والخدمات التي قمت بالبحث عنها أو بمشاهدتها، والأوقات التي تستغرقها الصفحة للاستجابة، وأخطاء التحميل، ومدة زيارة بعض الصفحات ومصادر الإحالة ومعلومات تفاعل الصفحة (مثل تمرير الصفحة إلى الأسفل والروابط أو العناوين التي يتمّ الضغط عليها) والطرق المستخدمة لمغادرة الصفحة والانتقال إلى غيرها. </li> 
  <li>بجمع معلوماتك الشخصية باستخدام ملفات تعريف الارتباط على موقعنا - يرجى الاطلاع على إشعار <span class="link_style2" onclick="internalNav('#cookie-notice', '#how-and-why-will-you-use-my-information')">ملفات تعريف الارتباط الخاص بنا.</span></li>
</ul>
<p>بشكل عام، قد نقوم بدمج معلوماتك الشخصية من هذه المصادر المختلفة للأغراض المنصوص عليها في هذه السياسة.</p>
</div>
</div>

<div class="what-information-do-you-collect-store-and-otherwise-use-about-me">
<h2 class="privacy__question" id="what-information-do-you-collect-store-and-otherwise-use-about-me">ما هي المعلومات الشخصية المتعلّقة بي التي تجمعونها وتحفظونها وتستخدمونها؟</h2> 

<div class="privacy__answer hidden-closed" >
<p>قد نقوم بجمع المعلومات الشخصية الآتية عنك وبحفظها واستخدامها: </p>
<ul>
<li>اسمك ومعلومات التواصل الخاصة بك، بما في ذلك عنوانك الفعلي وعنوان بريدك الإلكتروني ورقم هاتفك (عند تزويدنا بها من قِبَلك)؛</li>
<li>الحملات التي وقّعت عليها، وتعليقاتك حولها لدعمها؛</li>
<li>أيّ معلوماتٍ نُزّوَّد بها عبرك عند توقيعك على عريضةٍ ما. على سبيل المثال قد نسألك إذا كنت من مستهلكي بضائع أو خدمات إحدى الشركات المحدّدة المستهدفة في الحملة، أو من موظّفيها؛</li>
<li>المعلومات التي نُزَوَّد بها عبرك عند ملء الاستبيانات التي نرسلها لك لاستطلاع مدى رضاك عن أدائنا أو رأيك بقضايا اجتماعية وسياسية مُعَيَّّنة؛</li>
<li>المعلومات المالية التي تردنا من قبلك. يرجى مراجعة الفقرة ٦(و) للاطّلاع على كيفية معالجة المعلومات المصرفية؛</li>
<li>الخطوات التي اتّخذتها معنا، من مثل حضور المناسبات التي نطلقها، أو إرسال بريدٍ إلكترونيّ لدعم إحدى حملاتنا، أو التبرّع لنا؛</li> 
<li>تبرّعاتك لنا بما في ذلك المبالغ المُتبَرّّع بها والتواتر الزمني للتبرّعات؛</li> 
<li>المعلومات التي زوّدتنا بها عند تواصلك معنا، سواء عبر الهاتف أو الإيميل أو عبر مراسلتنا على وسائل التواصل الاجتماعي أو عبر موقعنا؛</li>
<li>ارتباط حسابك بحساب عضوٍ آخر (مثالٌ على هذا الارتباط هو أن يقوم شخصٌ ما بتوقيع إحدى عرائضنا بسبب مشاركتك لإحدى حملاتنا)؛</li> 
<li>القضايا التي نعتقد أنها تثير اهتمامك بالاستناد إلى الخطوات المتّخذة من قِبَلِك والقضايا التي تفاعلت معنا بشأنها. فعلى سبيل المثال قد نشير إلى اهتمامك بقضايا المناخ أو الضرائب؛</li>
<li>اللغة التي تصلك رسائلنا بها؛</li> 
<li>التفضيلات التي اعتمدتها عند التسجيل معنا؛</li>
<li>متصفّح الويب وبيانات التصفّح (اسم متصفّح الويب ونوع الجهاز وعنوان بروتوكول الإنترنت IP ومصدر الإحالة، زيارتك لموقعنا ومدّتها والروابط التي ضغطت عليها، وعدد مرّات مشاهدة الصفحة)؛</li>
<li>معلومات ملفّك الشخصي على وسائل التواصل الاجتماعي حيثما أُتيحت لنا؛</li>
<li>أيّ معلومات أخرى مقدّمة لنا أو مستقاة من قِبَلِنا كما هو موضّح في الفقرة <span class="link-style" onclick="internalNav('#where-do-you-get-information-about-me-from')">"كيف تجمعون المعلومات الخاصة بي ومن أين تستقونها"</span> من إشعار الخصوصية هذا.</li> 
</ul>
<p class="sub-heading" >فئاتٌ خاصة من المعلومات الشخصيّة</p>

<p>بموجب قانون الاتحاد الأوروبي لحماية البيانات (GDPR)، تُعّدّ بعض أنواع المعلومات الشخصية حساسة وتتطلب حمايةً إضافية. تُعرف هذه المعلومات ب "الفئات الخاصة من البيانات الشخصية" وتتضمّن معلوماتٍ حول الصحّة والعرق والآراء السياسية.</p> 

<p>نحن لا نسعى إلى جمع معلوماتك الشخصية الحساسة أو تخزينها أو معالجتها بأي طريقة (أي معلومات عن العرق أو الإثنية أو الآراء السياسية أو المعتقدات الدينية أو الفلسفية ، إلخ). ولن نجمع أيّاً من معلوماتك الحساسة أو نستخدمها سوى إذا كان هناك سبب وجيهٌ لذلك يقرّه القانون. المثال الأكثر ترجيحًا والذي نجمع فيه معلوماتٍ عنك من فئة البيانات الخاصّة هو إذا قمت بالتوقيع على عريضة تعبّر عن رأيٍ سياسي أو إذا تطوّعت بالإفصاح عن مثل هذه المعلومات عند التواصل معنا.</p> 

<p>في بعض الأحيان يرسل لنا مؤيّدونا بريداً إلكترونياً أو يتصلون بنا بطريقةٍ أخرى ويقدّمون معلوماتٍ شخصيةً من فئة البيانات الخاصة، حتى عندما لم نطلب منهم ذلك. على سبيل المثال، قد يرسل لنا أحد المؤيدين بريدًا إلكترونيًا يشرح سبب عدم قدرته على التبرّع وقد تحتوي رسالته على معلومات حساسة حول ظروفه الشخصية. نحثّ المؤيدين على عدم الإفصاح عن معلوماتٍ خاصة حساسة بهذه الطريقة.</p>

<p>عندما نتلقّى هذا النوع من المعلومات، فإننا نهدف إلى حذفها من أنظمتنا (علماً أن هذه المعلومات أو معلوماتٍ أخرى من رسالتك قد تبقى  في سجلات الخادم وفي الأنظمة الخاصة بمزوّدي خدمة البريد الإلكتروني، مثل Google Mail، وذلك وفقًا لإجراءاتهم الخاصة).</p> 
</div>
</div>

<div class="how-and-why-will-you-use-my-information">
<h2 class="privacy__question" id="how-and-why-will-you-use-my-information">متى تستخدمون معلوماتي وما كيفية استخدامها؟</h2> 
<div class="privacy__answer hidden-closed" >
<h3 class="sub-heading" id="overview-of-how-we-use-your-information">٦(١). كيفية استخدامنا للمعلومات الخاصّة بك</h3>سوف نستخدم معلوماتك للأغراض المنصوص عنها في هذا الإشعار. بشكلٍ خاص قد نستخدم معلوماتك الشخصيّة:
<ul>
 <li>لتسهيل توقيعك على حملاتنا وملء الاستبيانات التي نرسلها لك وتسليم العرائض والاستبيانات إلى الجهات المستهدفة بها؛</li>
<li>للتحقّق من توقيعك ومن وروده بشكلٍ صحيح ضمن لائحة الموقّعين؛</li>
<li>لتزويدك بالخدمات والمعلومات التي قمت بطلبها من مثل تسهيل إضافة توقيعك إلى العرائض الواردة على موقعنا؛</li>
<li>لتزويدك متى ما أمكن ذلك بمحتوىً باللغة المفضّلة لديك؛</li>
<li>لتمكين مشاركتك في برامجنا وأنشطتنا وحملاتنا ومبادرات جمع التبرّعات وتسهيل هذه المشاركة وإدارتها؛</li>
<li>لمعرفة مدى استعدادك للمساعدة في عملنا وحملاتنا وأنشطتنا. مثالٌ على ذلك عندما تستهدف إحدى حملاتنا شركةً ما فنسألك إن كنت من المساهمين في هذه الشركة التي ننوي استهدافها عبر تقنيات الضغط على المساهمين، أو إذا كان دورك أو علاقاتك يسهّلان عملنا أو أنشطتنا وحملات جمع التبرّعات؛</li>
<li>لمعالجة تبرّعاتك، أو لإرجاع مبالغ تبرّعت بها لنا؛</li>
<li>لمعالجة طلبك الانضمام إلى أعضاء SumOfUs؛</li> 
<li>لإطلاعك على المستجدات الخاصة بعملنا وخدماتنا ونشاطاتنا وحملات جمع التبرّعات التي نعتقد أنها ستهمّك (وذلك في حال وصلتنا موافقتك على استلام هذه التحديثات)؛</li> 
<li>لقياس وتحليل مدى فاعلية عملنا وحملاتنا وخدماتنا وحملات جمع التبرّعات التي نطلقها ومعلوماتنا، بما في ذلك موقعنا الإلكتروني وقنوات التواصل الاجتماعي الخاصة بنا؛</li> 
<li>لإدارة موقعنا والحفاظ على أمن الموقع وسلامته، والتأكّد من تقديم المحتوى لك بأكثر الطرق فاعليّةً وتلاؤماً مع جهازك المستخدم للتصفّح؛</li> 
<li>للتدقيق في أنظمتنا وقواعد بياناتنا، وإدارتها؛</li>
<li>للوفاء بالالتزامات القانونية المفروضة علينا، في علاقتنا على سبيل المثال بالجهات التنظيمية، والحكومية، والجهات المعنيّة بإنفاذ القانون التي نعمل معها (من مثل المتطلّبات المتعلّقة بالضرائب وتبييض الأموال)؛</li>
<li>لتجنّب الاحتيال أو إساءة استخدام خدماتنا؛</li>
<li>لرفع دعاوى ومتابعتها وإنفاذ الأحكام الصادرة بشأنها.</li>
</ul>
<h3 class="sub-heading" id="further-detail-on-some-of-our-practices">٦(٢). تفاصيل إضافية حول ممارساتنا</h3>


<p>في ما يلي شرحٌ للمزيد من التفاصيل حول بعض الطرق التي قد نستخدم بها معلوماتك الشخصية .الخصوصيّة أمرٌ بالغ الأهمية، وقد عمل تحرّكنا من قبل على حملاتٍ تتعلّق بخصوصية البيانات وتطالب بها. فنحن نؤمن بشدّة بضرورة أن يطّلع الأفراد على الطريقة التي تقوم بها الشركات باستخدام بياناتهم الشخصية. كما أننا ندرك أن هذا الاستخدام، لا سيما الجزء غير المعلن منه، قد يثير تساؤلات الأفراد لا سيما حين يتضمّن الأمر تكنولوجيا ما تبدو غير شفّافةٍ أو عصيّةً على الفهم. لذلك فإننا نفنّد أدناه المزيد من التفاصيل حول بعض الممارسات التي نقوم بها والتي قد تبدو غير واضحةٍ للبعض أو غير متوقّعة.</p> 

<p class="sub-heading">(أ) برنامج المانحين</p>

<p>بهدف توسيع حملات جمع التبرّعات لتوسيع عمل حركة SumofUs ككلّ، وتحقيق أهدافنا والتمسّك بمثلنا، وبهدف التعبير عن امتناننا لدعمك لنا بشكلٍ ملائم، قد نعمد إلى تحديد بعض المتبرّعين الذين زادت تبرّعاتهم عن حدٍّ معيّن في قاعدة بياناتنا كمانحين رئيسيين. وقد يتلقّى المانحون الرئيسيون مراسلاتٍ خاصّة من قبلنا، تُرسل لهم عبر البريد الإلكتروني أو الرسائل عبر الهاتف (على أن يكون هذا التواصل قانونياً، ومثالٌ على ذلك أن يكونوا قد وافقوا أنفسهم على تلقّي مراسلاتنا الخاصة بالحملات أو جمع التبرّعات)، كما قد تصلهم منّا رسائل شكرٍ شخصيّة لدعمهم، ولبحث سبل تمتين العلاقة القائمة بين SumOfUs وبينهم.</p>   

<p class="sub-heading">(ب) فهم مؤيّدينا</p>

<p>تستخدم SumOfUs بيانات مؤيّديها وأعضائها والأشخاص الذين يتواصلون معها لتسجيل اهتماماتك وتفضيلاتك وذلك بهدف توجيه مراسلاتنا لك بحسبها، ولنتمكّن من زيادة فاعلية عملنا وتعزيز قدرتنا على جمع التبرّعات. قد يتطلّب ذلك أحياناً التوصّل إلى استنتاجاتٍ عنك من خلال معلوماتٍ عنك جمعناها بهدف تزويدك بالمعلومات حول المواضيع التي تهمّك (مثلاً إن كنت قد وقّعت على عرائض تطالب الشركات بتخفيض نسبة استهلاكها للبلاستيك وعلى حملاتٍ أخرى معنيّة بالنحل، فإننا قد نسجّل في قاعدة بياناتنا اهتمامك بالقضايا البيئية.</p>π

<p>التسويق الإلكتروني والإعلانات الرقمية ننخرط ببعض ممارسات التسويق الإلكتروني والإعلانات على الإنترنت بهدف توسيع نشاطاتنا لنحقّق أهدافنا ومُثُلنا. اغلب إعلاناتنا لا تتطلّب مشاركة بياناتك الشخصية مع طرفٍ ثالث. على سبيل المثال قد نعرض إعلاناتٍ لنا بحسب كلمات البحث عبر إعلانات غوغل كما قد نعرض إعلاناً كلافتةٍ على مواقع إلكترونية لجهاتٍ ثالثة. في بعض الحالات قد تقرّر هذه الجهات المشغّلة للإعلانات إظهار إعلاناتٍ محدّدة لك بالاستناد إلى معلوماتٍ عنك جمعتها هذه الجهات بشكلٍ منفصل. لن نقوم في أي وقتٍ من الأوقات بمشاركة هذه الأطراف الثالثة معلوماتٍ تؤدي إلى تحديد هويّتك أو أي معلوماتٍ شخصيةٍ شاركتنا إياها. يعتمد الأمر على استخدامنا لملفات تعريف ارتباطٍ تابعة لأطراف ثالثة يمكنك تعطيل استخدامها أثناء تصفّحك موقعنا، وذلك من خلال الإعدادات الخاصة بالمتصفّح المستخدَم.</p>  

<p>قد نستخدم أيضاً سبل الإعلان عبر وسائل التواصل الاجتماعي بما في ذلك فيسبوك وتويتر. في بعض الأحيان قد نستخدم بعضاً من معلوماتك الشخصية ونشاركها مع فيسبوك حين نلجأ إلى استخدام خاصية "الجمهور المخصّص" التي تتيح لنا التواصل مع أعضائنا الحاليين والمحتملين وإظهار إعلاناتنا لهم. نقوم بذلك بطريقة آمنة ومشفرة ولا ننخرط في أي من الممارسات المعروفة باسم "الاستهداف الدقيق".</p>

<p>يرجى الاطلاع على <a href="https://www.facebook.com/ads/manage/customaudiences/tos.php" target="_blank">"شروط الجماهير المخصّصة من قائمة العملاء"</a>.</p>

<p class="sub-heading">(ج) المراسلات الخاصّة بالحملات</p>  

<p>قد نستخدم عناوين التواصل الخاصة بك لتزويدك بالمعلومات حول عملنا وحملاتنا ونشاطاتنا وخدماتنا وحملات جمع التبرّعات التي نعتقد أنها تدخل ضمن اهتماماتك (مثل التحديثات حول حملات جمع التبرّعات أو حول الحملات التي وقّعت عليها، أو طلبات إضافة توقيعك إلى حملاتٍ جديدة أو معلوماتٍ عن هذه الحملات).</p> 

<p>حين نقوم بذلك سواء عبر البريد الإلكتروني أو الرسائل المباشرة إذا كان حسابك خاصاً أو الرسائل النصية القصيرة أو خدمات المراسلة الهاتفية الفورية المماثلة أو عبر الهاتف (إذا كنت قد أدخلت التواصل الهاتفي في تفضيلاتك)، فسيكون ذلك تبعاً لموافقتك المباشرة على التواصل معك. ذلك أننا نطلب موافقتك الشخصيّة حين نتواصل معك للمرّة الأولى. في حال عدم رغبتك بتلقّي مراسلاتنا وحملاتنا وأنشطتنا من الآن فصاعداً رغم موافقتك السابقة على ذلك، يمكنك إلغاء اشتراكك في أي وقت. يرجى الاطلاع على فقرة <span class="link_style2" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">"لا أريد أن أتلقّى رسائلكم البريدية ومراسلاتكم الأخرى بعد الآن"</span> الواردة ضمن إشعار الخصوصية هذا. </p> 

<p class="sub-heading">(د) معالجة التبرّعات ومعلومات بطاقة الائتمان</p> 

<p>عند استخدام وظيفة التبرّع الآمن عبر الإنترنت، سيتم توجيهك إلى مزود خدمات الدفع المتخصص الذي سيتلقى معلوماتك المالية لمعالجة المعاملة. لن نقدم من معلوماتك الشخصية إلى مزود خدمات الدفع إلا القدر اللازم لغرض معالجة تبرعك. عندما تتبرّع ل SumOfUs عبر الإنترنت، فإننا نجمع معلومات بطاقة الائتمان منك. تُستخدم هذه المعلومات فقط لمعالجة مساهمتك؛ لا يتم صيانتها بواسطة SumOfUs؛ ولا يتم الكشف عنها لأي شخص، لأي غرض آخر بخلاف معالجة مساهمتك. عند المساهمة من خلال تبرّعِ سريع، يتم تخزين تفاصيل بطاقتك بواسطة مزوّد الدفع لدينا، Braintree Payments (المملوكة من قبل Paypal) ، والذي لديه ضمانات أمان قوية ويتعامل مع مليارات الدولارات من المدفوعات كل عام.</p>

<p class="sub-heading" id="cookie-notice">(ه) ملفّات تعريف الارتباط وتتبّع البيانات</p>

<p>بهدف خدمة مؤيّدينا بشكلٍ أفضل، نستخدم ملفّات تعريف الارتباط ونحلّل بيانات الويب بشكلٍ دوري. تُستخدم بعض ملفّات تعريف الارتباط لملء النماذج بشكلٍ مسبق بمعلوماتك، بحيث لا تحتاج إلى تكرار إدخال معلوماتك مع كلّ زيارةٍ لموقعنا. يمكنك تعديل الإعدادات الخاصّة بالمتصفّح المستخدم من قبلك لإلغاء ملفّات تعريف الارتباط لكنك عندها تخسر إمكانية ملء النماذج عنك بشكلٍ مسبق كما أن بعض أقسام موقعنا قد تصبح غير متاحةٍ لك. قد نلجأ أيضاً إلى خدمات أطراف خارجيّة من مثل نظام تحليلات غوغل Google Analytics، فهي تساعدنا في فهم أنماط زيارة موقعنا وتصفّحه، كما تسهّل علينا معرفة ما إذا كانت هناك مشاكل في موقعنا. قد نستخدم أيضًا الصور المضمنة في رسائل البريد الإلكتروني لتتبّع معدلات فتح رسائلنا البريدية، حتى نتمكن من تحديد الرسائل البريدية التي تهمّ معظم مؤيدي SumOfUs.</p>

<p>يتم نقل المعلومات التي تم جمعها بواسطة ملف تعريف الارتباط حول استخدامك لموقعنا (بما في ذلك عنوان بروتوكول الإنترنت الخاص بك) إلى غوغل وتخزينها على خوادم في الولايات المتحدة. يجوز لغوغل أيضًا نقل هذه المعلومات إلى جهات خارجية حين تكون غوغل مطالبةً قانونًا بذلك، أو حين تعالج هذه الجهات الخارجية المعلومات نيابةً عن غوغل. يمكن لغوغل دمج عنوان بروتوكول الإنترنت الخاص بك مع أي بيانات أخرى تحتفظ بها غوغل. باستخدام هذا الموقع، فإنك توافق على معالجة البيانات بواسطة غوغل بالطريقة الموضحة أعلاه وللأغراض المحدّدة أعلاه.</p>

<p>قد تحتوي عناوين الصفحات (URL) المضمّنة في رسائل البريد الإلكتروني على معرّف يمكّننا من التعرف بشكل صحيح إلى الشخص الذي يتخذ إجراءً أو خطوةً باستخدام صفحة ويب. نستخدم عناوين صفحات الإنترنت هذه لتبسيط عملية توقيع الحملات وملء الاستبيانات. قد نقدم أحيانًا عنواناً مختصرًا لصفحةٍ يشير إلى عنوان أطول للصفحة ذاتها يمكنك الاطّلاع عليه في شريط عنوان المتصفّح عند الوصول إلى الصفحة</p>
</div>
</div>

<div class="what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information">
<h2 class="privacy__question" id="what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information">ما هو الأساس القانوني لقيامكم بجمع معلوماتي الشخصيّة واستخدامها؟</h2>

<div class="privacy__answer hidden-closed" >
<p>يحدّد قانون الاتحاد الأوروبي لحماية البيانات عدداً من القواعد أو الأسس التي يمكن للمراقبين من مثل SumOfUs الاستناد إليها لجمع المعلومات الشخصية واستخدامها. الأسس التي نستند إليها من جهتنا لاستخدام معلوماتك الشخصيّة هي:</p>  

<p>(أ) إذا كنت قد أعربت عن موافقتك على استخدام معلوماتك الشخصيّة بطريقةٍ معيّنة (مثلاً، سنطلب موافقتك على استخدام معلوماتك الشخصية بهدف مشاركتك موادّ ترويجيّة أو محتوىً متعلّق بجمع التبرّعات عبر بريدك الإلكتروني).</p> 

<p>(ب) إذا أوجب علينا القانون ذلك (على سبيل المثال قد نُلزَم بمشاركة معلوماتك الشخصيّة مع الهيئات التنظيمية التي تحكم عملنا وخدماتنا).</p>

<p>(ج) حيث يكون ذلك ضرورةً حيويةً لك أو لشخصٍ آخر (مثالٌ على ذلك أن نعلم أثناء تواصلنا معك بحالةٍ طبيّة طارئة تستوجب تدخّلاً).</p> 

<p>(ه) حيث تستوجب "مصلحةٌ مشروعة" قيامنا بذلك (المزيد أدناه).</p>

<p>يسمح لنا قانون الاتحاد الأوروبي لحماية البيانات بجمع معلوماتك الشخصية واستخدامها إذا كان ذلك ضرورياً لتحقيق "مصالحنا" أو مصالح الآخرين "المشروعة"، أي عندما يكون هذا الاستخدام من قبلنا أو من قبل الآخرين يلبّي حاجةً أو مصلحةً مفيدة. لا يمكننا استخدام معلوماتك لمصالحنا أو مصالح الآخرين المشروعة إلا عندما يكون استخدامنا عادلاً ومتوازنًا ولا يؤثر بشكل سلبيّ على حقوقك.</p> 

<p>ونحن في اعتمادنا على هذه الأسس لجمع واستخدام بياناتك نعتبر أن المصلحة المشروعة هي العمل على تحقيق أهداف ومُثل SumOfUs كمنظمةٍ لا تبغى الربح وتسعى لتغليب المصلحة العامّة على الربح المادي، عبر منصّتها المتخصّصة في العرائض الإلكترونية.</p> 

<p>كما أننا في معالجتنا لمعلوماتك الشخصية بهدف تحقيق مثل هذه المصالح المشروعة، نراعي أي تأثيرٍ محتمل عليك أو على حقوقك المحميّة بقوانين حماية البيانات. نحن ملتزمون بحماية خصوصيتك.</p> 
</div>
</div>

<div class="what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them">
<h2 class="privacy__question" id="what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them">ما هي حقوقي في ما يتعلّق باستخدامكم لبياناتي الشخصيّة، وكيف أمارس هذه الحقوق؟</h2>

<div class="privacy__answer hidden-closed" >
<p>يحقّ لك سحب موافقتك على استخدام معلوماتك الشخصية في أي وقت. في استطاعتك في أي وقت مطالبتنا بالتوقّف عن استخدام معلوماتك الشخصية للحملات أو لأغراض جمع التبرعات وبإلغاء اشتراكك من قائمة البريد الإلكتروني الخاصة بنا (يرجى مراجعة فقرة <span class="link_style2" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">"لا أريد أن أتلقّى رسائلكم البريدية ومراسلاتكم الأخرى بعد الآن"</span> أدناه).</p>

<p>لديك أيضًا الحقوق التالية:</p>
<ul>
<li>حقّ الوصول: يمكنك التواصل معنا لمعرفة ما هي المعلومات الشخصية الخاصة بك التي نحتفظ بها ولطلب نسخة منها. وسنزوّدك بطلبك شريطة أن نكون مقتنعين بأنه يحقّ لك الاطلاع على المعلومات الشخصية المطلوبة وأن نتمكّن من التحقّق من هويتك بنجاح، مع مراعاة أي استثناءات تنطبق.</li>
<li>حقّ الحذف: بناءً على طلبك، سنقوم بحذف معلوماتك الشخصية من سجلاتنا بحسب ما يلزمنا به القانون.</li>
<li>حقّ التصحيح: إذا كنت تعتقد أن معلوماتك الشخصية المحفوظة في سجلّاتنا غير دقيقة، يحقّ لك طلب تحديث هذه السجلات. يمكنك أيضًا أن تطلب منا التحقق من المعلومات الشخصية التي نحتفظ بها عنك إذا لم تكن متأكدًا من مدى دقّتها وحداثتها. </li>
<li>الحقّ في تقييد الاستخدام: يحقّ لك طلب تقييد استخدام معلوماتك الشخصية في بعض الحالات، مثل وجود خلافٍ حول دقّتها أو استخدامها المشروع. على سبيل المثال، قد تخبرنا بأنك تعتقد أن معلوماتك الشخصيّة المحفوظة في سجلّاتنا غير دقيقة. ويحقّ لك أن تطلب منّا عدم استخدامها ريثما يتمّ التحقّق منها وتأكيدها من قبلنا.</li> 
<li>الحقّ في الاعتراض: يحقّ لك الاعتراض على معالجة بياناتك الشخصيّة إذا كنّا (١) نستخدم معلوماتك الشخصية على أساس المصالح المشروعة، أو (٢) نستخدم معلوماتك الشخصية للتسويق المباشر أو (٣) نستحدم معلوماتك لأغراضٍ إحصائيّة.</li> 
<li>الحقّ في نقل البيانات: وذلك ضمن الحدود التي يحدّدها قانون الاتّحاد الأوروبي لحماية البيانات، وإذا كنّا نعالج بياناتك الشخصية (التي شاركتنا إيّأها) إما (١) بالاعتماد على موافقتك أو (٢) لأن هذه المعالجة ضرورية لتنفيذ عقدٍ أنت طرفٌ فيه أو لاتّخاذ خطواتٍ بناءً على طلبك قبل إبرام عقد، وفي كلتا الحالتين فإننا نستخدم وسائل آلية (أي بدون مشاركة بشرية) في معالجة بياناتك. يمكنك أن تطلب منا إعطاءك نسخةً عن بياناتك الشخصيّة، أو تسليمها لمزوّد خدماتٍ آخر بتنسيقٍ يمكن قراءته آليًا.</li>
<li>الحقّ في تحديد كيفية معالجة بياناتك الشخصية بعد وفاتك: يمكنك تزويدنا بتعليماتٍ بخصوص استمرارنا في تخزين معلوماتك بعد وفاتك أو محوها أو مشاركتها، وإذا أمكن، أعلامنا بهوية الشخص الذي حدّدته لممارسة هذه الحقوق بعد وفاتك.</li>
</ul>

<p>يمكنك التواصل معنا بشأن أيّ من هذه الحقوق عبر العناوين الواردة في خانة <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">"كيف أتّصل بكم؟"</span> أدناه.</p>

<p>يرجى ملاحظة أن بعض هذه الحقوق تطبّق في حالاتٍ محدّدةٍ فقط. نقترح التواصل معنا في حال الحاجة إلى المزيد من المعلومات. قد نطلب معلوماتٍ إضافيّةٍ منك للتحقّق من هويّتك ولاعتباراتٍ أمنيّة قبل مشاركتك أيّ معلوماتٍ شخصيّة مطلوبة.</p>

<p>كما يحقّ لك التقدّم بشكوى تتعلّق بنا أو بطريقة معالجتنا لبياناتك الشخصيّة للجهة المعنيّة بحماية البيانات في بلدك. يمكنك البحث عن الجهة المكلّفة في بلدك والاطّلاع على عناوين التواصل معها <a href="https://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080" target="_blank">هنا.</a></p>
</div>
</div>

<div class="how-can-id-stop-getting-emails-and-other-communications-from-you">
<h2 class="privacy__question" id="how-can-id-stop-getting-emails-and-other-communications-from-you">لا أريد أن أتلقّى رسائلكم البريدية ومراسلاتكم الأخرى بعد الآن</h2>

<div class="privacy__answer hidden-closed" >
<p>We are sorry if you no longer wish to receive communications from us – if you would like to discuss this you can contact us at info@sumofus.org or by using any of the details set out in the ‘How do I contact you’ section below. 
If you wish to opt-out of communications from us about our campaigns, fundraising and activities where you have previously provided us with your consent then you can do so at any time via the following methods:</p> 
<ul>
<li>الضغط على رابط إلغاء الاشتراك في أسفل أي إيميلٍ وصلك بخصوص حملاتنا أو حملات جمع التبرّعات</li>
<li>الضغط على <a href="https://sumofus.org/unsubscribe">هذا الرابط</a> لإلغاء الاشتراك</li>
</ul>
</div>
</div>

<div class="is-my-information-secure">
<h2 class="privacy__question" id="is-my-information-secure">هل معلوماتي آمنة؟</h2> 

<div class="privacy__answer hidden-closed" >
<p>نحن ملتزمون بالحفاظ على أمن بياناتك الشخصية وخصوصيّتها ولدينا سياسات أمنية وتدابير تنظيمية وتقنية مناسبة لحماية معلوماتك. على سبيل المثال، لا يمكن الوصول إلى معلوماتك الشخصية إلا من قبل موظّفين ومتطوّعين ومقاولين مدرّبين بشكل مناسب، ويتم تخزينها على خوادم آمنة مع ميزات تم وضعها لمنع الوصول غير المصرّح به.</p>

<p>نظرًا لأننا مؤسسة أميركية، سيتم تخزين المعلومات الشخصية التي نجمعها عنك في وجهة خارج المنطقة الاقتصادية الأوروبية (EEA). للمزيد من التفاصيل الرجاء الاطلاع على فقرة <span class="link_style2" onclick="internalNav('#will-you-send-my-personal-information-abroad')">"هل سترسلون بياناتي الشخصية إلى الخارج؟"</span> المتاحة في هذا الإشعار.</p>
</div>
</div>

<div class="will-you-share-my-information">
<h2 class="privacy__question" id="will-you-share-my-information">هل تشاركون بياناتي؟</h2> 

<div class="privacy__answer hidden-closed" >
<p>نحن لا نقوم بمشاركة بياناتك أو بيعها أو تأجيرها لأي جهةٍ ثالثة بهدف التسويق. قد نكشف عن معلوماتك الشخصية لجهةٍ ثالثة محدّدة بهدف تحقيق الأغراض المذكورة في هذا الإشعار. عند توقيعك عريضةً على موقعنا، قد نشارك اسمك وبلدك ومدينة إقامتك مع الجهة المستهدفة بالعريضة عند تسليمها، لكننا لا نشارك أبداً عناوين التواصل الخاصة بك. في حالات كثيرة نكون متعاقدين مع هذه المنظّمات والأفراد ليؤدّوا دور "المعالج"، أي إنهم يتقيّدون بتعليماتنا ويعملون لتحقيق الأغراض المذكورة في هذا الإشعار فقط ولا يمكنهم استخدام بياناتك الشخصيّة لأغراض خاصّة بهم. على سبيل المثال نتعاقد أحياناً مع مستشارين لمساعدتنا في إدارة حملاتنا ومع مزوّدي خدماتٍ خارجيّين لإدارة وتأمين قاعدة بيانات مؤيّدينا. علماً أننا نطالب هذه الأطراف الثالثة بالالتزام بأعلى معايير خصوصية البيانات، بما في ذلك قانون الاتحاد الأوروبي لحماية المعلومات.</p>

<p>قد تتضمّن لائحة الأطراف الثالثة:</p>
<ul>
<li>المنظّمات الشريكة (فقط عند تزويدنا بموافقتك على مشاركة بياناتك مع المنظّمة الشريكة المعنيّة)؛</li> 
<li>الأفراد الذين نتعاقد معهم للمساعدة في عمليات SumofUs، مثل المستشار الإداري للأعضاء أو المحرّر الاستشاري وغيرهما؛</li> 
<li>المورّدون ومزوّدو الخدمات والمتعاقدون معنا لتنفيذ أيّ عقودٍ نبرمها معهم، من مثل مزوّدو خدمات تكنولوجيا المعلومات كشركات استضافة مواقع الويب ومزوّدو قواعد البيانات، ومضيفي الخوادم وموفّري خدمة التخزين السحابي؛</li>
<li>الشركات المالية من مثل بايبال Paypal وغوكاردليس GoCardless التي تجمع التبرّعات أو تهتمّ بمعالجتها بالنيابة عنّا؛</li>
<li>مواقع التواصل الاجتماعي؛</li>
<li>عند اتّخاذك خطوةَ معنا من مثل التوقيع على حملة، يظهر على موقعنا اسمك الأول والحرف الأول من اسم العائلة فقط؛</li> 
<li>عند توقيعك حملةً أو ملئك استبياناً على موقعنا، فإننا نتعامل مع اسمك وبلدك ومدينتك وتعليقاتك كمعلوماتٍ متاحة. على سبيل المثال قد نسلّم مجموعةً من الحملات بما فيها من تعليقاتٍ إلى الهيئة الحكومية أو الشركة أو الفرد المستهدفين بالعريضة، و/أو إلى الصحافة و/أو الجمهور الإلكتروني، وذلك بهدف إيصال رأيك ودعمك للقضيّة/الحملة المطروحة وللتأكد من إمكانية التحقّق من هوية الموقّعين. علماً أننا لن نتيح عنوان بريدك الإلكتروني للعموم، إلّا في حال أعربت لنا صراحةً عن موافقتك على ذلك أثناء استخدامك لأيّ من الأدوات المتاحة على موقعنا. SumOfUs غير مسؤولة عن أيّ استخدامٍ إضافيّ لمعلوماتك الشخصيّة من قِبَل جهةٍ مستهدفةٍ ما.</li>
</ul>
<p>قد نضطرّ إلى الإدلاء بمعلوماتك الشخصيّة إلى جهاتٍ حكوميّةٍ أو تنظيميّةٍ أو جهاتٍ معنيّةٍ بإنفاذ القانون إذا طُلِب منّا ذلك. يرجى ملاحظة أن SumOfUs ستطعن ​​في أي محاولة للوصول إلى المعلومات التي تقدّمُها لنا من قبل الجهات الحكوميّة أو الخاصّة. في حال ألزمَنا القانون بالكشف عن أي من معلوماتك، سنبذل جهدنا للاتصال بك أولاً حتى تتاح لك فرصة الاعتراض على إتاحة معلوماتك. كما أننا سنقف بصفةٍ مستقلّة في وجه أي طلب معلوماتٍ عن مستخدمي موقعنا نعتقد أنه غير ملائم.</p>

<p>قد نقرّر أيضًا الاندماج أو الشراكة مع منظّمات أخرى، وبذلك، قد نحصل على معلوماتٍ شخصيةٍ أو ننقلها، ولكن استخدام معلوماتك الشخصية لن يتجاوز الأغراض الموضَّحة أعلاه.</p>
</div>
</div>

<div class="will-you-send-my-personal-information-abroad">
<h2 class="privacy__question" id="will-you-send-my-personal-information-abroad">هل ترسلون بياناتي الشخصية إلى الخارج؟</h2>

<div class="privacy__answer hidden-closed" >
<p>كما وضّحنا أعلاه، SumOfUs منظّمة أميركيّة لديها شبكة موظّفين ومؤيّدين من جميع أنحاء العالم. لدينا مكاتب في بعض دول الاتحاد الأوروبي لكنها ليس شركاتٍ منفصلة. لذا فإن اتّخذت خطوةً معنا من محلّ إقامتك ضمن أراضي الاتحاد الأوروبي، ستُنقل بياناتك الشخصيّة عبر جهازك إلى الولايات المتحدة حيث تتواجد كلّ البنية التحتية الخاصّة بنا وذلك بهدف دعم شبكتنا ومؤيّدينا في جميع أنحاء العالم. قد تتم مشاركة معلوماتك الشخصية من قبلنا مع موظّفينا ومستشارينا على مستوى العالم ومع مقدّمي خدماتٍ آخرين في الولايات المتحدة. بعض البلدان خارج المنطقة الاقتصادية الأوروبية (بما في ذلك الولايات المتحدة) تعتمد معايير أقلّ شدّة في ما يتعلّق بحماية المعلومات الشخصية، بما في ذلك متطلباتُ أمانٍ أقلّ تشدّداً وحقوقٌ أقل للأفراد. نحن نعمل جاهدين لوضع إجراءات وقائية مماثلة في تشدّدها للإجراءات المعتمدة لحماية البيانات من قبل الاتحاد الأوروبي، كما هو منصوصٌ في إشعار الخصوصية هذا، ونطالب جميع العاملين معنا في معالجة المعلومات الشخصية، من أفرادٍ وشركات، بالالتزام بقانون الاتحاد الأوروبي لحماية البيانات، بما في ذلك الشركات الأميركية. للمزيد من المعلومات حول نقل معلوماتك الشخصية يرجى الاطّلاع على فقرة <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">"كيف أتواصل معكم؟"</span> أدناه.</p>
</div>
</div>

<div class="how-long-will-you-keep-my-personal-information">
<h2 class="privacy__question" id="how-long-will-you-keep-my-personal-information">إلى متى ستحتفظون بمعلوماتي الشخصيّة؟</h2> 

<div class="privacy__answer hidden-closed" >
<p>بشكلٍ عام نزيل بياناتك الشخصية من سجلّاتنا بعد مرور ستّة أعوامٍ على جمعها كحدّ أقصى، إلا إذا كان ثمة حاجة لهذه البيانات لتلبية الغرض الأساسي من جمعها. في حال (١) لم تعد هذه المعلومات مطلوبة لتلبية الغرض من جمعها، (٢) لم يعد لدينا حقّ استخدام بياناتك بموجب القانون، (٣) قمت بممارسة حقّك في حذف بياناتك، سوف نقوم عندها بإزالة بياناتك من سجلّاتنا قبل الفترة المحدّدة أعلاه.</p>
<p>يرجى ملاحظة أنه إذا طلبت عدم تلقّي أي رسالةٍ منّا، فسوف نحتفظ ببعض المعلومات الأساسية عنك في قائمةٍ خاصّة بالأشخاص الذين ينبغي عدم الاتصال معهم، وذلك بهدف الامتثال لطلبك وتجنّب إرسال مواد غير مرغوب فيها إليك في المستقبل.</p>
</div>
</div>

<div class="do-you-collect-personal-information-about-children">
<h2 class="privacy__question" id="do-you-collect-personal-information-about-children">هل تجمعون معلومات الأطفال الشخصيّة؟</h2> 

<div class="privacy__answer hidden-closed" >
<p>لا نجمع معلومات الأطفال الشخصيّة عن عمد، والطفل هو كلّ شخصٍ لم يتمّ السادسة عشرة من عمره. نحن نشترط على مؤيّدي SumOfUs أن يكونوا قد أتمّوا السادسة عشرة، ونطلب من المؤيّدين المحتملين تأكيد ذلك قبل مشاركتنا أيّاً من معلوماتهم الشخصيّة عند التوقيع على حملةٍ ما أو إتمام تبرّعٍ ما لصالحنا أو التسجيل كعضوٍ مؤيّدٍ معنا. إذا تبادر إلى علمنا أننا نحفظ معلوماتٍ شخصيّةً خاصّةً بأطفال، نحذفها مباشرةً. </p> 
</div>
</div>

<div class="general-provisions">
<h2 class="privacy__question" id="general-provisions">أحكامٌ عامّة</h2> 
<div class="privacy__answer hidden-closed" >
<h3 class="sub-heading" id="links-and-third-parties">١٥(١) الروابط والأطراف الثالثة</h3> 

<p>موقعنا مرتبطٌ مباشرةً بمواقع أخرى. لا يتضمّن إشعار الخصوصيّة هذه المواقع الخارجيّة ونحن غير مسؤولين عن ممارسات تلك المواقع فيما يخصّ سياسات حماية المعلومات لديها أو المحتوى الذي تقدّمه. نشجّعك على الاطّلاع على إشعار الخصوصية الخاصّ بكلّ من المواقع التي تتمّ زيارتها من خلال روابط على موقعنا.</p>

<h3 class="sub-heading" id="changes-to-this-privacy-notice">١٥(٢) التغييرات الطارئة على إشعار الخصوصية </h3> 

<p>قد نقوم بتحديث هذا الإشعار من وقت إلى آخر، لذا يرجى مراجعته بشكلٍ دوري. سنُخطرك بالتحديثات المهمة، مثل بدء الالتزام التام بقانون الاتحاد الأوروبي لحماية البيانات، عن طريق الاتصال بك مباشرةً حيثما كان ذلك ممكنًاً ومن خلال وضع إشعارٍ على موقعنا الإلكتروني. آخر تحديث لهذا الإشعار جرى في ٢١ أيار/مايو ٢٠١٨.</p>
</div>
</div>

<div class="user-contributions">
<h2 class="privacy__question" id="user-contributions">مساهمات المستخدمين</h2> 
<div class="privacy__answer hidden-closed" >

<p>بهدف مساندتك في إيصال صوتك ومشاركة أفكارك مع الآخرين، قد يتضمّن موقعنا أدواتٍ تتيح لك نشر مشاركاتك الخاصّة على هذا الموقع أو على غيره.<br />  من بين هذه الأدوات العرائض الإلكترونيّة والإشعارات وأدوات كتابة الرسائل ونماذج كتابة الرسائل والمساحات المخصّصة للنقاش، والصفحات الإلكترونية الشخصية أو الملفات الشخصية والمنتديات ولافتات الإعلانات والميزات التفاعلية الأخرى (<strong>"الخدمات التفاعلية"</strong>) التي تسمح لك بنشر المحتوى وعرضه وإرساله ومشاركته مع الجمهور ومستخدمين آخرين (<strong>"مساهمات المستخدمين"</strong>).<br />جميع المساهمات التي يتمّ نشرها من قبل المستخدمين على موقعنا تعتبر غير سريّة. ملكية المحتوى تعود للمستخدم، وهو بدوره يمنحنا حقّ عرضه واستخدامه ومشاركته بهدف خدمة مهمّة SumOfUs. قانونياً، قيامك بنشر مساهمة على موقعنا يعني أن جميع الحقوق المتعلّقة بهذا المحتوى تابعة لك وأن لا اعتراض لديك على منح SumOfUs وشركائها حول العالم حقّ الاستخدام المجاني وغير الحصري لمحتواك وحقوق نسخه وتعديله ومواءمته ونشره ونقله وتوزيعه باستخدام أيٍّ من وسائل توزيع ونشر المحتوى الحالية والمستقبلية.<br /><strong> الالتزام بالدقّة.</strong> تطالبك SumOfUs بالالتزام بالدّقّة في مساهماتك كمستخدمٍ(ة) مستقلّ(ة). فمن المعلوم لك والمفهوم من قبلك أن SumOfUs غير مسؤولة عن مساهماتك على موقعنا، وبأن المسؤولية الكاملة المتعلّقة بمحتوى هذه المساهمة على عاتقك أنت وليست على عاتق SumOfUs، بما في ذلك قانونية المحتوى وصحّته ومدى دقّته وملاءمته.
</p>

<h3 class="sub-heading" id="content-standards">١٦(١) المعايير الخاصّة بالمحتوى</h3> 

<p>يمكنك استخدام هذا الموقع لأغراض قانونية فقط، وشرط الالتزام بشروط الاستخدام. استخدامك لهذا الموقع إقرارٌ منك بالامتناع عن:<br />
<ul>
  <li>إضافة معلوماتٍ كاذبة أو محتوى مسيء، أو بذيء، أو إباحي، أو عدواني، أو جارح، أو عنيف، أو حاقد، أو استفزازي أو محتوى يهدّد مهمة SumOfUs أو يتنافى معها .</li>
  <li>نشر موادّ إباحية أو تدعو إلى العنف والتشهير والعنصرية والتمييز على أساس العرق أو الجنس أو الدين أو المواطنة أو الإعاقة أو الميول الجنسية أو السن.</li>
  <li>نشر محتوى ينتهك حقوق الملكية والنشر وأسرار المهنة وحقوق النشر وغيرها من حقوق الملكية الفكرية المملوكة من قبل أي شخص.</li>
  <li>انتهاك الحقوق القانونية (بما في ذلك حقوق الخصوصية وحقوق الإعلان) التابعة للآخرين أو نشر محتوى قد تنشأ عنه أي مسؤولية قانونية مدنية أو جنائية بموجب القوانين والأحكام المتداولة، أو محتوى يتعارض مع شروط الاستخدام وسياسة الخصوصية الخاصّة بSumOfUs.</li>
  <li>نشر محتوى خادع أو تضليليّ لأي كان.</li>
  <li>الترويج لأيّ نشاطٍ غير قانوني أو دعم ممارساتٍ غير قانونية أو التشجيع عليها أو المشاركة بها.</li>
  <li>استخدام موقعنا لانتحال شخصيةٍ غير شخصيّتك، أو لتضليل هويتك أو ارتباطك بأي فردٍ أو منظّمة.</li>
  <li>استخدام موقعنا لأغراض تجارية ولتحقيق المبيعات، من مثل الترويج لمسابقاتٍ أو غير ذلك من أشكال اليانصيب والدعاية وعروض المبيعات أو المقايضة الأخرى.</li>
  <li>الإيحاء أو الادّعاء بأن محتوى ما صادر عنّا أو عن أيّ جهةٍ أخرى إذا كان ذلك غير صحيح.</li>
</ul>
</p>

<h3 class="sub-heading" id="prohibited-uses">١٦(٢) الاستخدامات المحظورة</h3> 

<p>يمكنك استخدام هذا الموقع فقط لأغراض قانونيّة بالتوافق مع شروط الاستخدام الخاصّة بنا. استخدامك لهذا الموقع إقرارٌ منك بالامتناع عن:
<ul>
  <li>استخدام الموقع بأي طريقةٍ تنتهك أي قوانين أو قواعد محليّة، وإقليميّة، وفيدراليّة، ووطنيّة أو أي قوانين على مستوى الولايات أو أي قوانين أو ضوابط دوليّة.</li>
  <li>استخدام الموقع بهدف استغلال القصّر أو إيذائهم أو محاولة استغلالهم أو إيذائهم بأيّ شكلٍ من الأشكال عبر عرض محتوىً غير لائق أوطلب معلوماتٍ تؤدّي إلى تحديد هويّتهم أو غير ذلك.</li>
  <li>لإرسال أو تلقي أو تحميل أو تنزيل أو استخدام أو إعادة استخدام أي مادة لا تتوافق مع معايير المحتوى المنصوص عليها في هذه الشروط.</li>
  <li>إرسال أو تيسير إرسال أي مواد إعلانية أو ترويجية، بما في ذلك أي "بريد غير مرغوب فيه" أو "رسائل متسلسلة" أو "بريد عشوائي" أو أي طلب آخر مشابه.</li>
  <li>انتحال صفة أو محاولة انتحال صفة SumOfUs أو أحد موظّفيها أو أحد مستخدمي موقعها أو أيّ شخصٍ أو كيانٍ آخر (بما في ذلك ، على سبيل المثال لا الحصر، استخدام عناوين البريد الإلكتروني أو أسماء المستخدمين الخاصّة بأيّ من الأشخاص الذين سبق ذكرهم)، أو التسجيل لاستخدام الموقع نيابةً عن أيّ مجموعةٍ أو كيان.</li>
  <li>تقصّي عناوين البريد الإلكتروني أو معلومات التعريف الشخصية الأخرى للمستخدمين وجمعها عبر هذا الموقع بالوسائل الإلكترونية أو غيرها من الوسائل ولأي غرض من الأغراض.</li>
  <li>الانخراط في أي سلوكٍ آخر يقيّد أيّ شخصٍ أو يمنعه من استخدام هذا الموقع والتمتّع بميزاته، أو أيّ سلوكٍ قد يضرّ بSumOfUs أو بمستخدمي الموقع أو يعرّضهم للمسؤولية.</li>
  <li>استخدام هذا الموقع لأيّ غرض تجاري.</li>
</ul>
<p>بالإضافة إلى ما سبق، نطالبك بالامتناع عن:</p>
<ul>  
  <li>استخدام هذا الموقع بأيّ طريقةٍ قد تؤدّي إلى تعطيله أو إثقاله أو إلحاق الضرر به أو تتعارض مع استخدام أيّ طرفٍ آخر له، بما في ذلك قدرته على الانخراط في أنشطةٍ مباشرةٍ من خلال الموقع.</li>
  <li>استخدام أي روبوت أو عنكبوت إلكتروني أو أي جهاز أو عملية أو وسيلة تلقائية أخرى للوصول إلى موقع الويب لأيّ غرضٍ، بما في ذلك مراقبة أيّ من المواد الموجودة على هذا الموقع أو نسخها.</li>
  <li>استخدام أي عملية يدوية لمراقبة أيّ من المواد الموجودة على هذا الموقع أو نسخها لأي غرض آخر غير مصرّح به دون موافقةٍ كتابيّةٍ مسبقةٍ منا.</li>
  <li>استخدام أيّ جهازٍ أو برنامجٍ أو روتين يتعارض مع العمل السليم لهذا الموقع.</li>
  <li>إدخال أي فيروسات أو أحصنة طروادة أو ديدان أو قنابل منطقية أو مواد أخرى خبيثة أو مؤذية تقنيًا.</li>
  <li>محاولة الوصول غير المصرّح به إلى أي جزء من هذا الموقع الإلكتروني أو إلى الخادم الذي تمّ تخزين المعلومات عليه أو أيّ خادمٍ أو كمبيوتر أو قاعدة بياناتٍ متصلة بهذا الموقع بهدف التدخّل فيها أو إتلافها أو تعطيلها.</li>
  <li>مهاجمة هذا الموقع الإلكتروني عن طريق هجمات الحرمان من الخدمة أو هجمات حجب الخدمة الموزّعة.</li>
  <li>أيّ محاولة أخرى للتأثير في العمل السليم لهذا الموقع.</li>
</ul>
</p>

<h3 class="sub-heading" id="user-contributions-not-responsible">١٦(٣) لسنا مسؤولين عن إسهامات المستخدِمين</h3> 

<p>ليس في وسعنا مراجعة كل ما يتمّ نشره من قبل المستخدِمين قبل النشر، لذا فإن أيّ محتوى و/ أو أيّ آراء تمّ تحميلها إلى الموقع أو التعبير عنها أو إرسالها، وجميع مساهمات المستخدمين، بما فيها المقالات والردود على الأسئلة والمحتويات الأخرى، عدا المحتوى الرسميّ الصادر عن SumOfUs، تمثّل فقط آراء الأشخاص (أو الهيئات) الذين يقدّمونها وهم بالتالي مسؤولون عنها، كما أنها لا تعكس بالضرورة رأي SumOfUs. <u>لسنا مسؤولين تجاه أيّ طرفٍ ثالثٍ عن محتوى أو دقة أيّ مواد تُنشَر من قِبَلِك أو من قبل أيّ مستخدم آخر لهذا الموقع، فالمسؤولية الكاملة عن المحتوى المنشور على الموقع عن طريقك تقع على عاتقك.</u> في حين أننا نلتزم محاولة التحقيق في جميع الشكاوى ذات المصداقية حول مساهمات المستخدمين المعنيّة، لا يمكننا ضمان الردّ على جميع الشكاوى فرديّاً أو إزالة المحتوى المعنيّ.</p>

<h3 class="sub-heading" id="user-contributions-not-responsible">١٦(٤) إنفاذ الشروط</h3> 

<p>نظرًا لأن الغرض من هذا الموقع هو خدمة مهمة SumOfUs نيابةً عن مجتمع SumOfUs، ومن أجل ضمان استخدامه فقط للغرض المقصود منه ومنعاً لاستخدامه لأغراضٍ تشكّل خطرًا على مهمة SumOfUs الأوسع، فإن SumOfUs لها الحقّ في:</p>
<ul>
  <li>إزالة أو رفض نشر أيّ مساهمات من قبل المستخدمين لأيّ سببٍ و دون الحاجة إلى تبرير السبب. هذا قرار ستسعى SumOfUs إلى اتّخاذه بإنصاف، لكنه في النهاية متروك لـ SumOfUs فقط. ومع ذلك سنتشاور مع أعضائنا بوسائل عدة من ضمنها استطلاعات الرأي العشوائيّة لتحديد مساهمات المستخدمين التي ترى عضويّتنا أنها تدفع مهمّتنا إلى الأمام. في جميع مراحل هذه العملية، سنرحّب بتعليقات أعضاء مجتمعنا حول كيفية اتّخاذنا لهذه القرارات لأن هذا المجتمع هو الذي سيحقّق مهمّتنا، ونحن هنا للمساعدة في ذلك. ولكن في النهاية، على SumOfUs التزامٌ قانوني لضمان أن تهدف جميع أنشطتنا إلى الدفع بمهمّتنا إلى الأمام، وبالتالي نحتفظ بالحكم النهائي كي نتمكّن من ضمان ذلك. </li>
  <li>اتّخاذ أيّ إجراء نراه ضرورياً أو مناسباً بشأن مساهمة مستخدمٍ ما وفقًا لتقديرنا الخاص، وذلك إذا ارتأينا أن مساهمة مستخدمٍ ما تنتهك شروط الاستخدام، بما في ذلك معايير المحتوى، أو تنتهك أيّ حقّ من حقوق الملكية الفكرية أو أي حقّ آخر، أو تهدد السلامة الشخصية لمستخدمي هذا الموقع أو قد تعرّض SumOfUs لمسؤوليّة قانونيّة.</li>
  <li>الكشف عن هويّتك لأيّ طرفٍ ثالث يدّعي أن الموادّ المنشورة من قبلك تنتهك حقوقه، بما في ذلك حقوق الملكية الفكرية أو الحقّ في الخصوصية. لن نتعامل مع كشف هويّتك باستخفافٍ، لكننا قد نتّخذ هذه الخطوة إذا ارتأينا أنها قد تؤدّي إلى حلّ النزاع بشكلٍ عادل، أو تحمي SumOfUs من تحمّل مسؤوليّةٍ قانونيّة ليست على عاتقها.</li>
  <li>اتّخاذ الإجراءات القانونية المناسبة، بما في ذلك على سبيل المثال لا الحصر إحالة أيّ استخدامٍ غير قانوني أو غير مصرّحٍ به لهذا الموقع إلى جهات إنفاذ القانون، في حال ارتأينا أن اللجوء إلى القانون هو الوسيلة المناسبة لمعالجة الاستخدام المسيء.</li>
  <li>منع دخولك إلى هذا الموقع بشكلٍ كاملٍ أو جزئيّ بسبب أي انتهاك لشروط الاستخدام هذه.</li>
</ul>
<p>بناءً على ما تقدّم، فكلّ مستخدمٍ يبرّئ  SumOfUs من أي مطالبات ناتجة عن أي إجراء تتّخذه SumOfUs أثناء تحقيقاتها وبنتيجتها، وبخصوص أيّ إجراءاتٍ تم اتّخاذها تبعاً للتحقيقات من قبل SumOfUs أو من قبل سلطات إنفاذ القانون.</p>

<h3 class="sub-heading" id="links-other-sites">١٦(٥) الروابط الخاصّة بمواقع أخرى</h3> 

<p>كما هو معتاد على الإنترنت، قد يحتوي هذا الموقع وإسهامات المستخدمين على روابط لمواقع أخرى. أيّ مواقع إلكترونيّة وموارد أخرى مرتبطة بهذا الموقع، إما عن طريق SumOfUs أو بواسطتك، يتم توفيرها فقط لراحة مستخدمينا. ليس لدينا أي سيطرة على محتويات تلك المواقع أو الموارد، وبالتالي لا يمكننا تحمل المسؤولية عنها أو عن أي خسارة أو ضرر قد ينشآن عن استخدامك لها. إن زيارتك لمواقع أطرافٍ ثالثةٍ مرتبطةٍ بهذا الموقع تقع على مسؤوليتك الخاصة تمامًا وتخضع لسياسات الخصوصية وشروط وأحكام الاستخدام الخاصّة بهذه المواقع.</p>

<h3 class="sub-heading" id="copyright-act">١٦(٦) انتهاك حقوق الملكيّة وقانون الألفية للملكيّة الرقميّة</h3> 

<p>إذا وجدت أن مساهمةً من مستخدمٍ ما تنتهك حقوق التأليف الخاصة بك، يمكنك إخطارنا بهذا الانتهاك. عملاً بقانون الألفيّة للملكيّة الرقميّة وغيره من القوانين المرعيّة، تعتمد SumOfUs في الظروف المناسبة سياسة وقف حسابات المستخدمين الذين يقدمون تكراراً على انتهاك حقوق الآخرين. ينبغي توجيه جميع الإشعارات الخاصّة بانتهاك حقوق الملكيّة إلى: https://www.sumofus.org/</p>

<h3 class="sub-heading" id="no-guarantee-of-service">١٦(٧) عدم ضمان الخدمة</h3> 

<p>على الرغم من أننا نأمل في إتاحة هذا الموقع بشكلٍ دائمٍ في المستقبل، إلا أننا قد نحتاج أحياناً إلى تعطيله إما بشكل مؤقت وإما بشكلٍ دائم. يرجى تفهّم أننا نحتفظ أيضًا بالحقّ في حذف هذا الموقع أو تعديل أيّ خدمة أو مادة نقدمها عليه. يجوز لنا القيام بذلك دون إشعار وفقًا لتقديرنا الخاص. يرجى أخذ ذلك في الاعتبار لأن SumOfUs لن تكون مسؤولة إذا كان الموقع الإلكتروني أو أي جزء منه غير متاحٍ في أيّ وقت ولأيّ فترة زمنية. كما أننا قد نقوم أيضًا، من وقت إلى آخر، بتقييد وصول المستخدمين إلى بعض أجزاء الموقع، أو إليه كلّه، بما في ذلك أولئك الذين لديهم ملفّات تعريفٍ شخصية على الموقع.</p>

<h3 class="sub-heading" id="disclaimer-warranties">١٦(٨) إخلاء المسؤولية عن الضمانات</h3> 

<p>يرجى التنبّه إلى أننا لا نستطيع ضمان خلوّ الملفّات المتاحة للتنزيل من الإنترنت أو من الموقع من الفيروسات أو أيّ تعليمات برمجية مدمّرة أخرى. تنفيذ الإجراءات اللازمة لتلبية متطلّباتك الخاصّة بالحماية ودقة إدخال البيانات وإنتاجها إضافةً إلى الحفاظ على وسيلةٍ خارجةٍ عن موقعنا لإعادة أي بياناتٍ مفقودة، هي جميعها أمورٌ تدخل ضمن مسؤوليتك المباشرة. 


لسنا مسؤولين عن أي خسارة أو ضرر ناتجين عن هجمات حجب الخدمة الموزّعة أو الفيروسات أو غيرها من المواد الضارّة من الناحية التكنولوجية التي قد تصيب أجهزة الكمبيوتر أو برامج الكمبيوتر أو البيانات أو المواد الأخرى الخاصة بك بسبب استخدامك للموقع أو أي خدمات أو موادّ تم الحصول عليها من خلال الموقع أو بسبب تنزيلك لأيّ مادة منشورة عليه أو على أيّ موقع مرتبط به.

استخدامك للموقع ومحتوياته وأيّ خدمات أو موادّ يتم الحصول عليها من خلال الموقع يكون على مسؤوليتك الخاصة. يتمّ توفير الموقع الإلكتروني ومحتوياته وأيّ خدماتٍ أو موادّ من خلال الموقع "كما هي" و "حسب توفرها"، دون أي ضماناتٍ من أيّ نوعٍ، سواء أكانت صريحةً أم ضمنيّة. لا تقدّم SumOfUs ولا أيّ شخص مرتبط بـ SumOfUs أيّ ضمانٍ أو إقرارٍ فيما يتعلّق باكتمال الموقع الإلكتروني أو أمانه أو موثوقيته أو جودته أو دقته أو توفّره. 


دون تقييد ما سبق، لا تقرّ SumOfUs ولا أيّ شخص مرتبط بـ SumOfUs أو يضمن أن الموقع أو محتواه أو أيّ خدمات أو موادّ تمّ الحصول عليها من خلال الموقع ستكون دقيقة وموثوقة وخالية من الأخطاء أو دون انقطاع، وأن هذه العيوب سيتم تصحيحها، أو أن الموقع أو الخادم الذي يتاح الموقع عبره خالٍ من الفيروسات أو المكوّنات الضارّة الأخرى، أو أن الموقع أو أيّ خدماتٍ أو موادّ يتمّ الحصول عليها من خلال الموقع الإلكتروني سوف تلبّي احتياجاتك أو توقّعاتك.

وعليه، تخلي SumOfUs مسؤوليّتها من جميع الضمانات من أي نوعٍ كانت، صريحةً أم ضمنيةً، قانونيةً أم غير ذلك، بما في ذلك على سبيل المثال لا الحصر أيّ ضماناتٍ خاصة بالتسويق وعدم الانتهاك والملاءمة لغرضٍ معين. لا يؤثر ما سبق على أيّ ضماناتٍ لا يمكن استبعادها أو تقييدها بموجب القوانين المعمول بها.
</p>

<h3 class="sub-heading" id="limitation-liability">١٦(٩) تحديد المسؤوليّة</h3> 

<p>لن تتحمل SumOfUs بأيّ حالٍ من الأحوال، أو الشركات التابعة لها أو الجهات التي تتعاقد معها أو موفّري الخدمات أو الموظّفين أو الوكلاء أو المسؤولين أو المديرين لديها، وبغضّ النظر عن النظرية القانونيّة المعتمدة، المسؤولية الناجمة عن أيّ ضررٍ من أيّ نوعٍ، ناشئٍ عن أو متعلّقٍ باستخدامك الموقع الإلكتروني أو أيّ مواقع أخرى مرتبطة به، أو عدم قدرتك على استخدامه أو استخدام أيّ مواقع إلكترونيّة مرتبطة به، أو بأيّ محتوى على الموقع أو المواقع المرتبطة به، أو أيّ خدماتٍ أو موادّ يتمّ الحصول عليها من خلال الموقع أو تلك المواقع الأخرى، بما فيها أيّ أضرار مباشرة أو غير مباشرة أو خاصة أو عرضية أو تبعية أو تأديبيّة، بما في ذلك على سبيل المثال لا الحصر الإصابة الشخصية، والألم والمعاناة، والاضطراب العاطفي، وخسارة الإيرادات، وضياع الأرباح، وفقدان العمل أو المدّخرات المتوقعة، والكسب الفائت، وخسارة الاسم التجاري، وفقدان البيانات، وذلك في حال كان سببها مسؤولية تقصيرية (بما في ذلك الإهمال)، أو إخلالاً بالعقد أو غير ذلك، حتى في حال كان الضرر متوقّعاً. لا يؤثر ما سبق على أي مسؤولية لا يمكن استبعادها أو تقييدها بموجب القانون المعمول به.
</p>

<h3 class="sub-heading" id="Indemnification">١٦(١٠) التعويضات</h3> 

<p>نحن لا نتحمّل المسؤوليّة عن أيّ مشكلةٍ تواجهك أثناء استخدامك للموقع. الموافقة على هذه الشروط تعني التزامك المسؤولية الكاملة تجاه التبعات الناجمة عن استخدامك للموقع. بمعنىً آخر، موافقتك على الشروط تعني أيضاً موافقتك على الدفاع عن SumOfUs وعلى إعفائها والشركات التابعة لها والمرخّصة من قبلها والممثّلة بالمسؤولين والمديرين والموظّفين المعيّنين والمقاولين والوكلاء والمتعاقدين والمورّدين، من أيّ مطالباتٍ، ومسؤولياتٍ، وتعويضاتٍ، وأحكام، ومكافآتٍ، وخسائر، وتكاليف أو نفقاتٍ أو رسوم (بما في ذلك أتعاب المحاماة المعقولة) الناتجة عن انتهاكك لشروط الاستخدام هذه أو استخدامك، على سبيل المثال لا الحصر، للموقع ومحتواه وخدماته ومنتجاته أو أيّ معلومات تم الحصول عليها عبره بخلاف ما هو مصرّحٌ به علانيّةً في شروط الاستخدام هذه.</p>

<h3 class="sub-heading" id="waiver-severability">١٦(١١) التنازل والقابليّة للفصل</h3> 

<p>لا يُعتبر أي تنازل عن شروط الاستخدام هذه من قبل SumOfUs بمثابة تنازلٍ إضافيّ أو مستمر عن أيّ شروطٍ أو حالاتٍ مشابهة أو أيّ شروط أو حالاتٍ أخرى، ولا يشكّل أي إخفاق من قبل SumOfUs في تأكيد حقّ أو حكمٍ ما بموجب شروط الاستخدام هذه تنازلاً من هذا الحقّ أو الحكم.
<br />
إذا رأت محكمة مختصّة أن أيّ شرطٍ من شروط الاستخدام هذه غير صالحٍ أو غير قانوني أو غير قابل للتنفيذ لأيّ سببٍ من الأسباب، فسيتمّ إلغاء هذا الحكم أو تقييده إلى الحد الأدنى بحيث تستمرّ الأحكام المتبقية من شروط الاستخدام ملزمة بشكلٍ كامل وسارية المفعول.
</p>

<br />
<p>نظرًا لأن تكاليف موقع SumOfUs لحملات المجتمع تتمّ تغطيتها من قبل أعضاء مجتمع SumOfUs، فإن معايير الاستخدام الخاصة بنا تعكس قيم مجتمعنا. وهذا يشمل، على سبيل المثال لا الحصر، أي حملاتٍ أو نشاطٍ آخر:
<ul>
  <li>يتعارض مع أهداف أو غايات أو فلسفات أو أغراض SumOfUs و/ أو غالبية أعضائها</li>
  <li>يدعو إلى الكراهية أو العنف أو الإساءة أو توجيه التهديدات أو الأذى ضد أي مجموعة أو فرد</li>
  <li>يضايق أو يشجّع الآخرين على مضايقة أيّ مجموعة أو فرد</li>
  <li>يروّج للعنصرية أو التعصّب الأعمى أو كراهية النساء أو الكراهية أو الأذى الجسدي من أي نوع</li>
  <li>يساهم في نشر المعلومات المضللة</li>
  <li>يفشل في الاعتراف بحقوق الشعوب الأصلية أو في تعزيز دورها المركزي في مجتمعاتنا، لا سيما فيما يتعلق بحقوق الأرض وحقّ الشعوب تقرير مصيرها</li>
  <li>ينتهك الحقوق أو القوانين أو الالتزامات القائمة بموجب القانون المحلي أو الوطني أو الدولي</li>
</ul>
قد تتغير الشروط والمعلومات الواردة في هذا البيان في أي وقتٍ ودون سابق إنذار.
</p>

</div>
</div>

<div class="how-do-i-contact-you">
<h2 class="privacy__question" id="how-do-i-contact-you">كيف أتواصل معكم؟</h2> 
<div class="privacy__answer hidden-closed" >
<p>عناوين التواصل مع ممثّلنا في الاتحاد الأوروبي مذكورةٌ <span class="link_style2" onclick="internalNav('#who-we-are')">في بداية إشعار الخصوصية هذا</span>. كما يمكن التواصل معنا عبر أيّ من هذه الوسائل:</p>

<p>إيميل:  privacy@sumofus.org</p>

<p>هاتف: ٠٠٣١٧٠٢٥٠٠٢٩٢</p>

<p>إيميل: privacy@sumofus.org

تلفون: ٠٠٣١٧٠٢٥٠٠٢٩٢

عنوان البريد: 

شارع مونيكين، منزل٢٣، ١٠٤٩، ص.ب: ١٠١٢، أمستردام، هولندا</p>
</div>
</div>
</div>

<%= javascript_include_tag('../../javascripts/privacy_policy.js') %>
<%= partial 'rtl' %>