<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="1;url=<%= destination %>">
    <script type="text/javascript">
      window.location.href = "<%= destination %>"
    </script>
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <%= destination %>...</p>
  </body>
</html>
