---
title: "Em Solidariedade"
---
<div class="page-container">
  <div class="page-section__sub-heading pt-0">Fazendo o trabalho</div>

  <div class="page-section__details">
    <span class="page-section__show-bolder">Nossos países estão em um momento de reflexão</span> que, sinceramente, nunca pensei fosse possível. O movimento de vidas negras importam após os assassinatos de crianças como a Ágatha Félix, Kauan Peixoto, e também de Marielle, George Floyd, Breonna Taylor, Tony McDade e tantas outras vidas; uma pandemia que mata pessoas negras e pardas duas vezes mais do que pessoas brancas. Tudo isso refletiu na dura realidade de um sistema injusto que afeta todos os aspectos de nossas vidas.
  </div>

  <div class="page-section__details">
    Eu, como uma mulher branca e nova Diretora Executiva da nossa comunidade, passei a última semana fazendo um trabalho duro: minha própria reflexão sobre as maneiras em que falhei em ser uma co-construtora de movimentos antirracistas; uma reflexão da nossa organização com uma equipe poderosa e corajosa para identificar e mudar o racismo das nossas políticas e práticas internas; e uma promessa de amplificar o trabalho que as pessoas de cor da equipe tem feito há anos. <span class="page-section__show-bolder">Este é um momento de reforçar o comprometimento em fazer campanhas onde a nossa missão - pessoas acima de lucro - estejam no centro delas; mas também de criar um mundo onde comunidades negras e pardas não estejam sob ataque: um mundo onde todxs possamos prosperar.</span>
  </div>

  <div class="page-section__details">
    <img class="w-100" src="/images/in_solidarity_sumofus.png" alt="In solidarity, doing the work."/>
  </div>

  <div class="page-section__details">
    Pessoalmente, tenho escutado muito. Também tenho conversado com colegas e com amigxs, aprendendo e fazendo perguntas, lendo, relendo muitos livros e textos, incluindo o trabalho poderoso do autor <a href="https://www.ibramxkendi.com/how-to-be-an-antiracist" target="_blank" >Ibram X Kendi chamado Como Ser Antirracista</a>. Eu tenho dado os recursos que posso às organizações que estão fazendo o longo e árduo trabalho de mudar o sistema nos Estados Unidos, como, por exemplo, os grupos essenciais por trás do  <a href="https://act.sumofus.org/go/535983?t=2&akid=74677%2E11372245%2Ez2-D_T" target="_blank" >Fundo Emergencial para os Protestos Trans Negro.</a>.
  </div>

  <div class="page-section__details">
    <span class="page-section__show-bolder">Este trabalho somente será possível se trabalharmos juntos.</span> Somos uma comunidade global gigante e sabemos que podemos mudar o mundo. E não importante em que estágio estamos em nossa jornada pessoal contra o racismo e opressão. Se você acredita que todxs têm o direito de viver, respirar e caminhar pelas ruas, este espaço é para você. Agir, doar e apoiar este movimento não deveria ser o fim das nossas ações, mas sim o começo. Nosso trabalho continuará muito além dos protestos e das manchetes de jornais que ele gerar.
  </div>


  <div class="page-section__details">
    Um abraço cheio de força e esperança,
    <br style="clear:both"/>
    <br style="clear:both"/>
    <i>
      Emma
      <br style="clear:both"/>
      <br style="clear:both"/>
      Diretora Executiva da SumOfUs
    </i>
  </div>

</div>