---
# title: 'Ekō Coming Soon'
---
<div class="eko-main-content">
<h1 class="eko-header">Ekō</h1>
<p class="eko-intro-paragraph">Lorsque SumOfUs a été fondé il y a 11 ans, nous n'étions qu'une petite organisation qui faisait campagne contre des entreprises aux États-Unis. Mais au fil des ans, nous sommes devenus une communauté forte de 20 millions de personnes, opérant en 7 langues et ayant de l’impact dans le monde entier. Notre nom, en forme de jeu de mot nous a énormément servi au fil des ans, mais il n'est pas vraiment adapté à notre évolution.
</p>
 <p class="eko-intro-paragraph">En bref, nous avons évolué et sommes devenus une communauté véritablement mondiale. Il est donc temps pour nous de changer de nom afin de représenter à la fois la force et la diversité de notre travail.
</p>
<h2>Bienvenue dans la communauté mondiale Ekō qui continuera à se battre ensemble pour que l'humain et la planète passent avant le profit.</h2>

<img class="eko-logo" src="https://s3.amazonaws.com/s3.sumofus.org/images/editor-2022-12-13-2.gif" />

<p class="eko-intro-paragraph">Merci de faire partie de cette évolution et pour votre engagement continu qui nous permet d'accroître notre impact dans le monde entier. Vous incarnez la force et la diversité de nos membres mais aussi celle de notre travail.  
</p>
