<div class="legacy__magazine-quote legacy__magazine-quote--right">
  SumOfUs members send an important signal that people have the power to fight back against corporations.
</div>

An objective legal opinion by anti-trust experts agrees the merger would violate anti-trust laws and lessen competition. The proposed merger would violate a court order that was part of a U.S. Department of Justice consent decree and the primary U.S. anti-trust merger statute, the Clayton Act. The merger would eliminate direct competition between two of the largest players in the farm supply and seed sector – directly affecting seed development, herbicide markets, and innovative research and development. There would likely be less choice and higher food prices for consumers. 

Monsanto would grow its significant market power. Its dominance of genetic seed traits and their complimentary herbicides would create unacceptable market concentration, particularly of seed development and sales in North America of cottonseed, canola, soybeans, and corn. Independent research into seed traits and herbicides would face increased restriction.

<div class="legacy__magazine-quote legacy__magazine-quote--left">
  Donors are the key to our campaign success, both today and in the future.
</div>

Monsanto would grow its significant market power. Its dominance of genetic seed traits and their complimentary herbicides would create unacceptable market concentration, particularly of seed development and sales in North America of cottonseed, canola, soybeans, and corn. Independent research into seed traits and herbicides would face increased restriction.