---
title: 'Thanks for letting us know. Just one more step...'
---
<p class='text-left'>
SumOfUs does not take money from corporations or governments. We are funded almost completely by small donations from members like you. That means emails asking for donations are vital to keeping our campaigns going. But we know not everyone can afford to make a donation -- and that’s fine. We are a movement coming together to hold corporations accountable. No matter what you do: whether you are signing petitions, calling up your political representatives, sharing campaigns on social media or chipping in -- it’s all equally important.
<br /><br />
There’s just one more step before we take you off our fundraising appeals for <span id="current_year"></span>. Please confirm your email address below.</p>

<%= partial 'optout' %>
