$triangle-img-hide-point: 730px;

.full-screen-block {
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  @include viewport-unit(height, 100vh);
  position: relative;
  overflow: hidden;
  &__content {
    position: relative;
    z-index: 100;
    @media (max-width: 1050px) {
      padding: 0 30px;
    }
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
    }
  }
  &__bottom {
    position: absolute;
    bottom: 40px;
    z-index: 100;
  }
  &__title {
    padding: 14px 28px;
    display: inline-block;
    font-weight: 800;
    font-weight: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 36px;
  }
  &--expandable {
    max-height: none;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  @media (max-width: 1050px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.intro-block {
  background: $new-navy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    color: white;
    max-width: 610px;
    position: relative;
    h1 {
      @media(max-width: 830px) {
        line-height: 3.2rem;
        font-size: 36px;
      }
      @media(max-width: 470px) {
        font-size: 32px;
      }
    }
    // &::before {
    //   display: none;
    //   width: 20px;
    //   height: 20px;
    //   display: block;
    //   background-image: url(image_path('sou-plus.svg'));
    //   content: "";
    //   position: absolute;
    //   background-size: contain;
    //   top: 12px;
    //   left: -22px;
    //   background-repeat: no-repeat;
    // }
  }
  &__logo {
    color: $navy;
  }
  &__scroll-cta {
    color: rgba($white, 0.5);
    font-size: 25px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
    @media(max-width: 980px) {
      display: none;
    }
  }
  &__signers {
    height: 50px;
    @include viewport-unit(margin-top, 5vh);
    @include viewport-unit(margin-bottom, 5vh);
    width: 100%;
  }
  &__down-arrow {
    margin-left: 10px;
  }
}
.side-padded {
padding-left: 120px;
@media (max-width: 1050px) {
  padding: 0;
}
@media (max-width: 730px) {
  padding: 0;
}
}

h1 {
  font-size: 36px;
  font-weight: 800;
  @media (max-width: 1050px) {
    font-size: 36px;
  }
  @media(max-width: 500px) {
    text-align: center;
    font-size: 18px !important;
    line-height: 1.8 !important;
  }
}
.homepage-button {
  font-size: 25px;
  height: 70px;
  float: left;
  padding: 23px;
  font-weight: bold;
  width: auto;
  margin-top: 38px;
  @media(max-width: 500px) {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 90px;
    height: 32px;
    padding: 0;
  }
}

.full-width-img {
  @media(min-width: 520px) {
    display: none;
  }
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  &--shells {
    background-image: url(image_path('shells.jpg'));
  }
  @media (max-width: 730px) {
    height: 220px;
  }
}
.triangle-img {
  @media(max-width: $triangle-img-hide-point) {
    display: none;
  }
  @include size-of-container();
  z-index: 10;
  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    background-color: $new-navy;
    background-image: url(image_path('media-attention.jpg'));
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background:linear-gradient(0deg,rgba($black,0.3),rgba($new-navy,0.8)), url(image_path('media-attention.jpg')) center no-repeat;
    background-size: cover;
    &--shells {
      background-image: url(image_path('shells.jpg'));
      @media (min-width: 730px) and (max-width: 1050px) {
      background:linear-gradient(0deg,rgba($white,0.3),rgba($white,0.8)),  url(image_path('shells.jpg'))  no-repeat;
      background-size: cover;
      }
    }
  }
  &__cover {
    display: none;
    background: $new-navy;
    width: 10000%;
    height: 10000%;
    position: absolute;
    transform-origin: 100% 89%;
    transform: rotate(45deg);
    bottom: -1000%;
    right: 0;
    z-index: 11;
    outline: 5px solid rgba($teal, 0.5);
    &--small {
      right: 5%;
      @media(max-width: 950px) {
        right: -90px;
      }
      @media(min-width: 1100px) {
        right: 19%;
      }
    }
    &--white {
      background: $white;
      outline: 5px solid rgba($white, 0.5);
    }
    @media(min-width: 730px) and (max-width: 900px) {
      transform: rotate(37deg);
    }
  }
}

.language-option {
  margin-right: 10px;
  color: white;
  float: right;
  cursor: pointer;
  opacity: 0.9;
  text-transform: uppercase;
  font-size: 12px;
  &--current-language {
    font-weight: bold;
    opacity: 1;
  }
}

.action-stream {
  $stream-height: 35px;
  height: $stream-height;
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  float: left;
  position: relative;
  &__actions-container {
    width: 55%;
    height: 100%;
    position: relative;
    overflow: hidden;
    @media(max-width: 1060px) {
      width: 50%;
    }
    @media(min-width: 1220px) {
      width: 62%;
    }
    @media(max-width: $triangle-img-hide-point) {
      width: 100%;
    }
  }
  &__actions {
    position: absolute;
    left: 0;
    width: 10000px
  }
  &__exit-cover {
    background-image: linear-gradient(to right, rgba($teal, 0), $teal);
    position: absolute;
    height: $stream-height;
    width: 100px;
    right: 0;
    z-index: 12;
  }
  .stream-action {
    display: block;
    height: 100%;
    padding-left: 16px;
    float: left;
    color: $navy;
    &__icon-holder {
      height: $stream-height;
      width: $stream-height;
      float: left;
      background: $white;
      border-radius: $stream-height / 2;
      margin-right: 8px;
    }
    &__icon {
      color: $teal;
      font-size: 22px;
      text-align: center;
      width: 35px;
      line-height: 35px;
    }
    &__credit {
      font-size: 16px;
      float: left;
      margin: 2px 0 4px;
    }
    &__timestamp {
      opacity: 0.4;
      float: none;
      font-size: 12px;
      clear: left;
    }
    &__text {
      float: left;
    }
  }
}

.map-block {
  padding-bottom: 80px;
  @media(max-width: 500px) {
    display: none;
  }
  background: $third-blue2;
  text-align: center;
  &__title {
    color: $white;
    margin-top: 80px;
    font-weight: 800;
    font-size: 36px;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    @media (max-width: 730px) {
      margin-top: 20px;
    }
  }
  &__map {
    @include centered-to-full(900px);
    position: relative;
    margin-top: 100px;
    @media(max-width: 800px) {
      margin-top: 20px;
    }
    @media(max-width: 700px) {
      margin-top: 40px;
    }
    @media(max-width: 600px) {
      margin-top: 80px;
    }
    @media(max-width: 400px) {
      margin-top: 120px;
    }
    @media (max-width: 1050px) {
      width: 80%;
    }
  }
  &__map-img {
    width: 100%;
  }
  &__points {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@mixin point-size($scale) {
  .poi-map__point-container {

    width: 40px * $scale;
    height: 40px * $scale;
    // put center on position, not corner
    margin-top: -20px * $scale;
    margin-left: -20px * $scale;
  }
  .poi-map__point {
    width: 40px * $scale;
    height: 40px * $scale;
    border-radius: 20px * $scale;
  }
  .poi-map__point-highlight {
    width: 24px * $scale;
    height: 24px * $scale;
    top: 8px * $scale;
    left: 8px * $scale;
    border-radius: 12px * $scale;
  }
  .poi-map__blurb-container {
    bottom: 20px * $scale;
  }
}
.poi-map {
  $animation-duration: 0.2s;
  @include point-size(1);
  @media(max-width: 750px) {
    @include point-size(0.75);
  }
  @media(max-width: 550px) {
    @include point-size(0.5);
  }
  &__point-container {
    position: absolute;
  }
  &__point {
    background: $orange;
    z-index: 9;
  }
  &__point-highlight {
    background: $third-blue;
    position: absolute;
    z-index: 12;
    transition: width $animation-duration ease-in, height $animation-duration ease-in,
                top $animation-duration ease-in, left $animation-duration ease-in;
    &.poi-map--hidden {
      width: 0;
      height: 0;
      top: 20px;
      left: 20px;
    }
  }

  &__blurb-container {
    width: 170px;
    padding: 20px;
    background: $new-navy;
    position: absolute;
    left: -85px;
    color: white;
    text-align: left;
    transition: transform $animation-duration ease-in;
    transform-origin: bottom;
    transform: scaleX(1) scaleY(1) rotate(0deg);
    z-index: 11;
    &.poi-map--hidden {
      transform: scaleX(0) scaleY(0.5) rotate(180deg);
    }
  }
  &__country {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 14px;
    margin-bottom: 8px;
  }
  &__blurb {
    font-size: 20px;
    font-weight: lighter;
    line-height: 25px;
    opacity: 0.9;
    z-index: 10;
  }
}

.victories-block {
  text-align: center;
  &__title {
    color: $orange;
    margin-top: 80px;
    @media (max-width: 730px) {
      margin-top: 20px;
    }
  }
  &__subheader {
    @include centered-to-full(620px);
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
    color: black;
    h3 {
      font-weight: normal;
      padding: 0 10px;
    }
    @media (max-width: 500px) {
      h3 {
        font-size: 12px;
      }
      line-height: 20px;
    }
  }
  &__campaigns {
    overflow: hidden;
    width: 85%;
    padding-bottom: 80px;
    margin: 0 auto;
    .campaign-tiles {
      margin-top: 14px;
      justify-content: center;
      min-height: 30vh;
      .campaign-container:last-of-type {
        @media(min-width: 1035px) {
          display: none;
        }
      }
    }
  }
}
.press-block {
  background-color: $very-light-gray;
  background-image: url(image_path('newsprint-texture.png'));
  background-repeat: repeat;
  text-align: center;
  overflow: visible;
  z-index: 30;
  &__title {
    color: $orange;
    margin-top: 80px;
    font-weight: 800;
    font-size: 36px;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    @media (max-width: 730px) {
      margin-top: 20px;
    }
  }
  &__edge {
    width: 100%;
    height: 100px;
    background-repeat: repeat-x;
    background-image: url(image_path('newsprint-edge.png'));
    position: absolute;
    left: 0;
    &--top {
      transform: rotate(180deg);
      top: -30px;
    }
    &--bottom {
      bottom: -30px;
    }
    @media (max-width: 730px) {
      height: 80px;
    }
  }
  &__carousel {
    padding-bottom: 50px;
  }
}
.press-carousel {
  position: relative;
  &__scroll-container {
    overflow: hidden;
    height: 100px;
    position: relative;
    @include centered-to-full(900px);
  }
  &__logo-container {
    overflow: hidden;
    height: 100px;
    position: relative;
    width: calc(100% - 80px);
    margin: 0 40px;
  }
  &__logos {
    height: 100px;
    width: 10000px;
    position: relative;
    display: table;
    vertical-align: middle;
  }
  &__logo {
    position: relative;
    float: left;
    margin-right: 40px;
    opacity: 0.2;
    width: 170px;
    height: 75px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    &--long {
      width: 240px;
    }
    &--highlighted {
      opacity: 1;
    }
  }
  &__logo-group {
    position: absolute;
    top: 0;
    transition: left 0.5s ease-out;
    display: table-cell;
    vertical-align: middle;
  }
  &__cover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 80px;
    z-index: 20;
    &--left {
      left: 0;
      background-image: linear-gradient(to left, rgba($very-light-gray, 0), $very-light-gray);
    }
    &--right {
      right: 0;
      background-image: linear-gradient(to right, rgba($very-light-gray, 0), $very-light-gray);
    }
  }
  &__arrow {
    background-image: url(image_path('arrow.svg'));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 25;
    width: 20px;
    height: 75px;
    position: absolute;
    cursor: pointer;
    top: 0;
    &--left {
      left: 10px;
    }
    &--right {
      transform: rotate(180deg);
      right: 10px;
    }
  }
  &__quote-container {
    @include box-sizing(border-box);
    @include centered-to-full(800px, 2%);
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', serif;
    color: $navy;
    margin-top: 5px;
    margin-bottom: 50px;
    line-height: 1.3em;
    min-height: 205px;
    display: table;
    @media(max-width: 730px) {
      font-size: 24px;
      margin-bottom: 0px;
    }
  }
  &__quote {
    position: relative;
    display: table-cell;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    vertical-align: middle;
    color: black;
    font-size: 24px;
    @media (max-width: 500px) {
      font-size: 12px;
    }
    &:before {
      content: '\201c';
    }
    &:after {
      content: '\201d';
    }
  }
  @media (max-width: 730px) {
    vertical-align: top;
  }
}
.new-member-form {

  &__thank-you, &__no-join {
    position: absolute;
    text-align: center;
    width: 90%;
    font-size: 24px;
    padding: 0 5%;
    font-weight: lighter;
    top: 30%;
    @media(max-width: 519px){
      padding: 0;
      width: 80%;
    }
  }
  &__group {
    @media(min-width: 520px){
      width: 47%;
      margin-left: 2%;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    @media(max-width: 519px) {
      margin-bottom: 10px;
    }
    input, select {
      width: 100%;
      font-size: 18px;
    }
    &--full-row {
      width: 98%
    }
  }
  &__button {
     max-width: 300px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
     margin-top: 20px;
     width: auto;
     height: auto;
     padding: 15px;
  }
  p {
    line-height: 1.5;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
}
.join-block {
  background-color: $white;
  @include viewport-unit(min-height, 100vh);
  display: flex;
  align-items: center;
  &__title {
    color: black;
    max-width: 600px;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    position: relative;
    h1{
      font-weight: normal !important;
      font-size: 26px;
      color: $white;
      @media (max-width: 730px) {
        padding: 0 10px;
      }
    }
    @media (max-width: 1050px) {
      max-width: 850px;
      margin-top: 0;
      font-size: 28px;
    }
    @media(max-width: 520px) {
      margin-top: 40px;
    }
  }
  &__signup-panel {
    z-index: 25;
    max-width: 750px;
    background: $chalk-gray;
    padding: 8px 0;
    margin-left: 120px;
    @include pie-clearfix();
    margin-bottom: 110px;
    border-radius: 2px;
    margin-top: 60px;
    position: relative;
    @media(max-width: 519px){
      padding: 10%;
      margin-left: 0;
      margin-top: 40px;
    }
    @media (max-width: 1050px) {
      margin: 0;
      margin-top: 60px;
    }
    @media (max-width: 730px) {
      margin-top: 40px;
    }
  }
}
.consent__form p {
  padding-left: 15px;
  padding-right: 15px;
}

.unsubscribe-form, .optout-form, .optin-form {
  // background: $chalk-gray;
  display: block;
  overflow: hidden;
  padding: 12px;
  input, textarea {
    background-color: $very-light-white;
  }
  button {
    width: 220px;
    margin: 0px auto;
    border-radius: 2px;
    padding-top: 0;
  }
  .sweet-placeholder {
    margin: 10px 0;
  }
}

.disinfo-hero {
  text-align: center;
  margin: 150px 0 0;
  &__title {
    color: $teal;
  }
}

.take-action {
  .title {
    font-size: 40px;
    font-weight: 600;
  }
  .desc {
    font-size: 22px;
    font-weight: 400;
  }
}

.take-action-block__contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 520px;
  margin: 50px 0;
}

.block-content {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 500px;
  border-radius: 6px;
  border: 0.5px solid $very-light-gray;
  text-align: left;
  font-size: 16px;
  color: $black;
  cursor: pointer;
  text-decoration: none;
  margin: 0 15px;
  position: relative;
  &__pic {
    height: 250px;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  &__title {
    font-weight: 600;
    padding: 10px 5px;
    font-size: 18px;
  }
  &__desc {
    padding: 0 5px;
  }
  &__link {
    color: $gray;
    position: absolute;
    left: 5px;
    bottom: 5px;    
  }
  &:hover{
    text-decoration: none;
  }
}

.video-block {
  background-color: $black;
  height: auto;
  color: $white;
  text-align: center;
  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
  }
}

.video-section {
  &__title {
    color: $orange;
    margin: 40px 0;
  }
  &__content {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 80px auto;
    .content {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      text-align: left;
      .title {
        font-size: 20px;
        font-weight: 600;
        padding: 10px 0;
        line-height: 24px;
        color: $orange;
      }
      .desc {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
.video-section__content.video-right  {
  flex-direction: row-reverse;
}

.resource-block {
  text-align: center;
  margin: 40px 0;
  height: 650px;
  &__title {
    font-size: 34px;
    font-weight: 600;
    color: $orange;
  }
  &__contents {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1600px;
  }
  &__section-box {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border-radius: 6px;
    border-left: 8px solid transparent;
    color: $black;
    text-align: left;
    justify-content: center;
    background-color: $chalk-gray;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 4px 0px;
    transition: border-left 0.5s ease-in-out 0s;
    &:hover{
      text-decoration: none;
      border-left: 8px solid $orange;
    }
    &__title {
      font-size: 22px;
    }
    &__read-more {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 30px;
      width: 30px;
      font-size: 24px;
    }
  }
  &__section-box__read-more.fa:before {
    content: "\f178";
  }
}
