.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.main-content {
  @include centered-to-full(930px, 2%);
  margin-top: 200px;
  margin-bottom: 100px;
  overflow: hidden;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;

  p, h2, h3 {
    margin-bottom: 20px;
  }
  h2, h3 {
    margin-top: 25px;
  }
  em {
    font-weight: bold;
  }
  &__sticky-side {
    margin: 0 0 0 50px;
    width: 230px;
    padding-left: 49px;
    border-left: 1px solid $overcast-gray;
    float: right;
    top: 120px;
    h2 {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    @media(max-width: 930px) {
      position: static;
      border-left: none;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__nav-item {
    padding: 12px 12px 12px 49px;
    margin-left: -49px;
    color: $chalkboard;
    font-weight: bold;
    display: block;
    @media(max-width: 930px) {
      float: left;
      padding-left: 12px;
      margin-left: 0;
      border-left: 1px solid $overcast-gray;
      &:last-of-type {
        border-right: 1px solid $overcast-gray;
      }
    }
    &:hover, &--selected {
      background: $navy;
      color: white;
      text-decoration: none;
      @media(max-width: 930px) {
        color: $teal;
        background: none;
        text-decoration: underline;
      }
    }
  }
  &--no-padding {
    @include centered-to-full(930px, 0%);
    margin-top: 200px;
    margin-bottom: 100px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__body-text {
    max-width: 600px;
    float: left;
    color: $chalkboard;
  }
}

.header {
  $mobile-nav-width: 580px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 1000;
  &__language {
    background: $dark-navy;
    width: 100%;
    height: 12px;
    padding: 12px 0;
  }
  &__logo-block {
    padding: 10px 0 0;
    float: left;
    .header-logo__tagline {
      color: white;
      text-transform: none;
      font-weight: 300;
      position: relative;
      top: -2px;
      @media(max-width: 850px) {
        display: none;
      }
    }
    div {
      float: left;
    }
  }
  $nav-background: rgba($navy, 0.8);
  &.headroom--not-top {
    .header__nav--clear {
      background-color: $nav-background;
    }
  }
  &__nav {
    padding: 8px 12px;
    background-color: $nav-background;
    overflow: hidden;
    @include transition(background-color 0.4s ease-in-out);
    &--clear {
      background-color: transparent;
      .header__nav-item {
        color: white;
        &:hover {
          color: $navy;
          background: white;
        }
        &--focus {
          color: $teal;
          background: white;
        }
      }
      .header__logo-block {
        display: none;
      }
    }
    &-item {
      padding: 17px 15px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      float: right;
      border-radius: 5px;
      margin-left: 5px;
      font-size: 14px;
      &:hover {
        color: white;
        background: $teal;
        text-decoration: none;
      }
      &--focus {
        color: white;
        background: $teal;
      }
      @media(max-width: $mobile-nav-width) {
        @include box-sizing(border-box);
        padding: 10px;
        background: none;
        float: left;
        clear: left;
      }
    }
    &-items {
      @media(max-width: $mobile-nav-width) {
        position: fixed;
        left: 100%;
        top: 92px;
        background: rgba($navy,0.8);
        width: 100%;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        &.header__nav-items--open {
          transform: translateX(-100%);
        }
      }
    }
  }
  &.headroom--unpinned {
    .header__nav-items--open {
      @include transform(translateX(-100%) translateY(-100%));
    }
  }
  &__mobile-nav-trigger {
    display: none;
    @media(max-width: $mobile-nav-width) {
      display: block;
      color: white;
      font-size: 30px;
      line-height: 40px;
      float: right;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.headroom {
  &--pinned {
    @include transform(translateY(0%));
    @include transition(transform 0.4s ease-in-out, background-color 0.4s ease-out);
  }
  &--unpinned {
    @include transform(translateY(-100%));
    @include transition(transform 0.4s ease-in-out, background-color 0.4s ease-in 0.4s);
  }
}

.big-footer {
  $footer-collapse-point: 880px;
  background: $dark-navy;
  min-height: 265px;
  color: white;
  position: relative;
  padding-top: 35px;
  overflow: hidden;
  width: 100%;
  &__left-side {
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    float: left;
  }
  &__right-side {
    float: right;
    @media(max-width: $footer-collapse-point) {
      float: left;
    }
  }
  &__social-icon {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 16px;
    display: block;
    color: $dark-navy;
    float: right;
    margin-left: 10px;
    @media(max-width: $footer-collapse-point) {
      margin: 0 10px 40px 0;
      float: left;
    }
    &:hover {
      text-decoration: none;
      color: $teal;
    }
    &:before {
      font-size: 20px;
      width: 32px;
      text-align: center;
      display: block;
      height: 32px;
      line-height: 32px;
    }
    &--github:before {
      content: '\f113';
    }
    &--facebook:before {
      content: '\f09a';
    }
    &--twitter:before {
      content: '\f099';
    }
    &--youtube:before {
      content: '\f167';
    }
  }
  &__logo {
    float: left;
    margin-right: 20px;
  }
  &__tagline {
    @media(max-width: 560px) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-bottom: 20px;
      font-size: 18px;
    }
  }
  &__links {
    max-width: 350px;
  }
  &__link {
    display: block;
    font-weight: bold;
    float: left;
    color: white;
    margin-right: 40px;
    width: 130px;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 14px;
    opacity: 0.9;
    @media(max-width: $footer-collapse-point) {
      margin-right: 10px;
    }
  }
  &__license {
    color: $slate-gray;
    position: absolute;
    bottom: 10px;
    left: 10%;
    font-size: 12px;
    @media(max-width: $footer-collapse-point) {
      display: none;
    }
  }
  &__branding {
    margin-bottom: 40px;
  }
  &__language {
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    @media(max-width: $footer-collapse-point) {
      margin: 20px 0;
    }
  }
}
