.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.page-content {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 90px;
  font-family: "Montserrat";
  @include centered-to-full(85%, 2%);
  margin-top: 80px;
  margin-bottom: 120px;
  min-height: calc(100vh - 600px); // 600 = 300 (footer) + 200 + 100 (margins)
  line-height: 24px;
  font-size: 16px;
  height: 100%;
  .sidebar-content {
    height: 100%;
    position: sticky;
    top: 0;
    width: 20%;
    .sidebar-options {
      display: flex;
      flex-direction: column;
      border-right: solid 0.4px #979797;
      text-align: right;
      // height: 700px;
      .sidebar-item {
        padding: 12px 30px 12px 30px;
        color: $chalkboard;
        font-weight: 500;
        font-family: "Montserrat";
        display: block;
        @media(max-width: 930px) {
          padding-left: 12px;
        }
        &:hover, &--selected {
          background: $navy;
          color: white;
          text-decoration: none;
          @media(max-width: 930px) {
            color: $teal;
            background: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .details-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 100px;
    .section-title {
      height: 40px;
      font-family: Montserrat;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.5;
      color: $pitchblack;
    }
    .section-details {
      padding-top: 10px;
      .faq__answer {
        p {
          font-size: 14px !important;
          padding: 10px 0;
          font-weight: 400;
        }
      }
      p {
        padding: 10px 0 20px 0;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 1.38;
        color: #000000;
        font-weight: 300;
      }
    }
  }
  .details-content.media {
    width: 70%;
    padding: 0 65px 0 0;
    .section-title {
      color: $orange;
    }
    .section-details {
      .press-release-title {
        font-size: 18px;
        font-weight: 600;
        padding: 30px 0;
      }
    }
  }
  .details-content.campaigns {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    width: 100%;
    .section-title {
      height: 100%;
    }
    .section-details, .section-title {
      width: 70%;
    }
  }
  .sidebar-content.media {
    width: 30%;
    font-family: Montserrat;
    .sidebar-options {
      border-left: solid 0.4px #979797;
      border-right: 0px;
      text-align: left;
      padding: 10px 0 30px 25px;
      .sidebar-title {
        font-size: 18px;
        font-weight: 600;
        padding: 0 0 11px 0;
      }
      .sidebar-text {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 30px;
        span {
          font-weight: 600;
        }
      }
    }
  }
  .contact-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 15px 0;
  }
  .contact-content {
    font-family: Montserrat;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    .contact-content-item {
      display: flex;
      flex-direction: row;
      padding: 10px 0;
    }
    .contact-content-key {
      width: 32%;
      color: #606060;
      font-weight: 200;
    }
    .contact-content-value {
      width: 68%;
      font-weight: 300;
    }
  }
  .contact-desc {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0;
  }
}

// .main-content {
//   @include centered-to-full(930px, 2%);
//   margin-top: 120px;
//   margin-bottom: 120px;
//   min-height: calc(100vh - 600px); // 600 = 300 (footer) + 200 + 100 (margins)
//   overflow: hidden;
//   line-height: 24px;
//   font-size: 16px;
//   font-weight: 300;
//   font-family: "Montserrat";

//   p, h2, h3 {
//     margin-bottom: 20px;
//   }
//   p {
//     text-align: center;
//   }
//   h2, h3 {
//     margin-top: 25px;
//     &.main-content__hugs-top {
//       margin-top: 0;
//     }
//   }
//   em {
//     font-weight: bold;
//   }
//   &__sticky-side {
//     margin: 0 0 0 0px;
//     width: 180px;
//     border-right: 1px solid $overcast-gray;
//     text-align: right;
//     top: 120px;
//     float: left;
//     h2 {
//       margin-top: 0;
//     }
//     p:last-of-type {
//       margin-bottom: 0;
//     }
//     @media(max-width: 930px) {
//       position: static;
//       border-left: none;
//       width: 100%;
//       margin-bottom: 20px;
//     }
//   }
//   &__nav-item {
//     margin: 5px 0px;
//     padding: 12px 30px 12px 30px;
//     // color: $chalkboard;
//     font-weight: 600;
//     font-family: "Montserrat";
//     display: block;
//     @media(max-width: 930px) {
//       float: left;
//       padding-left: 12px;
//       margin-left: 0;
//       border-left: 1px solid $overcast-gray;
//       &:last-of-type {
//         border-right: 1px solid $overcast-gray;
//       }
//     }
//     &:hover, &--selected {
//       background: $navy;
//       color: white;
//       text-decoration: none;
//       @media(max-width: 930px) {
//         color: $teal;
//         background: none;
//         text-decoration: underline;
//       }
//     }
//   }
//   &--no-padding {
//     @include centered-to-full(930px, 0%);
//     margin-top: 200px;
//     margin-bottom: 100px;
//   }
//   &__title {
//     font-size: 26px;
//     font-weight: 800;
//     text-align: center;
//     margin: 50px 0;
//   }
//   &__image {
//     height: 300px;
//     width: 100%;
//     background-image: url('../images/media-attention.jpg');
//   }
//   // &__body-text {
//   // max-width: 600px;
//   // float: right;
//   // color: $chalkboard;
//   // }
// }

.header {
  $mobile-nav-width: 730px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 1000;
  &--dont-scroll {
    position: absolute;
  }
  &__nav {
    position: relative;
    z-index: 1;
    background: white;
    padding: 20px 24px;
    overflow: hidden;
    font-family: "Montserrat";
    @include transition(background-color 0.4s ease-in-out);
    @media (max-width: $mobile-nav-width) {
      padding: 10px 12px;
    }

    &--clear {
      // @media(min-width: $mobile-nav-width+1) {
      //   background-color: transparent;
      //   .header__nav-item--focus {
      //     color: $teal;
      //     background: white;
      //   }
      // }
      .header__logo-block {
        display: none;
      }
      .header-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        height: 90px;
        justify-content: space-between;
        @media (max-width: $mobile-nav-width) {
          height: 45px;
        }
        .header-holder {
          display: flex;
          align-items: flex-start;
          .header-image {
            width: 150px;
          }
        }
        .header-nav-items {
          height: 60px;
          a {
            div {
              height: 25px;
              border-bottom: 2px solid transparent;
              font-weight: 600;
              text-decoration: none;
            }
            &:hover {
              text-decoration: none;
              div {
                font-weight: 600;
                border-bottom: 2px solid $teal;
              }
            }
          }
          @media(max-width: $mobile-nav-width) {
            display: none;
          }
        }
        .header-options {
          height: 60px;
          display: flex;
          flex-direction: row-reverse;
          a {
            div {
              height: 25px;
              font-weight: 400;
              text-decoration: none;
            }
          }
          @media(max-width: $mobile-nav-width) {
              display: none;
          }
          .donate-button {
            color: white !important;
            padding: 6px 15px;
            div {
              height: 14px;
              padding: 10px 12px;
              background-color: #f8492d;
            }
          }
        }
        .mobile-lang-select {
          display: none;
          @media (max-width: $mobile-nav-width) {
            display: block;
            .language-select {
              width: 62px;
            }
          }
        }
      }
    }
    &-item {
      padding: 17px 15px;
      color: black;
      font-weight: bold;
      cursor: pointer;
      float: right;
      border-radius: 5px;
      margin-left: 5px;
      font-size: 14px;
      &:hover {
        text-decoration: none;

      }
      &--focus {
        color: white;
        // background: $teal;
        div {
          border-bottom: 2px solid $teal;
        }
      }
      @media(max-width: $mobile-nav-width) {
        @include box-sizing(border-box);
        padding: 10px;
        background: none;
        float: left;
        clear: left;
      }
    }
    &-items {
      @media(max-width: $mobile-nav-width) {
        position: fixed;
        left: 100%;
        top: 92px;
        background: rgba($navy,0.8);
        width: 100%;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        &.header__nav-items--open {
          transform: translateX(-100%);
        }
      }
    }
  }
  &.headroom--unpinned {
    .header__nav-items--open {
      @include transform(translateX(-100%) translateY(-100%));
    }
  }
  &__mobile-nav-trigger {
    display: none;
    @media(max-width: $mobile-nav-width) {
      display: block;
      color: black;
      font-size: 15px;
      line-height: 40px;
      padding: 0 10px 0 0;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &--landing-page.headroom--top  {
    .white-logo {
      display: block;
      @media(max-width: $mobile-nav-width) {
        display: none;
      }
    }
    #nav-icon {
      @media (max-width: 730px) {
        $icon-color: #fff;
        background: -webkit-linear-gradient(top, transparent 0%, transparent 20%, $icon-color 20%, $icon-color 23%, transparent 23%, transparent 48%, $icon-color 48%, $icon-color 50%, transparent 47%, transparent 76%, $icon-color 76%, $icon-color 78%, transparent 78%), -webkit-linear-gradient(transparent, transparent);
        background: linear-gradient(to bottom, transparent 0%, transparent 20%, $icon-color 20%, $icon-color 23%, transparent 23%, transparent 48%, $icon-color 48%, $icon-color 50%, transparent 47%, transparent 76%, $icon-color 76%, $icon-color 78%, transparent 78%), linear-gradient(transparent, transparent);
        &.clicked {
          background: -webkit-linear-gradient(135deg, transparent 0%, transparent 48%, $icon-color 49%, $icon-color 51%, transparent 51%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 48%, $icon-color 49%, $icon-color 51%, transparent 51%, transparent 100%);
          background: linear-gradient(-45deg, transparent 0%, transparent 48%, $icon-color 49%, $icon-color 51%, transparent 51%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 48%, $icon-color 49%, $icon-color 51%, transparent 51%, transparent 100%);
        }
      }
        
    }
    .header__nav {
      background: #172340;
    }
    .horizontal-logo, .dark-logo, .white-horizontal-logo {
      display: none;
    }
    .header__nav-item, .language-select {
      color: white !important;
    }
    .header__mobile-nav-trigger {
      color: white;
    }
    .white-horizontal-logo {
      display: none;
      @media(max-width: $mobile-nav-width) {
        display: block;
        height: 17px;
        width: 88px;
      }
    }
  }
  .language-select {
    color: black;
    width: 102px;
    font-size: 14px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;    
    height: 45px;
    border: 0px;
    background-color: transparent;
    font-family: Montserrat;
    font-weight: 400;
    background-image:
      linear-gradient(45deg, transparent 50%, #04ccde 50%),
      linear-gradient(135deg, #04ccde 50%, transparent 50%);
    background-position:
      calc(100% - 20px) calc(0.6em + 13px),
      calc(100% - 15px) calc(0.6em + 13px),
      calc(100% - 2.5em) 0.5px;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    &:focus {
      outline: none;
    }
  }
}

.headroom {
  $mobile-nav-width: 730px;
  .horizontal-logo, .white-logo, .white-horizontal-logo {
    display: none;
  }
  @media (max-width: $mobile-nav-width) {
    .dark-logo {
      display: none;
    }
    .horizontal-logo {
      display: block;
      width: 88px;
      height: 17px;
    }
  }

  &--top {
    background: transparent;
    border-bottom: 0px;
  }
  &--not-top, &--not-top#{&}--pinned  {
    background: white;
    border-bottom: 0.6px solid #dfdfdf;
    .header__nav {
      background: white;
    }
    .header-bar, .header-holder, .header-nav-items, .header-options {
      height: 45px;
    }
    @media (max-width: $mobile-nav-width) {
      .header-holder {
        height: 20px;
      }
    }
    
    .white-logo, .dark-logo, .white-horizontal-logo {
      display: none;
    }
    .horizontal-logo {
      display: block;
      @media (max-width: $mobile-nav-width) {
        height: 17px;
        width: 88px;
      }
    }
  }
  &--pinned {
    @include transform(translateY(0%));
    @include transition(transform 0.4s ease-in-out, background-color 0.4s ease-out);
  }
  &--unpinned {
    @include transform(translateY(-100%));
    @include transition(transform 0.4s ease-in-out, background-color 0.4s ease-in 0.4s);
  }
}

.big-footer {
  $footer-collapse-point: 880px;
  background: $pitchblack;
  min-height: 180px;
  color: white;
  position: relative;
  padding: 60px 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    .logo {
      .logo-desktop{
        height: 86px;
        width: 96px;
        background-image: url("../images/sumofus-white-logo.svg");
      }
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      a {
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        color: white;
        padding: 0 10px;
        &:hover {
          text-decoration: none;
          color: $teal;
        }
      }
    }
  }
  &__copyright-license {
    font-family: Montserrat;
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    padding: 30px 165px 0 100px;
    height: 30px;
    display: block;
    align-items: center;
  }
  &__social-icon {
    width: 28px;
    display: block;
    color: white;
    float: right;
    margin-left: 5px;
    @media(max-width: $footer-collapse-point) {
      margin: 0 10px 40px 0;
      float: left;
    }
    &:hover {
      text-decoration: none;
      color: $teal;
    }
    &:before {
      font-size: 20px;
      width: 32px;
      text-align: center;
      display: block;
      height: 32px;
      line-height: 32px;
    }
    &--github:before {
      content: '\f09b';
    }
    &--facebook:before {
      content: '\f09a';
    }
    &--twitter:before {
      content: '\f099';
    }
    &--youtube:before {
      content: '\f16a';
    }
    &--instagram:before {
      content: '\f16d';
    }
  }
}

.legacy {
  &__intro-block {
    background-color: $dark-navy;
    background-image: url(image_path('legacy-couple.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% top;
    border-top: 100px solid $dark-navy;
    &.full-screen-block {
      height: 600px; // fallback
      height: calc(100vh - 100px);
      max-height: 700px;
      min-height: 500px;
    }
  }
  &__title {
    position: absolute;
    bottom: 50px;
    left: 50px;
    .typography__highlight-wrapper {
      border-left-color: $dark-navy;
    }
    .typography__highlight {
      border-color: $dark-navy;
      background: $dark-navy;
      font-size: 50px;
    }
  }
  &__signup-block {
    background: $third-blue;
    padding: 70px 0;
    .join-block__signup-panel {
      background: $third-blue;
      margin: 0 auto;
    }
    .new-member-form__group {
      min-height: 61px;
    }
    .form--big {
      input, select, textarea, .selectize-control.single .selectize-input, .hosted-fields__host {
        &:focus, &.focus {
          border-color: $navy;
        }
      }
      .selectize-dropdown.single {
        border-color: $navy;
        .option.active {
          background-color: $navy;
        }
      }
      .sweet-placeholder__label--active {
        color: $navy;
      }
      .form__group .error-msg {
        color: white;
      }
    }
    .new-member-form__thank-you {
      padding-top: 20px;
      line-height: 1.4em;
      font-size: 30px;
      color: white;
      font-weight: bold;
    }
  }
  &__signup-intro {
    padding: 0 15px;
    max-width: 590px;
    h2, p {
      color: white;
      margin-bottom: 20px;
      line-height: 1.4em;
    }
    h2 {
      font-size: 30px;
    }
  }
  &__download-stripe {
    background-color: #1f2533;
    color: white;
    padding: 50px 0;
    overflow: hidden;
    &-content {
      @include centered-to-full(1000px);
    }
  }
  &__download-prompt {
    width: calc(100% - 290px);
    margin-left: 30px;
    font-size: 28px;
    float: left;
    text-align: left;
    margin-right: 20px;
    line-height: 1.3em;
    a {
      color: white;
    }
    @media(max-width: 600px) {
      width: 90%;
      margin: 0 5% 20px;
    }
  }
  &__download-button {
    background-color: white;
    color: $third-blue;
    width: 200px;
    height: 80px;
    float: left;
    line-height: 1.3em;
    &:hover {
      background-color: #e3eff2;
    }
    @media(max-width: 600px) {
      margin: 0 auto;
      float: none;
      overflow: hidden;
    }
  }

  &__magazine-block {
    background-color: white;
    padding: 70px 0;
    color: #434343;
  }
  &__magazine-body-text {
    @include centered-to-full(700px, 2%);
    text-align: justify;
    * {
      line-height: 1.4em;
    }
    p, h1, h2, h3, h4, h5, h6 {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: normal;
      text-align: left;
    }
  }
  &__magazine-quote {
    $large-font-size: 30px;
    $helvetica: "Helvetica Neue", Helvetica, Arial, sans;
    $text-gray: #434343;
    font-family: Georgia, "Times New Roman", serif;
    font-size: $large-font-size;
    padding-left: 28px;
    border-left: 2px solid #cccdcd;
    width: 67%;
    position: relative;
    margin-bottom: 14px;
    line-height: 1.2em;
    text-align: left;
    $quote-jut-1: -75px;
    $quote-break-1: 900px;
    $quote-jut-2: -30px;
    $quote-break-2: 850px;
    $quote-jut-3: 26px;
    @media(max-width: 600px) {
      width: 100%;
      @include box-sizing(border-box);
    }
    &--right {
      @media(max-width: $quote-break-1) {
        margin-right: $quote-jut-2;
      }
      @media(max-width: $quote-break-2) {
        margin-right: $quote-jut-3;
        font-size: 26px;
      }
      margin-right: $quote-jut-1;
      left: $quote-jut-3;
      float: right;
    }
    &--left {
      @media(max-width: $quote-break-1) {
        margin-left: $quote-jut-2;
      }
      @media(max-width: $quote-break-2) {
        margin-left: $quote-jut-3;
        font-size: 26px;
      }
      margin-left: $quote-jut-1;
      right: $quote-jut-3;
      float: left;
      margin-top: 20px;
    }
  }
}

#nav-icon {
  display: none;
  @media (max-width: 730px) {
    $icon-color: #000;
    display: block;
    width: 17.5px;
    height: 20px;
    cursor: pointer;
    border-radius: 0px;
    margin-right: 10px;
    -webkit-transition: all .3s ease, -webkit-transform .2s ease;
            transition: all .3s ease, transform .2s ease;
    background: -webkit-linear-gradient(top, transparent 0%, transparent 20%, $icon-color 20%, $icon-color 23%, transparent 23%, transparent 48%, $icon-color 48%, $icon-color 50%, transparent 47%, transparent 76%, $icon-color 76%, $icon-color 78%, transparent 78%), -webkit-linear-gradient(transparent, transparent);
    background: linear-gradient(to bottom, transparent 0%, transparent 20%, $icon-color 20%, $icon-color 23%, transparent 23%, transparent 48%, $icon-color 48%, $icon-color 50%, transparent 47%, transparent 76%, $icon-color 76%, $icon-color 78%, transparent 78%), linear-gradient(transparent, transparent);
    &:active, &:hover {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
    }
    &.clicked {
      background: -webkit-linear-gradient(135deg, transparent 0%, transparent 48%, $icon-color 49%, $icon-color 51%, transparent 51%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 48%, $icon-color 49%, $icon-color 51%, transparent 51%, transparent 100%);
      background: linear-gradient(-45deg, transparent 0%, transparent 48%, $icon-color 49%, $icon-color 51%, transparent 51%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 48%, $icon-color 49%, $icon-color 51%, transparent 51%, transparent 100%);
      -webkit-transform: scale(0.7) rotate(180deg);
          -ms-transform: scale(0.7) rotate(180deg);
              transform: scale(0.7) rotate(180deg);
    }
    &.clicked:active, &.clicked:hover {
      -webkit-transform: scale(0.7) rotate(180deg);
          -ms-transform: scale(0.7) rotate(180deg);
              transform: scale(0.7) rotate(180deg);
    }
  }
    
}

.mobile-nav-options {
  border-bottom: solid 0.4px #dfdfdf;
  visibility: hidden;
  transform: translateY(-260px);
  position: relative;
  z-index: 0;
  height: 180px;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 5px 0;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  a {
    font-size: 16px;
    color: #172340;
    padding: 0 20px;
  }
}

.header.menu-closed {
  .mobile-nav-options {
    height: 0;
    padding: 0;
  }
}
  
  