.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.page-content {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 90px;
  font-family: "Montserrat";
  @include centered-to-full(930px, 2%);
  margin-top: 120px;
  margin-bottom: 120px;
  min-height: calc(100vh - 600px); // 600 = 300 (footer) + 200 + 100 (margins)
  overflow: hidden;
  line-height: 24px;
  font-size: 16px;
  height: 100%;
  .sidebar-content {
    width: 20%;
    .sidebar-options {
      display: flex;
      flex-direction: column;
      border-right: solid 0.4px #979797;
      text-align: right;
      .sidebar-item {
        margin: 5px 0px;
        padding: 12px 30px 12px 30px;
        color: $chalkboard;
        font-weight: 500;
        font-family: "Montserrat";
        display: block;
        @media(max-width: 930px) {
          float: left;
          padding-left: 12px;
          margin-left: 0;
          border-left: 1px solid $overcast-gray;
          &:last-of-type {
            border-right: 1px solid $overcast-gray;
          }
        }
        &:hover, &--selected {
          background: $navy;
          color: white;
          text-decoration: none;
          @media(max-width: 930px) {
            color: $teal;
            background: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .details-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 100px;
    .section-title {
      height: 40px;
      font-family: Montserrat;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.5;
      color: $pitchblack;
    }
    .section-details {
      padding-top: 10px;
      .faq__answer {
        p {
          font-size: 14px !important;
          padding: 10px 0;
          font-weight: 400;
        }
      }
      p {
        padding: 10px 0 20px 0;
        font-family: Montserrat;
        font-size: 16px;
        line-height: 1.38;
        color: #000000;
        font-weight: 300;
      }
    }
  }
  .details-content.media {
    width: 70%;
    padding: 0 65px 0 0;
    .section-title {
      color: $orange;
    }
    .section-details {
      .press-release-title {
        font-size: 18px;
        font-weight: 600;
        padding: 30px 0;
      }
    }
  }
  .sidebar-content.media {
    width: 30%;
    font-family: Montserrat;
    .sidebar-options {
      border-left: solid 0.4px #979797;
      border-right: 0px;
      text-align: left;
      padding: 10px 0 30px 25px;
      .sidebar-title {
        font-size: 18px;
        font-weight: 600;
        padding: 0 0 11px 0;
      }
      .sidebar-text {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 30px;
        span {
          font-weight: 600;
        }
      }
    }
  }
  .contact-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 15px 0;
  }
  .contact-content {
    font-family: Montserrat;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    .contact-content-item {
      display: flex;
      flex-direction: row;
      padding: 10px 0;
    }
    .contact-content-key {
      width: 32%;
      color: #606060;
      font-weight: 200;
    }
    .contact-content-value {
      width: 68%;
      font-weight: 300;
    }
  }
  .contact-desc {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0;
  }
}
.main-content {
  @include centered-to-full(930px, 2%);
  margin-top: 120px;
  margin-bottom: 120px;
  min-height: calc(100vh - 600px); // 600 = 300 (footer) + 200 + 100 (margins)
  overflow: hidden;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat";

  p, h2, h3 {
    margin-bottom: 20px;
  }
  p {
    text-align: center;
  }
  h2, h3 {
    margin-top: 25px;
    &.main-content__hugs-top {
      margin-top: 0;
    }
  }
  em {
    font-weight: bold;
  }
  &__sticky-side {
    margin: 0 0 0 0px;
    width: 180px;
    border-right: 1px solid $overcast-gray;
    text-align: right;
    top: 120px;
    float: left;
    h2 {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    @media(max-width: 930px) {
      position: static;
      border-left: none;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__nav-item {
    margin: 5px 0px;
    padding: 12px 30px 12px 30px;
    color: $chalkboard;
    font-weight: 600;
    font-family: "Montserrat";
    display: block;
    @media(max-width: 930px) {
      float: left;
      padding-left: 12px;
      margin-left: 0;
      border-left: 1px solid $overcast-gray;
      &:last-of-type {
        border-right: 1px solid $overcast-gray;
      }
    }
    &:hover, &--selected {
      background: $navy;
      color: white;
      text-decoration: none;
      @media(max-width: 930px) {
        color: $teal;
        background: none;
        text-decoration: underline;
      }
    }
  }
  &--no-padding {
    @include centered-to-full(930px, 0%);
    margin-top: 200px;
    margin-bottom: 100px;
  }
  &__title {
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin: 50px 0;
  }
  // &__body-text {
    // max-width: 600px;
    // float: right;
    // color: $chalkboard;
  // }
}

.header {
  $mobile-nav-width: 580px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 1000;
  &--dont-scroll {
    position: absolute;
  }
  // &__language {
  //   background: $dark-navy;
  //   width: 100%;
  //   height: 12px;
  //   padding: 12px 0;
  // }
  // &__logo-block {
  //   padding: 10px 0 0;
  //   float: left;
  //   .header-logo__tagline {
  //     color: white;
  //     text-transform: none;
  //     font-weight: 300;
  //     position: relative;
  //     top: -2px;
  //     @media(max-width: 1000px) {
  //       display: none;
  //     }
  //   }
  //   div {
  //     float: left;
  //   }
  // }
  $nav-background: rgba($navy, 0.8);
  &.headroom--not-top {
    .header__nav--clear {
      // background-color: $nav-background;
    }
  }
  &__nav {
    padding: 20px 24px;
    // background-color: $nav-background;
    overflow: hidden;
    font-family: "Montserrat";
    @include transition(background-color 0.4s ease-in-out);
    &--clear {
      .header__nav-item {
        color: white;
      }
      @media(min-width: $mobile-nav-width+1) {
        background-color: transparent;
        .header__nav-item--focus {
          color: $teal;
          background: white;
        }
      }
      .header__logo-block {
        display: none;
      }
      .header-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        .logo-desktop {
          width: 96px;
          height: 86px;
          object-fit: contain;
        }
        .header-nav-items {
          width: 50%;
          a {
            div {
              height: 25px;
              border-bottom: 2px solid transparent;
              font-weight: 400;
              text-decoration: none;
            }
            &:hover {
              text-decoration: none;
              div {
                font-weight: 600;
                border-bottom: 2px solid $teal;
              }
            }
          }
        }
        .header-options {
          flex: 1;
          a {
            div {
              height: 25px;
              font-weight: 400;
              text-decoration: none;
            }
          }
          .donate-button {
            padding: 6px 15px;
            div {
              height: 14px;
              padding: 10px 12px;
              background-color: #f8492d;
            }
          }
          .language-select {
            border: 0px;
            background-color: transparent;
            padding-top: 10px;
            height: 32px;
            font-family: Montserrat;
            font-weight: 400;
            div {
              &:after {
                font-family: FontAwesome;
                content: "\f107";
                display: inline-block;
                padding-left: 5px;
                vertical-align: middle;
                font-weight:900;
                color: #04ccde;
              }
            }
          }
        }
      }
    }
    &-item {
      padding: 17px 15px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      float: right;
      border-radius: 5px;
      margin-left: 5px;
      font-size: 14px;
      &:hover {
        color: white;
        // background: $teal;
        text-decoration: none;
        
      }
      &--focus {
        color: white;
        // background: $teal;
        div {
          border-bottom: 2px solid $teal;
        }
      }
      @media(max-width: $mobile-nav-width) {
        @include box-sizing(border-box);
        padding: 10px;
        background: none;
        float: left;
        clear: left;
      }
    }
    &-items {
      @media(max-width: $mobile-nav-width) {
        position: fixed;
        left: 100%;
        top: 92px;
        background: rgba($navy,0.8);
        width: 100%;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        &.header__nav-items--open {
          transform: translateX(-100%);
        }
      }
    }
  }
  &.headroom--unpinned {
    .header__nav-items--open {
      @include transform(translateX(-100%) translateY(-100%));
    }
  }
  &__mobile-nav-trigger {
    display: none;
    @media(max-width: $mobile-nav-width) {
      display: block;
      color: white;
      font-size: 30px;
      line-height: 40px;
      float: right;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.headroom {
  &--pinned {
    @include transform(translateY(0%));
    @include transition(transform 0.4s ease-in-out, background-color 0.4s ease-out);
  }
  &--unpinned {
    @include transform(translateY(-100%));
    @include transition(transform 0.4s ease-in-out, background-color 0.4s ease-in 0.4s);
  }
}

.big-footer {
  $footer-collapse-point: 880px;
  background: $dark-navy;
  min-height: 265px;
  color: white;
  position: relative;
  padding-top: 35px;
  overflow: hidden;
  width: 100%;
  &__left-side {
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    float: left;
  }
  &__right-side {
    float: right;
    @media(max-width: $footer-collapse-point) {
      float: left;
    }
  }
  &__social-icon {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 16px;
    display: block;
    color: $dark-navy;
    float: right;
    margin-left: 10px;
    @media(max-width: $footer-collapse-point) {
      margin: 0 10px 40px 0;
      float: left;
    }
    &:hover {
      text-decoration: none;
      color: $teal;
    }
    &:before {
      font-size: 20px;
      width: 32px;
      text-align: center;
      display: block;
      height: 32px;
      line-height: 32px;
    }
    &--github:before {
      content: '\f113';
    }
    &--facebook:before {
      content: '\f09a';
    }
    &--twitter:before {
      content: '\f099';
    }
    &--youtube:before {
      content: '\f167';
    }
    &--instagram:before {
      content: '\f16d';
    }
  }
  &__logo {
    float: left;
    margin-right: 20px;
  }
  &__tagline {
    @media(max-width: 560px) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-bottom: 20px;
      font-size: 18px;
    }
  }
  &__links {
    max-width: 350px;
  }
  &__link {
    display: block;
    font-weight: bold;
    float: left;
    color: white;
    margin-right: 40px;
    width: 130px;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 14px;
    opacity: 0.9;
    @media(max-width: $footer-collapse-point) {
      margin-right: 10px;
    }
  }
  &__license {
    color: $slate-gray;
    position: absolute;
    bottom: 10px;
    left: 10%;
    font-size: 12px;
    @media(max-width: $footer-collapse-point) {
      display: none;
    }
  }
  &__branding {
    margin-bottom: 40px;
  }
  &__language {
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    @media(max-width: $footer-collapse-point) {
      margin: 20px 0;
    }
  }
}

.legacy {
  &__intro-block {
    background-color: $dark-navy;
    background-image: url(image_path('legacy-couple.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% top;
    border-top: 100px solid $dark-navy;
    &.full-screen-block {
      height: 600px; // fallback
      height: calc(100vh - 100px);
      max-height: 700px;
      min-height: 500px;
    }
  }
  &__title {
    position: absolute;
    bottom: 50px;
    left: 50px;
    .typography__highlight-wrapper {
      border-left-color: $dark-navy;
    }
    .typography__highlight {
      border-color: $dark-navy;
      background: $dark-navy;
      font-size: 50px;
    }
  }
  &__signup-block {
    background: $third-blue;
    padding: 70px 0;
    .join-block__signup-panel {
      background: $third-blue;
      margin: 0 auto;
    }
    .new-member-form__group {
      min-height: 61px;
    }
    .form--big {
      input, select, textarea, .selectize-control.single .selectize-input, .hosted-fields__host {
        &:focus, &.focus {
          border-color: $navy;
        }
      }
      .selectize-dropdown.single {
        border-color: $navy;
        .option.active {
          background-color: $navy;
        }
      }
      .sweet-placeholder__label--active {
        color: $navy;
      }
      .form__group .error-msg {
        color: white;
      }
    }
    .new-member-form__thank-you {
      padding-top: 20px;
      line-height: 1.4em;
      font-size: 30px;
      color: white;
      font-weight: bold;
    }
  }
  &__signup-intro {
    padding: 0 15px;
    max-width: 590px;
    h2, p {
      color: white;
      margin-bottom: 20px;
      line-height: 1.4em;
    }
    h2 {
      font-size: 30px;
    }
  }
  &__download-stripe {    
    background-color: #1f2533;
    color: white;
    padding: 50px 0;
    overflow: hidden;
    &-content {
      @include centered-to-full(1000px);
    }
  }
  &__download-prompt {
    width: calc(100% - 290px);
    margin-left: 30px;
    font-size: 28px;
    float: left;
    text-align: left;
    margin-right: 20px;
    line-height: 1.3em;
    a {
      color: white;
    }
    @media(max-width: 600px) {
      width: 90%;
      margin: 0 5% 20px;
    }
  }
  &__download-button {
    background-color: white;
    color: $third-blue;
    width: 200px;
    height: 80px;
    float: left;
    line-height: 1.3em;
    &:hover {
      background-color: #e3eff2;
    }
    @media(max-width: 600px) {
      margin: 0 auto;
      float: none;
      overflow: hidden;
    }
  }

  &__magazine-block {
    background-color: white;
    padding: 70px 0;
    color: #434343;;
  }
  &__magazine-body-text {
    @include centered-to-full(700px, 2%);
    text-align: justify;
    * {
      line-height: 1.4em;
    }
    p, h1, h2, h3, h4, h5, h6 {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 1.5em;
      font-weight: normal;
      text-align: left;
    }
  }
  &__magazine-quote {
    $large-font-size: 30px;
    $helvetica: "Helvetica Neue", Helvetica, Arial, sans;
    $text-gray: #434343;
    font-family: Georgia, "Times New Roman", serif;
    font-size: $large-font-size;
    padding-left: 28px;
    border-left: 2px solid #cccdcd;
    width: 67%;
    position: relative;
    margin-bottom: 14px;
    line-height: 1.2em;
    text-align: left;
    $quote-jut-1: -75px;
    $quote-break-1: 900px;
    $quote-jut-2: -30px;
    $quote-break-2: 850px;
    $quote-jut-3: 26px;
    @media(max-width: 600px) {
      width: 100%;
      @include box-sizing(border-box);
    }
    &--right {
      @media(max-width: $quote-break-1) {
        margin-right: $quote-jut-2;
      }
      @media(max-width: $quote-break-2) {
        margin-right: $quote-jut-3;
        font-size: 26px;
      }
      margin-right: $quote-jut-1;
      left: $quote-jut-3;
      float: right;
    }
    &--left {
      @media(max-width: $quote-break-1) {
        margin-left: $quote-jut-2;
      }
      @media(max-width: $quote-break-2) {
        margin-left: $quote-jut-3;
        font-size: 26px;
      }
      margin-left: $quote-jut-1;
      right: $quote-jut-3;
      float: left;
      margin-top: 20px;
    }
  }
}