#greenhouse-jobs {
  .job-entry {
    width: 90%;
    padding: 20px 0;
    border-bottom: solid 0.4px #979797;
    &:last-of-type {
      border-bottom: transparent;
    }
    &__title {
      padding-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
    }
    &__details {
      width: 75%;
      display: flex;
      flex-direction: row;
      .remote {
        display: flex;
        padding: 5px 0;
        width: 100px;
        background: #f6f6f6;
        span {
          font-size: 14px;
          font-weight: normal;
          margin: 0 auto;
        }
      }
      .apply {
        margin-left: 50px;
        border-radius: 2px;
        background-color: #f8492d;
        text-decoration: none;
        span {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .seeAll {
    display: flex;
    padding: 5px 0;
    width: 140px;
    color: #f6f6f6;
    border-radius: 2px;
    background-color: #f8492d;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    .fa {
      font-size: 20px;
      padding-right: 10px;
    } 
    &:hover {
      box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
    }    
  }
  #grnhse_app {
    min-height: 60vh;
  }
}
