@mixin button($color) {
  @include box-sizing(border-box);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border: none;
  color: $black;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  display: block;  
  text-decoration: none;
  text-align: center;

  // main color scheme
  background-color: $color;

  &:hover:not(.new-member-form__button*), &:active {
    background-color: darken($color, 5%);
    text-decoration: none;
  }
  &:active {
    outline: none;
    @include box-shadow(inset darken($color, 15%) 0 3px 10px);
  }
}

.button {
  @include button($mint);

  &--disabled {
    @include button($slate-gray);
    cursor: auto;
    &:hover, &:active {
      box-shadow: none;
      background-color: $slate-gray;
    }
  }
}

.new-member-form__group .button {
  @include button($purple);
  color: $white;
}

// shareprogress isn't super customization friendly, so we do
// what we can.
.button {
  &--facebook, &--twitter {
    float: left;
    width: 145px;
    &.sp_em_small, &.sp_em_large, &.sp_tw_small, &.sp_tw_large, &.sp_fb_small, &.sp_fb_large {
      a {
        width: 100%;
        max-width: 145px;
        padding-top: 20px;
      }
    }

    a::before {
      color: $white;
      font-size: 18px;
      line-height: 35px;
    }
    a::after {
      color: $white;
      font-family: FontAwesome;
      font-size: 22px;
      margin-left: 10px;
      line-height: 35px;
      vertical-align: top;
    }
  }
  &--facebook {
    &.sp_em_small, &.sp_em_large, &.sp_tw_small, &.sp_tw_large, &.sp_fb_small, &.sp_fb_large {
      a {
        @include button($facebook);
        padding-top: 15px;
        color: $facebook; // hide SP text in browsers that don't handle font-size: 0;
        font-size: 1px;
        font-size: 0;
      }
    }
  }
  &--twitter {
    &.sp_em_small, &.sp_em_large, &.sp_tw_small, &.sp_tw_large, &.sp_fb_small, &.sp_fb_large {
      a {
        @include button($twitter);
        padding-top: 15px;
        color: $twitter; // hide SP text in browsers that don't handle font-size: 0;
        font-size: 1px;
        font-size: 0;
      }
    }
  }
  &--facebook a::before {
    content: "Share";
  }
  &--facebook a::after {
    content: "\f09a";
  }
  &--twitter a::before {
    content: 'Tweet';
  }
  &--twitter a::after {
    content: '\f099';
  }
}

button.button:not(.new-member-form__button*) {
  padding-top: 0;
}

