$small-screen-gutter: 4%;
$medium-screen-gutter: 2%;
$large-screen-gutter: 1.5%;

.campaign-tile {
  $single-height: 450px;
  background: $light-gray;
  margin: 14px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: lighter;
  color: $navy;
  text-align: left;
  position: relative;
  height: $single-height;
  width: 325px;
  padding: 14px 10px;
  overflow: hidden;
  opacity: 1;
  @include transition(opacity, 1s, ease-in-out);
  @media (max-width: 360px) {
    width: 280px;
  }
  &:hover {
    text-decoration: none;
    // .campaign-tile__open-cta {
    //   text-decoration: underline;
    // }
  }
  &__image {
    background-color: $light-white;
    background-size: cover;
    background-position: center;
    transition: height 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 305px;
    @media (max-width: 360px) {
      width: 260px;
    }
  }
  &__lead {
    padding: 15px 4px 0 4px;
    overflow: hidden;
    color: $new-navy;
    font-weight: 600;
    font-size: 16px;
    max-height: 60px;
    min-height: 60px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
  &__action-bar {
    margin: 15px 4px 0 4px;
    height: 10px;
    background: $light-white2;
    border-radius: 5px;
  }
  &__completed-action-bar {
    height: 10px;
    border-radius: 5px;
    background: $third-blue2;
  }
  &__action-count {
    margin: 10px 4px 14px 4px;
    font-size: 14px;
    font-weight: 300;
    color: $new-navy;
    line-height: 1em;
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    width: 170px;
    height: 32px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1em;
    bottom: 30px;
    color: $white;
    cursor: pointer;
    padding: 0px 4px;
    background: $orange;
    &:hover {
      text-decoration: none;
    }
  }
  &--compact {
    cursor: pointer;
    @include box-sizing(border-box);
    .campaign-tile__details,
    .campaign-tile__close-cta {
      opacity: 0;
    }
    .campaign-tile__details {
      transition: opacity 0.05s ease-out;
    }
  }
  &--expanded {
    .campaign-tile__image {
      width: 100%;
      height: 100%;
    }
    .campaign-tile__open-cta {
      display: none;
    }
    .campaign-tile__details {
      background: rgba($white, 0.9);
      line-height: 22px;
      font-size: 17px;
      text-align: left;
      height: 100%;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
  &__overlay {
    position: absolute;
    bottom: 0;
    height: 38px;
    font-weight: bold;
    color: $white;
    font-size: 14px;
    padding: 4px 30px;
    width: 100%;
    @include box-sizing(border-box);
    background: rgba($dark-navy, 0.6);
    @include transition(bottom 0.2s ease-in-out);
  }
}
.campaign-tiles {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &--empty {
    min-height: 900px;
  }
  .campaign-container {
    display: flex;
    flex: 0 0 33%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    @media (max-width: 1050px) {
      flex: 0 50%;
    }
    @media (max-width: 730px) {
      flex: 1;
    }
  }
}

.campaign-list {
  &__loading,
  &__failed {
    font-weight: 100;
    font-size: 22px;
    font-family: $default-fonts;
    margin-top: 20px;
    .fa {
      margin-right: 20px;
    }
  }
}
