.form {
  &__group {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    position: relative;

    input,
    textarea {
      &.has-error {
        border-color: $orange;
      }
    }
    .has-error {
      .selectize-control.single .selectize-input {
        border-color: $orange;
      }
    }
    .error-msg,
    .email_not_found {
      color: $orange;
      font-size: 14px;
      float: right;
      text-align: right;
      margin-top: 2px;
    }
    .email_not_found {
      text-align: left;
    }
    &--prefilled {
      display: none;
    }
    &--half-width {
      width: 49%;
      float: left;
      &--left {
        margin-right: 2%;
      }
    }
  }
  &--big {
    input,
    select,
    textarea,
    .selectize-control.single .selectize-input,
    .hosted-fields__host {
      @include rem(font-size, 1rem, true);
      @include box-sizing(border-box);
      border: 2px solid $white;
      background: $white;
      border-radius: 3px;
      padding: 18px;
      width: 100%;
      outline: none;
      box-shadow: none;

      &.hosted-fields__host {
        padding: 0 16px;
      }

      &:focus,
      &.focus {
        border-color: $teal;
        &.dropdown-active {
          border-bottom: none;
        }
      }
    }
    select {
      height: 64px;
    }

    label.checkbox-label {
      margin: 10px 0 4px;
      font-size: 14px;
    }

    textarea {
      line-height: 1.4em;
      height: 120px;
    }

    .selectize-dropdown.single {
      border: $teal 2px solid;
      border-top: none;
      .option.active {
        background-color: $teal;
        color: $white;
      }
    }

    .selectize-control {
      height: 58px;
    }
  }
}

label.checkbox-label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  input[type='checkbox'] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }
}

.sweet-placeholder {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 100%;
  float: left;
  &__label {
    position: absolute;
    top: 16px;
    left: 20px;
    z-index: 9;
    cursor: text;
    pointer-events: auto;
    color: rgba($black, 0.4);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: scale(1) translate3d(0px, 0px, 0px);
    transform-origin: left top 0px;
    -webkit-user-select: none;
    font-size: 18px;
    line-height: 28px;
    white-space: nowrap;
    max-width: calc(100% - 50px);
    overflow: hidden;
    &--active {
      color: $teal;
    }
    &--full {
      color: rgba($black, 0.6);
    }
    &--active,
    &--full {
      transform: perspective(1px) scale(0.6) translate3d(0px, -15px, 0px);
      max-width: 170%;
    }
  }
  input.sweet-placeholder__field,
  .selectize-control .selectize-input,
  textarea.sweet-placeholder__field {
    border: none;
    padding: 14px 18px 12px;
    font-size: 18px;
    line-height: 28px;
  }
}
.form--big .sweet-placeholder .selectize-control.single .selectize-input {
  padding: 23px 18px 11px;
  font-size: 18px;
  line-height: 21px;
  resize: vertical;
}

.new-member-button-container {
  width: 100%;
  text-align: center;
  display: inline-block;
}
