.modal {
  display: block;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba($black, 1);
  background-color: rgba($black, 0.4);
}

.modal-content {
  position: relative;
  background-color: $white-two;
  margin: 15% auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid $gray;
  width: 80%;
  max-width: 800px;
}

#modal-header {
  padding-bottom: 10px;
}
.close {
  color: $black;
  top: 20px;
  right: 20px;
  position: absolute;
  float: right;
  cursor: pointer;
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 0px 0px 10px rgba($black, 0.2);
  justify-content: center;
  border-radius: 100%;
  padding: 5px;
}

.logo {
  width: 96px;
  height: 86px;
  object-fit: contain;
}

#modal-inner {
  display: flex;
  flex-direction: column;
  .content-title {
    font-size: 26px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: $new-navy;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  .content-message {
    padding: 26px 30px;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    #donation-page-link {
      font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
      font-weight: 600;
      font-style: normal;
    }
    @media (max-width: 730px) {
      padding: 0;
      padding-top: 26px;
    }
  }
  .content-donate-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
    .fundraiser-bar__step-panel {
      margin-top: 30px;
      a.amount-button {
        max-width: 150px;
        display: inline-block;
        margin: 12px 30px;
        padding: 0;
        position: relative;
        border-radius: 0px;
        height: 55px;
        span.modal-button-container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          font-size: 14px;
          font-weight: 600;
        }
        @media (max-width: 730px) {
          max-width: 120px;
          margin: 10px;
        }
      }
    }
    .fundraiser-bar__amount-buttons {
      @media (max-width: 730px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  h1 {
    color: $black;
    margin-bottom: 20px;
  }
  p {
    font-size: 17px;
    line-height: 25px;
  }
  a.link {
    color: $black;
    font-weight: bold;
  }
  .fundraiser-bar__step-panel {
    margin-top: 30px;
  }
  a.amount-button {
    max-width: 150px;
    display: inline-block;
    margin: 10px;
    padding: 0;
    position: relative;
  }

  span.modal-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  @media (max-width: 730px) {
    margin-top: 30px;
  }
}
