.modal {
  display: block;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 650px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 12px;
  right: 20px;
  cursor: pointer;
}

#modal-inner {
  padding: 30px;
  display: inline-block;
  h1 {
    color: black;
    margin-bottom: 20px;
  }
  p {
    font-size: 17px;
    line-height: 25px;
  }
  a.link {
    color: black;
    font-weight: bold;
  }
  .fundraiser-bar__step-panel {
    margin-top: 30px;
  }
  a.amount-button {
    max-width: 150px;
    display: inline-block;
    margin: 10px;
  }
}
