.staff,
.faq {
  &__member,
  &__qa {
    overflow: hidden;
    // border-top: 1px solid $overcast-gray;
    // &:last-of-type {
    //   border-bottom: 1px solid $overcast-gray;
    // }
  }
  &__qa {
    padding: 20px 0 16px 0;
    border-bottom: 0.4px solid $semi-gray;
    &:last-child {
      border-bottom: 0.4px solid transparent;
    }
  }
  &__block {
    padding: 35px 0 0 0;
  }
  &__summary,
  &__question {
    width: 100%;
    padding: 0px 0;
    float: left;
    font-size: 18px;
    font-weight: 500;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    cursor: pointer;
    &:after {
      font-family: FontAwesome;
      content: '\f107';
      display: inline-block;
      padding-left: 5px;
      vertical-align: middle;
      font-weight: 900;
      float: right;
    }
    &--open {
      color: $black;
      &:after {
        font-family: FontAwesome;
        content: '\f106';
        display: inline-block;
        padding-left: 5px;
        vertical-align: middle;
        font-weight: 900;
        float: right;
      }
    }

    &-name {
      width: 32%;
      float: left;
      font-weight: bold;
      @include box-sizing(border-box);
      padding-left: 10px;
      @media (max-width: 500px) {
        width: 50%;
      }
    }
    &-title {
      width: 38%;
      float: left;
      @media (max-width: 500px) {
        width: 50%;
      }
    }
    &-location {
      width: 30%;
      float: left;
      color: $slate-gray;
      @include box-sizing(border-box);
      padding-right: 10px;
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
  &__question {
    // padding-left: 10px;
    // padding-right: 10px;
    @include box-sizing(border-box);
  }
  &__details {
    min-height: 200px;
  }
  &__details-text {
    margin-top: 25px;
  }
  &__expand-all {
    font-size: 16px;
    font-weight: lighter;
    color: $teal;
    float: right;
    cursor: pointer;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
  }
  &__details,
  &__answer {
    width: 100%;
    padding: 20px 0;
    @include box-sizing(border-box);
    // background-color: $chalk-gray;
    float: left;
    &-photo {
      width: 120px;
      height: 120px;
      float: left;
      border-radius: 50%;
      position: relative;
      top: 15px;
      @media (max-width: 500px) {
        float: none;
        margin: 0 auto 20px;
        display: block;
      }
    }
    &-text {
      float: left;
      overflow: hidden;
      width: calc(100% - 220px);
      margin-left: 20px;
      @media (max-width: 500px) {
        width: 100%;
        margin-left: 0;
      }
    }
    .staff__details-name {
      margin: 0 0 6px 0;
      font-size: 18px;
      font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
      font-weight: 600;
    }
    &-title {
      font-weight: 600;
    }
    &-location {
      margin: 0 0 20px 0;
      font-size: 16px;
      font-weight: 200;
      font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
      color: $gray;
    }
    &-bio {
      font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.57;
      color: $black;
    }
  }
}
.legend {
  border: 1px solid $dingy-gray;
  overflow: hidden;
  &__element {
    width: 100%;
    float: left;
    margin: 2px 0;
    line-height: 1.1em;
  }
  &__color-swatch {
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 2px;
  }
}
.funding-graph {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: $light-gray;
  &__image {
    width: 100%;
  }
  &__legend {
    display: inline-block;
    font-size: 85%;
    width: auto;
    padding: 10px;
    .legend__element {
      width: auto;
      margin-right: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  &__legend-wrapper {
    text-align: center;
  }
}
.expenses-graph {
  width: 100%;
  position: relative;
  background-color: $light-gray;
  &__image {
    width: 50%;
    float: left;
    @media (max-width: 450px) {
      width: 100%;
    }
  }
  &__legend {
    width: 35%;
    padding: 2.5%;
    background: $white;
    margin-top: 20px;
    @media (max-width: 450px) {
      width: 94%;
    }
  }
}
