.staff, .faq {
  &__member, &__qa {
    overflow: hidden;
    border-top: 1px solid $overcast-gray;
    &:last-of-type {
      border-bottom: 1px solid $overcast-gray;
    }
  }
  &__summary, &__question {
    width: 100%;
    padding: 5px 0;
    float: left;
    cursor: pointer;
    &:hover, &--open {
      background: $navy;
      color: white;
    }
    &-name {
      width: 32%;
      float: left;
      font-weight: bold;
      @include box-sizing(border-box);
      padding-left: 10px;
      @media(max-width: 500px) {
        width: 50%;
      }
    }
    &-title {
      width: 38%;
      float: left;
      @media(max-width: 500px) {
        width: 50%;
      }
    }
    &-location {
      width: 30%;
      float: left;
      color: $slate-gray;
      @include box-sizing(border-box);
      padding-right: 10px;
      @media(max-width: 500px) {
        display: none;
      }
    }
  }
  &__question {
    padding-left: 10px;
    padding-right: 10px;
    @include box-sizing(border-box);
  }
  &__details {
    min-height: 200px;
  }
  &__expand-all {
    font-size: 16px;
    font-weight: lighter;
    color: #00c0cf;
    float: right;
    cursor: pointer;
  }
  &__details, &__answer {
    width: 100%;
    padding: 20px;
    @include box-sizing(border-box);
    background-color: $chalk-gray;
    float: left;
    &-photo {
      width: 200px;
      height: 200px;
      float: left;
      @media(max-width: 450px) {
        float: none;
        margin: 0 auto 20px;
        display: block;
      }
    }
    &-text {
      float: left;
      overflow: hidden;
      width: calc(100% - 220px);
      margin-left: 20px;
      @media(max-width: 450px) {
        width: 100%;
        margin-left: 0;
      }
    }
    h3.staff__details-name {
      margin: 0 0 10px 0;
      font-size: 18px;
    }
    &-title {
      font-weight: 300;
    }
    &-location {
      margin: 10px 0 0 0;
      font-size: 14px;
      font-weight: bold;
      .fa {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
}
.legend {
  border: 1px solid $dingy-gray;
  overflow: hidden;
  &__element {
    width: 100%;
    float: left;
    margin: 2px 0;
    line-height: 1.1em;
  }
  &__color-swatch {
    height: 14px;
    width: 14px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 2px;
  }
}
.funding-graph {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  &__image {
    width: 100%;
  }
  &__legend {
    display: inline-block;
    font-size: 85%;
    width: auto;
    padding: 10px;
    .legend__element {
      width: auto;
      margin-right: 20px;
    }
  }
  &__legend-wrapper {
    text-align: center;
  }
}
.expenses-graph {
  width: 100%;
  position: relative;
  &__image {
    width: 50%;
    float: left;
    @media(max-width: 450px) {
      width: 100%;
    }
  }
  &__legend {
    width: 35%;
    padding: 2.5%;
    background: white;
    margin-top: 20px;
    @media(max-width: 450px) {
      width: 94%;
    }
  }
}
