defaults: &defaults
  working_directory: ~/sou-homepage-deploy
  docker:
    - image: souadmin/homepage-deploy:0.0.2

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout

      - run: echo $production

      # Restore bundle cache
      - type: cache-restore
        key: sou-homepage

      # Install dependencies and build
      - run: bundle install --path vendor/bundle
      - run: yarn install
      - run: bundle exec middleman build

      # Store bundle cache
      - type: cache-save
        key: sou-homepage
        paths:
          - vendor/bundle
          - node_modules

      # Persist the build directory to workspace so deploy can access it
      - persist_to_workspace:
          root: .
          paths:
            - build

      - deploy:
          name: Deploy
          command: |
            if [ "${CIRCLE_BRANCH}" == "development" ]; then
              aws s3 sync build s3://staging.homepage.sumofus.org --acl public-read --cache-control "public, max-age=0" --delete --region us-west-2
            fi
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              aws s3 sync build s3://sumofus.org --acl public-read --cache-control "public, max-age=0" --delete --region us-east-1
            fi


# Disabling workflows because we they don't presently work with API triggered builds.
# CirclCI are actively working on adding this feature. Follow this thread for updates:
# https://discuss.circleci.com/t/trigger-workflow-through-rest-api/13931/36
#
#   deploy_staging:
#     <<: *defaults
#     steps:
#       - checkout
#       - attach_workspace:
#           at: /tmp
#       - run: aws s3 sync /tmp/build s3://staging.homepage.sumofus.org --acl public-read --cache-control "public, max-age=0" --delete --region us-west-2
#       - type: store_test_results
#         path: /tmp/deploy-results
#
#   deploy_production:
#     <<: *defaults
#     steps:
#       - checkout
#       - attach_workspace:
#           at: /tmp
#       - run: aws s3 sync /tmp/build s3://www.sumofus.org --acl public-read --cache-control "public, max-age=0" --delete  --region us-east-1
#       - type: store_test_results
#         path: /tmp/deploy-results
#
# workflows:
#   version: 2
#   build_and_deploy:
#     jobs:
#       - build
#       - deploy_staging:
#           requires:
#             - build
#           filters:
#             branches:
#               only:
#                 - development
#       - deploy_production:
#           requires:
#             - build
#           filters:
#             branches:
#               only:
#                 - master
