version: 2
jobs:
  build:
    parallelism: 1
    working_directory: ~/sou-homepage-deploy
    docker:
      - image: souadmin/homepage-deploy:0.0.2
        environment:
          STAGING_URI: http://sumofus-homepage-staging.s3-website-us-west-2.amazonaws.com
          STAGING_BUCKET: sumofus-homepage-staging
    steps:
      - checkout

      # Restore bundle cache
      - type: cache-restore
        key: sou-homepage-deploy-{{ checksum "Gemfile.lock" }}

      # Bundle install dependencies
      - run: bundle install --path vendor/bundle

      - run: yarn install

      - run: bundle exec middleman build

      # Store bundle cache
      - type: cache-save
        key: sou-homepage-deploy-{{ checksum "Gemfile.lock" }}
        paths:
          - vendor/bundle
          - node_modules
          - build


      - run: aws s3 sync build s3://sumofus-homepage-staging

      - type: store_test_results
        path: /tmp/deploy-results
