---
title: "En Solidaridad"
---
<div class="page-container">
  <div class="page-section__sub-heading pt-0">Asumiendo nuestras responsabilidades</div>

  <div class="page-section__details">
    Nuestros países atraviesan un momento histórico de toma de conciencia que, francamente no pensé que fuera a ser posible en mi vida. El asesinato de George Floyd, después del asesinato de Breonna Taylor, después del asesinato de Tony McDade, en medio de una pandemia que mata a personas no blancas al doble que a lxs blancxs, ha reflejado la cruda realidad de un sistema injusto que se infiltra en todos los aspectos de nuestras vidas.
  </div>

  <div class="page-section__details">
  Siendo una mujer blanca y nueva Directora Ejecutiva de nuestra comunidad, he estado realizando un trabajo muy difícil: una reflexión introspectiva sobre cómo fallé en ser cómplice de los movimientos antirracistas; un despertar dentro de nuestra organización, con un equipo valiente y decidido a identificar y combatir el racismo en nuestras prácticas y políticas internas; y el compromiso de amplificar el trabajo que lxs miembrxs no blancxs de nuestro equipo han estado haciendo durante años.  <span class="page-section__show-bolder">Es hora de renovar nuestro compromiso de llevar a cabo campañas con todxs aquellxs que están al centro de nuestra misión - las personas antes que el lucro - y también con todxs aquellxs que luchan por crear un mundo donde las personas no blancas no estén en peligro y que permita que cada unx de nosotrxs prospere.</span>
  </div>

  <div class="page-section__details">
    <img class="w-100" src="/images/in_solidarity_sumofus_spanish.png" alt="In solidarity, doing the work."/>
  </div>

  <div class="page-section__details">
  Personalmente, he escuchado mucho.  También hablé con colegas y amigxs, aprendí e hice preguntas, leí y releí, incluyendo el poderoso e indispensable libro de Ibram X Kendi: <a href="https://www.amazon.com/C%C3%B3mo-antirracista-Spanish-Ibram-Kendi/dp/0593313119" target="_blank" >Cómo ser antirracista</a>. He estado compartiendo los recursos que he encontrado con organizaciones que están en la larga y difícil lucha por un cambio sistémico en los Estados Unidos, así como con los valientes colectivos del <a href="https://www.instagram.com/p/CA8GE-HDbxa/" target="_blank" > Fondo de Emergencia de Activistas Negrxs Trans.</a>.
  </div>

  <div class="page-section__details">
    <span class="page-section__show-bolder">Este es un trabajo que sólo dará frutos si lo hacemos juntxs.</span> Somos una comunidad global masiva, consciente de que tenemos el poder de cambiar el mundo. Y no importa dónde esté cada unx de nosotrxs en nuestro camino contra el racismo y la opresión. Si crees que todo el mundo tiene derecho a vivir, respirar y caminar libremente por las calles, este espacio es para ti. Tomar acción, donar y apoyar este movimiento por la justicia hoy en día no debería ser el fin de nuestra labor, sino más bien su punto de partida. Porque esta lucha continuará mucho más allá de las manifestaciones y de la cobertura mediática actual.
  </div>


  <div class="page-section__details">
    Con toda mi fuerza y esperanza,
    <br style="clear:both"/>
    <br style="clear:both"/>
    <i>
      Emma
      <br style="clear:both"/>
      <br style="clear:both"/>
      Directora Ejecutiva de SumOfUs
    </i>
  </div>

</div>