---
title: "In Solidarität"
---
<div class="page-container">
  <div class="page-section__sub-heading pt-0">Die Arbeit Erledigen Gemeinsam gegen Rassismus</div>

  <div class="page-section__details">
    <span class="page-section__show-bolder">Wir erleben derzeit einen außergewöhnlichen Moment des Widerstands und Aufbegehrens gegen rassistische Gewalt</span> in den USA. Die Proteste haben eine Kraft, die ich kaum für möglich gehalten habe. Der rassistische Mord an George Floyd ist nur der Höhepunkt, ihm gehen unzählige Morde voraus -- in einem System, das immer noch ungerecht und rassistisch ist.
  </div>

  <div class="page-section__details">
    Doch wir erleben nicht nur in den USA rassistische Gewalt -- auch in Deutschland, Österreich und der Schweiz werden Schwarze Menschen und People of Color* von der Polizei ermordet, auch hier in Europa müssen wir dem Rassismus entschieden entgegentreten.
  </div>

  <div class="page-section__details">
    Als weiße Frau und neue Geschäftsführerin von SumOfUs haben mich die letzten Wochen viel gelehrt -- hinsichtlich meiner eigenen Fehler bei der Unterstützung antirassistischer Bewegungen; hinsichtlich struktureller Benachteiligungen bei Praktiken und Prozessen auch in unserem eigenen Team, die wir angehen müssen; und hinsichtlich der Anerkennung für die jahrelange Arbeit von Mitarbeiter*innen of Color. <span class="page-section__show-bolder">Es ist ein Moment der Rückbesinnung auf das Kernziel unserer Arbeit, das Wohl aller Menschen über Profitinteressen zu stellen -- und ein Bekräftigen der Tatsache, dass wir dieses Ziel nur erreichen können, wenn wir noch stärker als bisher den Kampf von People of Color unterstützen.</span>
  </div>

  <div class="page-section__details">
    <img class="w-100" src="/images/in_solidarity_sumofus_german.png" alt="In solidarity, doing the work."/>
  </div>

  <div class="page-section__details">
    Ich habe die letzten Wochen vor allem damit verbracht viel zuzuhören, mit Kolleg*innen und Freund*innen zu sprechen, zu lernen und Fragen zu stellen, zu lesen und noch mehr zu lesen -- meine deutschsprachigen Kolleg*innen empfehlen unter anderem “<a href="https://www.hanser-literaturverlage.de/buch/was-weisse-menschen-nicht-ueber-rassismus-hoeren-wollen/978-3-446-26425-0/" target="_blank" >Was weiße Menschen nicht über Rassismus hören wollen</a>” von Alice Haster (auch <a href="https://open.spotify.com/album/0FhTAyG7izSGUi7x8xaPgm" target="_blank" >als Podcast auf Spotify</a>) und “<a href="https://www.bod.de/buchshop/deutschland-schwarz-weiss-noah-sow-9783746006819?utm_source=saleswidget&utm_medium=referral&utm_campaign=saleswidget_button" target="_blank" >Deutschland Schwarz Weiß</a>” von Noah Show, oder “<a href="https://www.unrast-verlag.de/neuerscheinungen/exit-racism2016-12-05-22-25-07-detail" target="_blank" >Exit Racism</a>” von Tupoka Ogette. Und ich habe Gruppen unterstützt, die seit Jahren ihre ganze Kraft und Energie in den Kampf gegen Rassismus stecken -- davon gibt es auch in Deutschland einige, etwa die <a href="https://kop-berlin.de/" target="_blank" >Kampagne für Opfer rassistischer Polizeigewalt</a>, <a href="https://www.women-in-exile.net/" target="_blank" >Women in Exile</a> oder <a href="https://gladt.de/" target="_blank" >Gladt e.V.</a>.
  </div>

  <div class="page-section__details">
    <span class="page-section__show-bolder">Wir können den Kampf gegen Rassismus und Unterdrückung nur gemeinsam gewinnen -- und es braucht dafür jede*n von uns!</span> SumOfUs ist eine weltweite Gemeinschaft, mit der Kraft etwas zu verändern und diesen Kampf zu unterstützen. 
    Rassistische Denkstrukturen zu erkennen und abzulegen bedarf aktiver Arbeit -- aber egal, wo sich jede*r einzelne von uns auf diesem Weg gerade befindet: Wenn Sie davon überzeugt sind, dass jeder Mensch das Recht hat zu leben, zu atmen, sich frei zu bewegen, dann sind Sie Teil dieser Bewegung. Unser Einsatz für eine Gesellschaft frei von Rassismus und Unterdrückung ist hiermit aber noch lange nicht zu Ende, er geht jetzt erst los -- und er wird über Proteste, Hashtags und Titelseiten hinausgehen.
  </div>


  <div class="page-section__details">
    Ich wünsche Ihnen viel Kraft und Hoffnung,
    <br style="clear:both"/>
    <br style="clear:both"/>
    <i>
      Emma
      <br style="clear:both"/>
      <br style="clear:both"/>
      Geschäftsführerin von SumOfUs
    </i>
  </div>

  <div class="page-section__details">
    <i>
      <br style="clear:both"/>
      *People of Color, Menschen of Color, oder POC ist eine politische Selbstbezeichnung für Menschen, die negativ von Rassismus betroffen sind. Diese Selbstbezeichnung wird auch zunehmend im deutschen Kontexten von Menschen genutzt.
    </i>
  </div>

</div>