title = t('homepage.meta.title')
meta name="viewport" content="width=device-width, initial-scale=1.0"
meta name="description" content=t('homepage.meta.description')
meta charset="utf-8"
= stylesheet_link_tag "application"
= javascript_include_tag "compiled"
= partial 'i18n_js'
= favicon_tag 'sumofus/favicon.ico'

javascript:
  I18n.locale = "#{ I18n.locale }";