- if defined?(title) && title.present?
  title
    = "#{title} | #{t('homepage.meta.title')}"
-else
  title = t('homepage.meta.title')
meta name="viewport" content="width=device-width, initial-scale=1.0"
meta charset="utf-8"
script src='//cdn.optimizely.com/js/117352208.js'
script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default-3.6,Intl.locale~en,Intl.locale~en-150,Intl.locale~en-IE,Intl.locale~en-US,Intl.locale~en-GB,Intl.locale~en-CA,Intl.locale~en-AU,Intl.locale~en-NZ,Intl.locale~fr,Intl.locale~fr-FR,Intl.locale~fr-BE,Intl.locale~fr-CA,Intl.locale~de,Intl.locale~de-DE,Intl.locale~de-AT"
= stylesheet_link_tag "application"
= javascript_include_tag "compiled"
= partial 'i18n_js'
= favicon_tag 'favicon.ico'
