javascript:
  I18n.translations = #{I18n.backend.send(:translations).to_json};
  const regex = /^\/(fr|de)\/.+/;
  const path = window.location.pathname;
  I18n.locale = path.match(regex) ? path.match(regex)[1] : 'en';