#myModal.modal
  .modal-content
    span.close x
    #modal-inner
      h1 = t('modal.short_message')
      p
        i = t('modal.friend')
        = t('modal.introduction')
        a.link href="#{t('modal.donation_page_url')}&amp;amount=3&amp;recurring_default=only_recurring"
          = t('modal.chip_in')

      .fundraiser-bar__step-panel.script-dependent(data-step="1")
        .fundraiser-bar__amount-buttons
          - [3, 5, 10, 20, 50, 100].each do |num|
            a.button.amount-button data-amount="#{num}" href="#{t('modal.donation_page_url')}&amp;recurring_default=only_recurring&amp;amount=#{num}"
              span.modal-button-container
                span.currency-symbol = "#{t('modal.month', {amount: num})}"


javascript:
  const currencySymbols = {
    "USD": "$",
    "CAD": "$",
    "AUD": "$",
    "EUR": "€",
    "CHF": "CHF"
  };

  function updateCurrency(symbol) {
    $('.currency-symbol').each(function() {
      t = $(this).text()
      $(this).text(t.replace('€', '$', symbol));
    });
  }

  $.ajax({
    url: 'http://localhost:3000/api/stateless/location.json'
  })
  .done(function(data){
    const currencySym = currencySymbols[data.location.currency] || "$";
    updateCurrency(currencySym);
  })
  .fail(function(){
    updateCurrency(currencySymbols["USD"]);
  })

  $(document).ready(function(){
    $('.close').click(function(){
      $('#myModal').hide();
    });
  });