#myModal.modal
  .modal-content
    #modal-header
      span.close x
      = image_tag image_path('sumofus-logo-horizontal.svg'), class: "logo-desktop"
    #modal-inner
      div.content-title = t('modal.short_message')
      div.content-message
        = t('modal.friend')
        = t('modal.introduction')
        a.link#donation-page-link href="#{t('modal.donation_page_url')}&amp;amount=3&amp;recurring_default=only_recurring"
          = t('modal.chip_in')
      div.content-donate-buttons
        .fundraiser-bar__step-panel.script-dependent(data-step="1")
          .fundraiser-bar__amount-buttons.hidden-closed
            - [3, 5, 10, 20, 50, 100].each do |num|
              a.button.amount-button data-amount="#{num}" href="#{t('modal.donation_page_url')}&amp;recurring_default=only_recurring&amp;amount=#{num}"
                span.modal-button-container
                  span.currency-symbol = "#{t('modal.month')}"

javascript:

  function localizedCurrency(locale, currency, amount) {
    return new Intl.NumberFormat(locale, {style: "currency", currency: currency, minimumFractionDigits: 0}).format(amount);;
  }

  function updateCurrency(data) {
    $('.amount-button').each(function() {
      const formattedAmount = localizedCurrency(window.I18n.locale, data.location.currency, $(this).attr('data-amount'));
      const $currencySpan = $(this).find('.currency-symbol');
      const t = $currencySpan.text();
      $currencySpan.text(t.replace('%{amount}', formattedAmount));
      // Add currency to query parameters in the button link.
      $(this).attr('href', $(this).attr('href').concat('&currency='+data.location.currency));
    });
    // Add currency to query parameters in the donation page link.
    $('#donation-page-link').attr('href', $('#donation-page-link').attr('href').concat('&currency='+data.location.currency));
    $('.fundraiser-bar__amount-buttons').removeClass('hidden-closed');
  }

  $.ajax({
    url: 'https://actions.sumofus.org/api/stateless/location.json'
  })
  .done(function(data){
    updateCurrency(data);
  })
  .fail(function(){
    updateCurrency({location: { locale: 'en', currency: 'USD' }});
  });

  $(document).ready(function(){
    $('.close').click(function(){
      $('#myModal').hide();
    });
  });