---
layout: storyofus
---

.sou-banner
  video.sou-banner__video(autoplay loop muted)
    source src="https://storyofus-assets.s3.us-west-2.amazonaws.com/banner/Banner+Web_1440x880_English.mp4" type="video/mp4"
  .sou-banner__content
    h1.sou-banner__content--heading
      | SumOfUs
      = t('homepage.titles.intro', count: fetch_count)
    button.sou-banner__content--btn type="button"
      span view now

.sou-videos.js-flickity
  - data.sou_yt_videos.each do |video|
    <iframe class="sou-videos__slide" src="#{video.link}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

.sou-cards
  .sou-cards__header
    h3 Cards Title
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
  .sou-cards__container
    - data[I18n.locale()].story_of_us.each_with_index do |value, index|
      .sou-cards__container--img id="card-#{index + 1}"
        .flipper
          img.front src=value[:front] alt=value[:alt]
          img.back src=value[:back] alt=value[:alt]

javascript:

  // Set margin-top and height properties of video programmatically
  // since header height is dynamic
  const setVideoTop = (view) => {
    const header = document.querySelector('.header');
    const banner = document.querySelector('.sou-banner');
    const headerInfo = header.getBoundingClientRect();
    const headerHeight = headerInfo?.height;

    if (view.matches) {
      if (headerHeight) {
        banner.style.marginTop = `${headerHeight}px`;
        banner.style.height = 'auto';
      }
    } else {
        banner.style.marginTop = 0;
        banner.style.height = '100vh';
    }
  }

  const mobileView = window.matchMedia("(max-width: 700px)")
  setVideoTop(mobileView);
  mobileView.addListener(setVideoTop)

  // Flickity configuration (Carousel)
  const carousel = document.querySelector('.sou-videos');
  const flkty = new Flickity(carousel, {
    contain: true,
    cellAlign: 'center',
    freeScroll: true,
    pageDots: false,
  });

  // Logic for adding one card/video every day until all cards are visible

  // Currently adding one card/video every minute
  const unitDiff = 60000 * 90; // Currently set to 90 minutes (3hrs)
  const launchDay = new Date('10/05/2021 20:30').getTime(); // Change the minutes for testing
  const today = new Date().getTime();
  const timeDiff = today - launchDay;
  // Number of cards/videos to be added
  const count = Math.floor(timeDiff / unitDiff);
  // Max number of cards/videos to be added
  const limit = count < 9 ? count : 9;

  while ((flkty.cells.length) > (limit + 1) && flkty.cells.length > 1) {
    flkty.remove(flkty.cells[flkty.cells.length - 1].element);
  }

  if (timeDiff !== 0) {
    for(let i = 2; i < 2 + limit; i++) {
      const el = document.getElementById(`card-${i}`);
      el.style.display = 'block';
    }
  }
