---
title: 'Contact'
---

<div class="contact-title"> E-mail </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">Leden van Ekō</div>
        <div class="contact-content-value"><a href="mailto:info@eko.org">info@eko.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Bedrijven</div>
        <div class="contact-content-value"><a href="mailto:corporate@eko.org">corporate@eko.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Pers</div>
        <div class="contact-content-value"><a href="mailto:press@eko.org">press@eko.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Privacykwesties</div>
        <div class="contact-content-value"><a href="mailto:privacy@eko.org">privacy@eko.org</a></div>
    </div>
</div>
<div class="contact-desc">We hebben een toegewijd team dat de bovenstaande mailboxen geregeld checkt. Stuur je e-mail naar het juiste adres zodat je zeker snel een antwoord krijgt.</div>

<div class="contact-title">Postadres </div>
<div class="contact-content">
    <div class="contact-content-item" style="display: none">
        <div class="contact-content-key">New York</div>
        <div class="contact-content-value">Ekō, PO Box 1128, New York, NY 10156, United States</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">San Francisco</div>
        <div class="contact-content-value">Ekō, 2443 Fillmore St #380-1279, San Francisco, CA 94115, United States</div>
    </div>
</div>
<div class="contact-desc">Ekō is een virtueel kantoor. We kunnen momenteel enkel post ontvangen in San Francisco.</div>