---
# title: 'Ekō Coming Soon'
---
<div class="eko-main-content">
<h1 class="eko-header">Ekō</h1>
<p class="eko-intro-paragraph">Toen SumOfUs 11 jaar geleden opgericht werd, waren we een kleine groep die focuste op de maatschappelijke verantwoordelijkheid van bedrijven en vooral campagne voerde in de VS. Maar doorheen de jaren zijn we uitgegroeid tot een community die 20 miljoen mensen sterk is, die werkt in 7 talen en die impact heeft in elke uithoek van de wereld. Onze naam, een woordgrapje in het Engels (‘sum’ betekent ‘geldbedrag’), is geweldig nuttig gebleken in die tijd, maar in het licht van onze evolutie dekt die niet langer volledig de lading.
</p>
 <p class="eko-intro-paragraph">We zijn uitgegroeid tot een echte wereldwijde community. Daarom is het tijd om een nieuwe naam te kiezen, die zowel de kracht als de diversiteit van ons werk weerspiegelt.
</p>
<h2>Welkom bij de wereldwijde community van Ekō! Waar we door zullen gaan met onze gezamenlijke strijd om mensen en de planeet boven winst te stellen.</h2>

<img class="eko-logo" src="https://s3.amazonaws.com/s3.sumofus.org/images/editor-2022-12-13-2.gif" />

<p class="eko-intro-paragraph">Bedankt voor je deelname aan dit proces van verandering en voor je voortdurende inzet om onze wereldwijde impact the verbeteren. Jij draagt bij aan de kracht en de diversiteit van onze leden en ons werk. 
</p>
