---
title: 'Opt In for <span id="current_year">[YEAR]</span> fundraising emails'
---
<div class='opted_in_msg text-center'>
  Thank you for opting into receiving fundraising emails.
</div>


<div class="text-center m-t-40">
  <a href="https://eko.org">Return to the Ekō homepage.</a>
</div>

<%= partial 'opted_in' %>