---
# title: 'Privacybeleid'
---
<div class="privacy-main-content">
<h1 class="privacy-header">Privacy Policy</h1>
<p class="privacy-intro-paragraph1">Bij SumOfUs nemen we jouw privacyrechten zeer serieus. Deze privacyverklaring beschrijft onze gegevensverzamelings- en verwerkingspraktijken, en jouw opties en rechten met betrekking tot de manier waarop je persoonlijke informatie wordt behandeld.

</p>
 <p class="privacy-intro-paragraph2">Onze community van miljoenen mensen werkt samen als een wereldwijde consumentenwaakhond - we voeren en winnen campagnes om de grootste bedrijven ter wereld ter verantwoording te roepen. Om effectief campagne te voeren waar en wanneer dat het meest nodig is, onderhoudt SumOfUs een database met contactgegevens en acties van leden. Wij slaan die gegevens veilig op, en verkopen of verhuren die gegevens nooit aan iemand anders. Lees hieronder verder voor meer details. Deze mededeling is opgesplitst in de volgende delen (en als je op een rubriek klikt waarin jij geïnteresseerd bent, word je direct naar dat deel geleid):
</p>
<div class="privacy-links-container" >
<span class="link_style" onclick="internalNav('#who-we-are')">1. Wie we zijn</span>
<span class="link_style" onclick="internalNav('#what-is-this-notice-about')">2. Waar gaat deze verklaring over?</span> 
<span class="link_style" onclick="internalNav('#do-you-collect-personal-information-about-me')">3. Verzamelen jullie persoonlijke informatie over mij?</span> 
<span class="link_style" onclick="internalNav('#where-do-you-get-information-about-me-from')">4. Where do you get information about me from?</span> 
<span class="link_style" onclick="internalNav('#what-information-do-you-collect-store-and-otherwise-use-about-me')" >5. What information do you collect, store and otherwise use about me?</span> 
<span class="link_style" onclick="internalNav('#how-and-why-will-you-use-my-information')">6 How and why will you use my information?</span> 
<span class="link_style" onclick="internalNav('#overview-of-how-we-use-your-information', '#how-and-why-will-you-use-my-information')">6.1 Overview of how we use your information</span> 
<span class="link_style" onclick="internalNav('#further-detail-on-some-of-our-practices', '#how-and-why-will-you-use-my-information')">6.2 Further detail on some of our practices</span> 
<span class="link_style" onclick="internalNav('#what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information')">7. What is the legal basis for you collecting and using my personal information?</span> 
<span class="link_style" onclick="internalNav('#what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them')">8. What are my rights with regard to information you use about me and how do I exercise them?</span> 
<span class="link_style" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">9. How can I stop getting emails and other communications from you?</span> 
<span class="link_style" onclick="internalNav('#is-my-information-secure')">10. Is my information secure?</span> 
<span class="link_style" onclick="internalNav('#will-you-share-my-information')">11. Will you share my information?</span> 
<span class="link_style" onclick="internalNav('#will-you-send-my-personal-information-abroad')">12. Will you send my personal information abroad?</span> 
<span class="link_style" onclick="internalNav('#how-long-will-you-keep-my-personal-information')">13. How long will you keep my personal information?</span> 
<span class="link_style" onclick="internalNav('#do-you-collect-personal-information-about-children')">14. Do you collect personal information about children?</span> 
<span class="link_style" onclick="internalNav('#general-provisions')">15. General provisions</span> 
<span class="link_style" onclick="internalNav('#links-and-third-parties', '#general-provisions')">15.1 Links and third parties</span> 
<span class="link_style" onclick="internalNav('#changes-to-this-privacy-notice', '#general-provisions')">15.2 Changes to this privacy notice</span>
<span class="link_style" onclick="internalNav('#user-contributions')">16. User contributions</span> 
<span class="link_style" onclick="internalNav('#how-do-i-contact-you')">17. How do I contact you?</span> 
</div>
<div class="spacer"></div>
<div class="who-we-are">
<h2 class="privacy__question" id="who-we-are">Wie we zijn</h2>
<div class="privacy__answer hidden-closed" >
<p>Wij zijn SumOfUs, een wereldwijde community die zich inzet om de groeiende macht van bedrijven in te dammen. SumOfUs is geregistreerd als een 501(c)(4) non-profit organisatie in de Verenigde Staten. Onder de EU-wetgeving inzake gegevensbescherming (de GDPR) zijn wij een zogenaamde 'controller', wat betekent dat wij informatie over je verzamelen wanneer je met ons in zee gaat en dat wij bepalen hoe die informatie wordt gebruikt. Wij hebben leden en supporters, zoals jij, over de hele wereld. In feite zijn er meer dan 3,4 miljoen SumOfUs leden die samen actie ondernemen om de macht van bedrijven te bestrijden.
Omdat we een Noord-Amerikaanse organisatie zijn, vereist de EU-wetgeving inzake gegevensbescherming dat wij een “vertegenwoordiger” aanstellen in een land in de EU, als aanspreekpunt voor in de EU gevestigde vragen en verzoeken over gegevensprivacy. Onze plaatselijke vertegenwoordiger is Eoin Dubsky, die in Nederland is gevestigd. Je kunt hem op de volgende manieren bereiken: 
E-mail: privacy@sumofus.org
Telefoon: +31 70 2500292
Postadres: Monnikenstraat 23, Suite #1049, 1012 BP Amsterdam, Nederland

</p>

<p>E-mail:  privacy@sumofus.org</p>

<p>Telefoon: +31 70 2500292</p>

<p>Postadres: 
Monnikenstraat 23
Suite #1049
1012 BP Amsterdam
Nederland</p>

<p>Het is belangrijk dat je weet wat organisaties doen met je informatie en waarom, en we proberen dit hier zo duidelijk mogelijk uiteen te zetten (bekend als een “privacyverklaring” in juridische taal). Als je vragen hebt die niet worden beantwoord door deze privacyverklaring of als je je zorgen maakt, neem dan contact met ons op via de rubriek  <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">‘Hoe kan ik contact opnemen?’</span></p>
</div>
</div>
<div class="what-is-this-notice-about">
<h2 class="privacy__question" id="what-is-this-notice-about">Waar gaat deze verklaring over?</h2>
<div class="privacy__answer hidden-closed" >
<p>Deze privacyverklaring legt uit hoe SumOfUs informatie gebruikt die we over mensen verzamelen wanneer zij met ons in contact komen of wanneer wij met hen in contact willen komen. We vinden het beschermen van jouw online privacy erg belangrijk. De SumOfUs-medewerkers zijn ook leden, en we behandelen jouw privacy zoals we onze eigen privacy behandelen. Te allen tijde streven we ernaar alle persoonlijke informatie die je met ons deelt te respecteren en veilig te houden. We kunnen dit beleid van tijd tot tijd wijzigen, dus we raden je aan deze pagina regelmatig te controleren (de laatste wijzigingen worden uiteengezet in  <span class="link_style2" onclick="internalNav('#changes-to-this-privacy-notice', '#general-provisions')">'Wijzigingen in deze privacyverklaring').</span></p>
</div>
</div>

<div class="do-you-collect-personal-information-about-me">
<h2 class="privacy__question" id="do-you-collect-personal-information-about-me">Verzamelen jullie persoonlijke informatie over mij?</h2>

<div class="privacy__answer hidden-closed" >
<p>
Ja, dat doen we - en we houden ons aan de wet wanneer we dat doen. We gebruiken de informatie op manieren waarmee je hebt ingestemd of die wettelijk zijn toegestaan - om petities te vullen met de gegevens van ondertekenaars, om je te voorzien van relevante communicatie van ons, om fondsen te werven en om te controleren of onze campagnes en activiteiten effectief zijn. Een meer volledige lijst van de manieren waarop wij je persoonlijke informatie verzamelen en waarom we dat doen, vind je in de hoofdstukken <span class="link_style2" onclick="internalNav('#where-do-you-get-information-about-me-from')">‘Waar halen jullie informatie over mij vandaan?’</span> en <span class="link_style2" onclick="internalNav('#how-and-why-will-you-use-my-information')">‘Hoe en waarom gebruiken jullie mijn informatie?’</span>.	
</p>
</div>
</div>
<div class="where-do-you-get-information-about-me-from">
<h2 class="privacy__question" id="where-do-you-get-information-about-me-from">Waar halen jullie informatie over mij vandaan?</h2>

<div class="privacy__answer hidden-closed" >
<p>Als mensen met ons in zee gaan, noemen we dat een 'actie'. Dus als iemand bijvoorbeeld op onze website een petitie ondertekent, een donatie aan ons doet of een brief schrijft, wordt een 'actie' met ons ondernomen. Wanneer jij een actie met ons onderneemt, kunnen wij je vragen om bepaalde informatie te delen of kunnen we bepaalde informatie over jou verkrijgen gebaseerd op de actie die je ondernam. Hierover geven we hieronder meer details.
</p><p>We verzamelen persoonlijke informatie wanneer je die rechtstreeks aan ons geeft, zoals wanneer je de volgende acties onderneemt:
</p>
<ul>
<li>Wanneer je een petitie ondertekent op onze website (momenteel te vinden op sumofus.org en actions.sumofus.org - de ‘Website’);</li><li>
</li><li>Wanneer je je op onze website registreert als supporter;
</li><li>Wanneer je een donatie aan ons doet;
</li><li>Wanneer je contact met ons opneemt via telefoon, e-mail of door ons een bericht te sturen op onze socialmediakanalen of een contactformulier op onze website gebruikt;
</li><li>Wanneer je onze inhoud en petities deelt (bijvoorbeeld via e-mail, social media of andere soortgelijke middelen);
</li><li>Wanneer je een petitie ondertekent die wordt gehost door een derde partij en je kiest voor de optie om je gegevens met ons te delen;
</li><li>Wanneer je via ons systeem een campagnedoelwit e-mailt, tweet of belt;
</li><li>Wanneer je een enquête invult die wij je sturen over je ervaringen met ons of om te weten te komen wat je denkt over bepaalde maatschappelijke kwesties.
</li>
</ul>

<p>We kunnen ook indirect persoonlijke informatie over je verzamelen, zoals wanneer:</p>
<ul>
<li>Je onze socialmedia-accounts volgt en/of er interactie mee hebt;
</li><li>Je op een SumOfUs-link klikt (bijvoorbeeld als een van je vrienden een SumOfUs-petitie heeft gedeeld op social media of via e-mail en je klikt op de post van je vriend(in));
</li><li>Derden informatie met ons delen - zoals bijvoorbeeld organisaties waarmee we samenwerken, zoekmachines en betalingsproviders;
</li><li>De informatie publiekelijk beschikbaar is - je persoonlijke informatie kan voor ons beschikbaar zijn via externe publiekelijk beschikbare bronnen. Bijvoorbeeld, afhankelijk van je privacy-instellingen voor socialmediadiensten, kunnen wij toegang krijgen tot informatie van die accounts of diensten (zoals wanneer je ervoor kiest om met ons te communiceren via platforms zoals Facebook, LinkedIn of Twitter);
</li><li>Je onze website bezoekt. Wij verzamelen automatisch de volgende persoonlijke informatie wanneer je de website bezoekt:
</li><li>Technische informatie, waaronder het internetprotocol (IP)-adres dat wordt gebruikt om je apparaat met het internet te verbinden, browsertype en -versie, tijdzone-instelling en besturingssystemen en platforms
</li><li>Informatie over je bezoek aan de websites, waaronder de uniform resource locator (URL) clickstream naar, via en van de website (inclusief datum en tijd), diensten die je hebt bekeken of waarnaar je hebt gezocht, responstijden van pagina's, downloadfouten, duur van bezoeken aan bepaalde pagina's, verwijzingsbronnen, informatie over pagina-interactie (zoals scrollen en klikken) en methoden die zijn gebruikt om van de pagina weg te bladeren
</li><li>We verzamelen en gebruiken je persoonlijke informatie ook door cookies te gebruiken op onze website - zie onze Cookieverklaring.
</li>
</ul>
<p>Over het algemeen kan je persoonlijke informatie uit deze verschillende bronnen gebruikt worden voor de doeleinden die in dit Privacybeleid uiteengezet worden.</p>
</div>
</div>

<div class="what-information-do-you-collect-store-and-otherwise-use-about-me">
<h2 class="privacy__question" id="what-information-do-you-collect-store-and-otherwise-use-about-me">Welke informatie over mij verzamelen, bewaren en gebruiken jullie?</h2> 

<div class="privacy__answer hidden-closed" >
<p>Wij kunnen de volgende informatie over jou verzamelen, bewaren en anderszins gebruiken:</p>
<ul>
<li>Je naam en contactgegevens, waaronder je fysieke adres, e-mailadres en telefoonnummer (als je dergelijke informatie aan ons verstrekt);
</li><li>De petities die je hebt ondertekend, met inbegrip van eventuele opmerkingen ter ondersteuning van dergelijke petities;
alle vrijwillig verstrekte specifieke informatie die je hebt gegeven bij het ondertekenen van een petitie - soms vragen we bijvoorbeeld of je een klant of werknemer bent van een bedrijf waartegen een petitie is gericht;
Vrijwillig verstrekte informatie wanneer je een enquête invult die we je toesturen, waarin we vragen naar je ervaringen met ons of je mening over bepaalde sociale en politieke kwesties;
</li><li>Je financiële gegevens wanneer je die verstrekt; zie sectie 6(f) voor hoe bankgegevens worden verwerkt;
</li><li>De acties die je met ons hebt ondernomen, zoals het bijwonen van evenementen, het sturen van e-mails ter ondersteuning van een petitie of campagne en/of wanneer je een donatie aan ons doet;
</li><li>Het bedrag en de frequentie van eventuele donaties aan ons;
Informatie die je vrijwillig hebt verstrekt wanneer je contact met ons opneemt via telefoon, e-mail, door ons een bericht te sturen op onze socialmediakanalen of via het contactformulier op onze website;
</li><li>Het feit dat je gelinkt bent aan een andere supporter - bijvoorbeeld als een supporter een petitie ondertekent op basis van een petitie die jij hebt gedeeld;
</li><li>Het soort onderwerpen waarin wij denken dat je geïnteresseerd bent op basis van de acties die je hebt ondernomen en de onderwerpen waarmee je je bezig hebt gehouden terwijl je met ons in contact was - wij kunnen bijvoorbeeld aangeven dat je geïnteresseerd bent in klimaatverandering of belastingen;
</li><li>De taal waarin je inhoud ontvangt;
</li><li>Je voorkeuren voor het abonneren op inhoud;
</li><li>Gegevens over webbrowser en browsing: browsertype, apparaattype, IP-adres, verwijzingsbron, het feit dat je onze website bezoekt of op onze content klikt, lengte van het websitebezoek, aantal bekeken pagina's;
</li><li>Profielgegevens op social media, voor zover deze voor ons beschikbaar zijn;
</li><li>Elk ander type informatie dat met ons wordt gedeeld / door ons wordt verkregen zoals vermeld in het gedeelte ‘Waar halen jullie informatie over mij vandaan?’.
</li> 
</ul>
<p class="sub-heading" >Bijzondere categorieën van persoonsgegevens</p>

<p>Volgens de EU-wetgeving over gegevensbescherming (de GDPR) worden sommige soorten persoonsgegevens als gevoelig beschouwd en vereisen zij extra bescherming. Deze staan bekend als "speciale categorieën" van persoonsgegevens en omvatten informatie over gezondheid, etniciteit en politieke opvattingen.</p>
<p>
Wij streven er niet naar om jouw gevoelige persoonsgegevens te verzamelen (bijvoorbeeld over ras of etniciteit, politieke opvattingen, religieuze of filosofische overtuigingen, enzovoorts). Als we dat wel doen, zal dat alleen gebeuren wanneer er een geldige reden is om die informatie te verzamelen/gebruiken en wanneer we dat volgens de wet mogen doen. Het meest waarschijnlijke voorbeeld van een situatie waarin we je informatie uit een speciale categorie zouden kunnen verzamelen, is als je een petitie ondertekent waarin een politieke mening tot uitdrukking wordt gebracht of wanneer je dergelijke informatie vrijwillig verstrekt in je communicatie met ons.</p>
<p>
Soms e-mailen onze supporters ons of nemen zij op een andere manier contact met ons op en verstrekken zij bijzondere categorieën van persoonsgegevens, zelfs als wij hen daar niet om hebben gevraagd. Supporters kunnen ons bijvoorbeeld een e-mail sturen waarin ze uitleggen waarom zij niet langer in staat zijn een donatie te doen en die gevoelige informatie bevat over hun persoonlijke omstandigheden. We dringen er bij supporters op aan om ons niet op deze manier gevoelige privé-informatie te verstrekken.</p>
<p>
Als en wanneer we dit soort informatie ontvangen, streven we ernaar deze uit onze systemen te verwijderen (hoewel ze kan worden bewaard, of bepaalde gegevens over het bericht kunnen worden bewaard, in serverlogboeken en in de eigen systemen van de aanbieder van de berichten-/mailservice (zoals Google Mail) in overeenstemming met hun eigen procedures).
</p> 
</div>
</div>

<div class="how-and-why-will-you-use-my-information">
<h2 class="privacy__question" id="how-and-why-will-you-use-my-information">Hoe en waarom gebruiken jullie mijn informatie? </h2> 
<div class="privacy__answer hidden-closed" >
<h3 class="sub-heading" id="overview-of-how-we-use-your-information">6.1 Overzicht van hoe wij je informatie gebruiken </h3>

Wij gebruiken je persoonlijke informatie voor de doeleinden die in deze privacyverklaring uiteengezet worden. In het bijzonder kunnen wij je persoonlijke informatie gebruiken:
<ul>
 <li>Om je steun en ondertekening van een petitie of enquête te vergemakkelijken en de petitie/enquête naar de betreffende ontvanger te sturen;
</li><li>Om te verifiëren of je een geldige ondertekenaar van de petitie bent;
</li><li>Om je desgevraagd te voorzien van diensten of informatie, zoals het faciliteren van je steun aan een petitie op onze website;
</li><li>Om je, waar mogelijk, inhoud te verschaffen in de taal waarin jij inhoud wenst te ontvangen;
</li><li>Om je deelname aan onze programma's, evenementen, fondsenwervingsacties en activiteiten te faciliteren;
</li><li>Om na te gaan of je bereid zou zijn om ons werk, onze campagnes en activiteiten te ondersteunen, bijvoorbeeld als je aandeelhouder bent van een bedrijf dat we willen aanpakken door middel van aandeelhoudersactivisme of als jouw rol of netwerk ons werk, onze campagnes en fondsenwerving zouden kunnen ondersteunen;
</li><li>Om een donatie die je doet te verwerken of om je donatie terug te betalen;
</li><li>Om je verzoek tot registratie als supporter van SumOfUs te verwerken;
</li><li>Om je te voorzien van communicatie waarvan wij denken dat je ze interessant zal vinden - over ons werk, campagnes, diensten, activiteiten en fondsenwerving (als je toestemming hebt gegeven voor het ontvangen van dergelijke informatie);
</li><li>Om de doeltreffendheid van ons werk, onze campagnes, diensten, fondsenwerving en informatie, met inbegrip van onze website en socialmedia-accounts, te analyseren, te meten en erover te rapporteren;
</li><li>Om onze website te beheren, de website veilig en beveiligd te houden en ervoor te zorgen dat de inhoud op de meest effectieve manier voor jou en jouw apparaat wordt gepresenteerd;
</li><li>Om onze systemen en databases te controleren en te beheren;
</li><li>Om te voldoen aan wettelijke verplichtingen die bindend zijn voor ons, bijvoorbeeld met betrekking tot regelgevende, overheids- en/of rechtshandhavingsinstanties waarmee wij samenwerken (bijvoorbeeld vereisten met betrekking tot de betaling van belasting of antiwitwaspraktijken);
</li><li>Ter voorkoming van fraude of misbruik van onze diensten en/of
</li><li>Voor het vaststellen, verdedigen en/of handhaven van rechtsvorderingen.
</li>
</ul>
<h3 class="sub-heading" id="further-detail-on-some-of-our-practices">6.2 Meer details over sommige van onze werkwijzen</h3>


<p>Hieronder leggen we enkele van de manieren waarop we je persoonlijke gegevens kunnen gebruiken verder uit. Privacy is belangrijk, en als beweging hebben wij meegewerkt aan campagnes ter ondersteuning van gegevensprivacy. We zijn ervan overtuigd dat mensen moeten weten wat bedrijven doen met informatie over hen. Wij weten dat mensen zich vaak zorgen maken over het gebruik van hun gegevens achter de schermen, waarbij regelmatig technologie wordt gebruikt die niet transparant of gemakkelijk te begrijpen lijkt. Daarom geven wij hieronder nadere uitleg over een aantal dingen die wij doen en die misschien niet verwacht of gemakkelijk te begrijpen zijn.</p> 

<p class="sub-heading">(a) Donateursprogramma </p>

<p>Om door middel van fondsenwerving de SumOfUs-beweging uit te breiden, onze doelen en idealen te bereiken, en om er zeker van te zijn dat we jouw steun op de juiste manier erkennen, kunnen wij sommige van onze donateurs die boven een bepaalde drempel hebben gedoneerd in onze database aanmerken als belangrijke donateurs. Deze belangrijke donateurs kunnen speciale mededelingen van ons ontvangen via elektronische berichten of telefoon (mits wij rechtmatig contact met hen kunnen opnemen, bijvoorbeeld wanneer zij toestemming hebben gegeven voor het ontvangen van onze campagne- en fondsenwervingscommunicatie), om hen persoonlijk te bedanken voor hun steun, en om te onderzoeken hoe de relatie tussen hen en SumOfUs kan worden versterkt.</p>   

<p class="sub-heading">(b) Onze supporters begrijpen 
</p>

<p>Bij SumOfUs gebruiken we persoonlijke informatie over onze supporters en degenen die met ons in contact komen om interesses en voorkeuren vast te leggen, zodat wij op een relevante manier kunnen communiceren, ons werk effectiever kunnen maken en om onze fondsenwerving te helpen. Soms kan dit betekenen dat we een veronderstelling over je maken op basis van informatie die we hebben verzameld om je de meest relevante content te sturen - als je bijvoorbeeld een aantal e-mails hebt ondertekend waarin bedrijven worden aangespoord om hun gebruik van plastic te verminderen en een aantal e-mails over de bescherming van de bijen, dan kunnen we je in onze database markeren als iemand die geïnteresseerd is in milieukwesties.</p> 

<p>We maken gebruik van een beperkt aantal digitale marketing- en reclamepraktijken om het bereik van de SumOfUs-beweging te vergroten en om ons te helpen onze doelen en idealen te realiseren. De meeste van onze advertenties zijn niet afhankelijk van het verstrekken van jouw persoonlijke informatie aan een derde partij - we plaatsen bijvoorbeeld soms advertenties in zoekresultaten via Google-advertenties of we kunnen banneradvertenties plaatsen op relevante websites van derden. In sommige gevallen kunnen deze externe verkopers beslissen welke advertenties ze jou tonen op basis van je vorige bezoeken aan onze website, gebaseerd op informatie die ze onafhankelijk hebben verzameld. Op geen enkel moment zal je persoonlijk worden geïdentificeerd voor deze externe leveranciers, noch zal enige van de persoonlijke informatie die je met ons deelt worden gedeeld met deze externe leveranciers. Dit is afhankelijk van het gebruik van cookies van derden wanneer je onze website gebruikt, die je kunt uitschakelen via de instellingen van je browser.
</p>  

<p>We maken ook gebruik van advertenties op social media, waaronder Facebook en Twitter. Soms kunnen we een gedeelte van je persoonlijke gegevens gebruiken en delen om gebruik te maken van de 'Custom Audience'-tool van Facebook, die ons in staat stelt om te communiceren met en advertenties weer te geven aan zowel bestaande als toekomstige leden. Wij doen dit op een veilige en gecodeerde manier en houden ons op geen enkele manier bezig met praktijken die bekendstaan als "microtargeting".</p>

<p>Zie de <a href="https://www.facebook.com/ads/manage/customaudiences/tos.php" target="_blank">Servicevoorwaarden van Customer Audiences</a>.</p>

<p class="sub-heading">(c) Communicatie over campagnes</p>  

<p>Wij kunnen je contactgegevens gebruiken om je informatie te geven over ons werk, campagnes, activiteiten, evenementen, diensten en inzamelingsacties waarvan wij denken dat die interessant voor jou kunnen zijn (bijvoorbeeld updates over inzamelingsacties of petities die je hebt ondertekend, of verzoeken om deze te ondertekenen en informatie over nieuwe petities).</p> 

<p>Wanneer we dit doen via e-mail, persoonlijke berichten op social media als je profiel privé is, SMS (tekst) of een soortgelijke telefonische berichtenservice of per telefoon (als je geregistreerd bent bij het Bel-me-niet Register), zullen we dit niet doen zonder jouw voorafgaande toestemming. Wij vragen om je toestemming wanneer wij voor het eerst contact met je opnemen. Indien je ons eerder je toestemming hebt gegeven, maar in de toekomst niet meer door ons gecontacteerd wenst te worden over onze campagnes en activiteiten, kun je je op elk moment uitschrijven. Zie hiervoor het gedeelte <span class="link_style2" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">‘Hoe kan ik stoppen met het ontvangen van jullie e-mails en andere communicatie?’</span></p> 

<p class="sub-heading">(d) Het verwerken van donaties en creditcardgegevens</p> 

<p>Wanneer je gebruikmaakt van onze beveiligde online donatiefunctie word je doorverwezen naar een gespecialiseerde betalingsdienstaanbieder die jouw financiële gegevens ontvangt om de transactie te verwerken. We zullen jouw persoonlijke informatie alleen aan de betalingsdienstaanbieder geven voor zover dit noodzakelijk is om je donatie te verwerken. Wanneer je online bijdraagt aan SumOfUs, verzamelen we je creditcardgegevens. Die gegevens worden uitsluitend gebruikt om je bijdrage te verwerken; ze worden niet opgeslagen door SumOfUs; en worden nooit bekendgemaakt aan wie dan ook, voor enig ander doel dan om je bijdrage te verwerken. Wanneer je bijdraagt via een express donatie, worden je kaartgegevens opgeslagen door onze betalingsprovider, Braintree Payments (eigendom van Paypal), die strenge veiligheidswaarborgen hanteert en jaarlijks miljarden euro’s aan betalingen verwerkt.</p>

<p class="sub-heading" id="cookie-notice">(e) Cookies en vergelijkbare technieken</p>

<p>Om onze supporters beter van dienst te zijn maken wij gebruik van cookies en analyseren wij van tijd tot tijd weblogs. Sommige cookies worden gebruikt om formulieren vooraf voor jou in te vullen, zodat je bij herhaalde bezoeken aan de website bepaalde informatie niet telkens opnieuw hoeft in te geven. Je kunt je browser zo instellen dat cookies worden uitgeschakeld, maar dan heb je niet het voordeel dat bepaalde delen van formulieren vooraf voor je worden ingevuld en heb je mogelijk geen toegang tot bepaalde delen van de website. We kunnen ook gebruikmaken van diensten van derden, zoals Google Analytics. Dit helpt ons om verkeerspatronen te begrijpen en te weten of er problemen zijn met onze website. We kunnen ook gebruikmaken van ingesloten afbeeldingen in e-mails om de openingsratio bij te houden, zodat we kunnen zien welke e-mails het meest aanslaan bij SumOfUs-supporters.</p>

<p>De door een cookie gegenereerde informatie over jouw gebruik van onze website (met inbegrip van je IP-adres) wordt doorgegeven aan en door Google opgeslagen op servers in de Verenigde Staten. Google mag deze informatie aan derden verschaffen als Google hiertoe wettelijk wordt verplicht, of voor zover deze derden de informatie namens Google verwerken. Google kan jouw IP-adres combineren met alle andere gegevens waarover Google beschikt. Door gebruik te maken van deze website stem je toe dat Google de informatie verwerkt op de wijze en voor de doeleinden zoals hiervoor omschreven.</p>

<p>URL's in e-mails kunnen een ID bevatten dat ons in staat stelt om de persoon die een actie uitvoert met behulp van een webpagina correct te identificeren. Wij gebruiken deze URL's om het proces van het ondertekenen van petities en het invullen van enquêtes te vereenvoudigen. Wij kunnen af en toe een verkorte URL presenteren die verwijst naar een langere URL, die je kunt zien in de adresbalk van de browser wanneer je de pagina opent.</p>
</div>
</div>

<div class="what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information">
<h2 class="privacy__question" id="what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information">Wat is de juridische basis voor het verzamelen en gebruiken van mijn persoonlijke informatie?</h2>

<div class="privacy__answer hidden-closed" >
<p>De EU-wetgeving inzake gegevensbescherming legt een aantal "gronden" of redenen vast waarop de partij verantwoordelijk voor de verwerking (in dit geval SumOfUs) zich kan beroepen om persoonlijke informatie rechtmatig te verzamelen en te gebruiken. De gronden waarop wij ons beroepen om jouw persoonlijke informatie te gebruiken zijn de volgende:</p>  

<p>(a) Als je ons toestemming hebt gegeven om je persoonlijke informatie op een bepaalde manier te gebruiken (zo zullen we bijvoorbeeld je toestemming vragen om je persoonlijke informatie te gebruiken om je per e-mail promotie- of fondsenwervingsmateriaal te sturen).</p> 

<p>(b) Waar nodig zodat wij kunnen voldoen aan een wettelijke verplichting waaraan wij onderworpen zijn (bijvoorbeeld wanneer we verplicht zijn je persoonlijke informatie te delen met regelgevende instanties die onze werkzaamheden en diensten reguleren).</p>

<p>(c) Als het in het vitale belang van jou/iemand anders is (bijvoorbeeld wanneer wij tijdens onze communicatie met jou te weten komen dat er sprake is van een medische noodsituatie).</p> 

<p>(d) Als er een "legitiem belang" is dat wij dit doen (zie hieronder).</p>

<p>Volgens de EU-wetgeving inzake gegevensbescherming mogen we jouw persoonsgegevens verzamelen en gebruiken als dat redelijkerwijs noodzakelijk is om onze of andermans "legitieme belangen" te behartigen, dat wil zeggen als er een voordeel of noodzaak is voor ons of anderen om iets met jouw informatie te doen. Wij kunnen jouw informatie alleen gebruiken voor onze legitieme belangen of die van anderen wanneer ons gebruik eerlijk en evenwichtig is en geen onrechtmatige gevolgen heeft voor jouw rechten.</p> 

<p>Wanneer wij ons beroepen op deze grond voor het verzamelen/gebruiken van jouw persoonlijke informatie, is ons legitiem belang dat we werken aan het bereiken van de doelen en idealen van SumOfUs als een non-profitbeweging die vecht voor mensen boven winst, voornamelijk met een digitaal, op petities gebaseerd platform.</p> 

<p>Wanneer wij jouw persoonlijke informatie verwerken om dergelijke legitieme belangen te behartigen, houden wij rekening met elk potentieel effect op jou en jouw rechten onder de wetten over gegevensbescherming. Wij doen er alles aan om jouw privacy te beschermen.</p> 
</div>
</div>

<div class="what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them">
<h2 class="privacy__question" id="what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them">Wat zijn mijn rechten met betrekking tot de informatie die jullie over mij gebruiken en hoe kan ik die uitoefenen?</h2>

<div class="privacy__answer hidden-closed" >
<p>Als we jouw toestemming nodig hebben om je persoonlijke informatie te gebruiken, heb je het recht om die toestemming op elk moment in te trekken. Dit omvat het recht ons om te vragen te stoppen je persoonlijke informatie te gebruiken voor campagnes of fondsenwerving of om je op elk moment uit te schrijven van onze e-maillijst (zie hieronder het gedeelte 'Hoe kan ik stoppen met het ontvangen van jullie e-mails en andere mededelingen?').</p>

<p>Je hebt ook de volgende rechten:</p>
<ul>
<li>Recht op toegang: je kunt ons een bericht sturen om te vragen welke persoonlijke informatie wij over je bewaren en om een kopie van die persoonlijke informatie te vragen. Op voorwaarde dat wij zeker zijn dat je recht hebt op inzage in de gevraagde persoonsgegevens en dat wij je identiteit met succes hebben bevestigd, zullen we je jouw persoonlijke informatie verstrekken, tenzij er eventuele vrijstellingen van toepassing zijn.</li>
<li>Recht op verwijdering: op jouw verzoek zullen we je persoonlijke informatie uit onze bestanden wissen, voor zover wij daartoe verplicht zijn.</li>
<li>Recht op correctie: als je van mening bent dat je persoonlijke gegevens onjuist zijn, heb je het recht om te vragen dat deze gegevens worden bijgewerkt. Je kunt ons ook vragen om de persoonlijke informatie die wij over je hebben te controleren als je niet zeker weet of deze nauwkeurig of actueel is.</li>
<li>Recht om de verwerking te beperken: je hebt het recht om te vragen dat de verwerking van je persoonlijke informatie in bepaalde omstandigheden wordt beperkt, bijvoorbeeld als er onenigheid bestaat over de nauwkeurigheid of het rechtmatige gebruik ervan - je kunt ons bijvoorbeeld laten weten dat je denkt dat we bepaalde informatie over je bewaren die onjuist is. Hoewel wij stappen ondernemen om dit te controleren en ervoor te zorgen dat ze juist is, heb je het recht om ons te vragen je persoonlijke informatie niet te gebruiken.</li> 
<li>Recht van bezwaar: je hebt het recht bezwaar te maken tegen verwerking als wij (i) je persoonlijke informatie verwerken op grond van legitieme belangen, (ii) je persoonlijke informatie gebruiken voor direct marketing of (iii) je persoonlijke informatie gebruiken voor statistische doeleinden.</li> 
<li>Recht op gegevensoverdraagbaarheid: Wij kunnen jouw persoonsgegevens die jij ons hebt verstrekt verwerken op basis van jouw toestemming of omdat een dergelijke verwerking noodzakelijk is voor de uitvoering van een contract waarbij jij partij bent, of om op jouw verzoek stappen te ondernemen voorafgaand aan het sluiten van het contract. In beide gevallen verwerken wij de gegevens op geautomatiseerde wijze (d.w.z. zonder menselijke tussenkomst). Voor zover vereist door de GDPR, kun jij ons vragen de persoonsgegevens aan jou te verstrekken in een door een machine leesbaar formaat. </li>
<li>Recht om richtlijnen vast te stellen met betrekking tot de verwerking van je persoonsgegevens na je overlijden: Je kunt ons instructies geven met betrekking tot de wijze waarop wij je gegevens na je overlijden mogen blijven opslaan, wissen en delen, en indien van toepassing, de persoon die je hebt aangewezen om deze rechten na je overlijden uit te oefenen.</li>
</ul>

<p>Om een van deze rechten uit te oefenen, kun je contact met ons opnemen via de gegevens in het gedeelte <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">'Hoe neem ik contact met jullie op'</span>.</p>

<p>Houd er rekening mee dat sommige van deze rechten slechts in beperkte omstandigheden van toepassing zijn. Voor meer informatie raden wij je aan om contact met ons op te nemen. Wij kunnen je om aanvullende informatie vragen om je identiteit te bevestigen en voor veiligheidsdoeleinden, voordat wij de door jou gevraagde persoonlijke informatie vrijgeven.</p>

<p>Je hebt verder het recht om een klacht in te dienen over ons of de manier waarop we je persoonlijke informatie hebben verwerkt. Dit doe je bij de toezichthoudende autoriteit voor gegevensbescherming in je eigen land. Je kunt de identiteit en contactgegevens van de betreffende instantie in jouw land <a href="https://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080" target="_blank">hier vinden</a>.</p>
</div>
</div>

<div class="how-can-id-stop-getting-emails-and-other-communications-from-you">
<h2 class="privacy__question" id="how-can-id-stop-getting-emails-and-other-communications-from-you">Hoe kan ik ervoor zorgen dat ik niet langer e-mails en andere mededelingen van jullie krijg? </h2>

<div class="privacy__answer hidden-closed" >
<p>Het spijt ons als je onze mededelingen niet langer wenst te ontvangen – als je dit wil bespreken, kun je contact met ons opnemen via info@sumofus.org of zoals beschreven staat in het gedeelte 'Hoe neem ik contact met jullie op'. Als je je wil afmelden voor onze communicatie over onze campagnes, fondsenwerving en activiteiten waarvoor je ons eerder toestemming hebt gegeven, kun je dit op elk gewenst moment doen via de volgende methoden:</p> 
<ul>
<li>Door op de afmeldlink te klikken onderaan elke e-mail die wij je hebben gestuurd om campagne te voeren of fondsen te werven</li>
<li>Door op <a href="https://sumofus.org/unsubscribe">deze link te klikken</a> om je af te melden van onze mailinglijst</li>
</ul>
</div>
</div>

<div class="is-my-information-secure">
<h2 class="privacy__question" id="is-my-information-secure">Is mijn informatie veilig?</h2> 

<div class="privacy__answer hidden-closed" >
<p>Wij streven ernaar om je persoonlijke informatie veilig te bewaren en we hebben een passend en evenredig veiligheidsbeleid en organisatorische en technische maatregelen getroffen om je informatie te helpen beschermen. Zo is je persoonlijke informatie alleen toegankelijk voor daartoe opgeleid personeel, vrijwilligers en contractanten, en wordt deze opgeslagen op beveiligde servers met voorzieningen om ongeoorloofde toegang te voorkomen.</p>

<p>Omdat wij een Noord-Amerikaanse organisatie zijn, wordt de persoonlijke informatie die wij van jou verzamelen opgeslagen op een bestemming buiten de Europese Economische Ruimte (EER). Zie het gedeelte ‘Sturen jullie mijn persoonlijke informatie naar het buitenland?’ van deze mededeling voor meer details.</p>
</div>
</div>

<div class="will-you-share-my-information">
<h2 class="privacy__question" id="will-you-share-my-information">Delen jullie mijn informatie?</h2> 

<div class="privacy__answer hidden-closed" >
<p>We delen, verkopen of verhuren je persoonlijke informatie niet aan derden voor marketingdoeleinden. Wij kunnen je persoonlijke informatie delen met geselecteerde derde partijen voor de doeleinden die in deze verklaring uiteengezet worden. Als je een petitie op onze website ondertekent, kunnen wij je naam, woonplaats en land - maar geen van je contactgegevens - delen met het doelwit van de petitie wanneer we de petitie bezorgen. Vaak zijn dit organisaties en personen met wie wij een contract sluiten als "verwerkers". Zij moeten handelen volgens onze instructies en om de doeleinden te bereiken die in dit beleid worden uiteengezet, en zij gebruiken je persoonlijke informatie niet voor hun eigen doeleinden. Soms sluiten wij bijvoorbeeld contracten met consultants om ons te helpen bij onze campagnes en een externe leverancier beheert en verzorgt onze supportersdatabase. Wij eisen van onze externe leveranciers dat zij voldoen aan de hoogste normen voor gegevensbescherming, waaronder GDPR..</p>

<p>Hieronder vallen, onder andere, de volgende partijen:</p>
<ul>
<li>Partnerorganisaties (als je toestemming hebt gegeven om je persoonlijke informatie te delen met die partnerorganisatie);
</li><li>Personen die wij inhuren om SumOfUs te assisteren bij onze activiteiten, zoals een consultant voor ledenadministratie of een consultant voor copywriting, etc;
</li><li>Leveranciers en contractanten voor de uitvoering van een contract dat wij met hen aangaan, bijvoorbeeld IT-dienstverleners zoals websitehosts, databaseproviders, serverhosts of cloudstorageproviders;
</li><li>Financiële bedrijven zoals Paypal en GoCardless die namens ons donaties innen of verwerken;
</li><li>Socialmediaplatformen
</li><li>Wij publiceren je voornaam en voorletter van je achternaam alleen op onze website als je een actie onderneemt op onze website, zoals het ondertekenen van een petitie
</li><li>Wanneer je een petitie ondertekent of een enquête invult op onze website beschouwen we je naam, stad, provincie en opmerkingen als openbare informatie. We kunnen bijvoorbeeld compilaties van petities, met jouw opmerkingen, verstrekken aan de overheidsfunctionaris, het bedrijf of de persoon aan wie de petitie is gericht, en/of aan de pers en/of het publiek online om jouw steunbetuiging aan de zaak/petitie te vergemakkelijken en om ervoor te zorgen dat de ondertekenaars van de petitie verifieerbaar zijn. Wij maken je e-mailadres echter niet openbaar, tenzij je ons daar expliciet toestemming voor geeft wanneer je een van onze campagnetools gebruikt. SumOfUs is niet verantwoordelijk voor verder gebruik van je persoonlijke informatie door de ontvanger van een petitie.
</li>
</ul>
<p>Het zou kunnen dat wij jouw persoonlijke informatie op verzoek moeten openbaren aan regelgevende en overheidsinstanties en/of wetshandhavingsinstanties. Wij wijzen je erop dat SumOfUs elke poging van overheidsinstanties of particuliere organisaties om toegang te krijgen tot de informatie die jij ons geeft zal aanvechten. In het onwaarschijnlijke geval dat we wettelijk verplicht zijn om jouw informatie te openbaren, zullen we ons best doen eerst contact met jou op te nemen, zodat je de gelegenheid hebt bezwaar te maken tegen de openbaring. Wij zullen ook onafhankelijk bezwaar maken tegen verzoeken om toegang tot informatie over gebruikers van onze site als die naar onze mening ongegrond zijn.
</p>

<p>Het is ook mogelijk dat we fuseren of samenwerken met andere organisaties en daarbij persoonlijke informatie verwerven of overdragen, maar je persoonlijke informatie zal enkel blijven worden gebruikt voor de hierboven uiteengezette doeleinden.</p>
</div>
</div>

<div class="will-you-send-my-personal-information-abroad">
<h2 class="privacy__question" id="will-you-send-my-personal-information-abroad">Sturen jullie mijn persoonlijke gegevens naar het buitenland?</h2>

<div class="privacy__answer hidden-closed" >
<p>Zoals hierboven vermeld is SumOfUS een Noord-Amerikaanse organisatie met een netwerk van medewerkers en supporters over de hele wereld. We hebben enkele kantoren binnen de EU, maar dit zijn geen afzonderlijke bedrijven. Dus als je in de EU bent en een actie bij ons onderneemt, worden je persoonlijke gegevens verzonden van je apparaat in de EU naar onze infrastructuur in de VS met het doel ons netwerk en supporters over de hele wereld te ondersteunen. Je persoonlijke informatie kan worden gedeeld met of toegankelijk zijn voor ons, onze werknemers en consultants wereldwijd, en andere dienstverleners in de Verenigde Staten. Sommige landen buiten de EER (waaronder de Verenigde Staten) hebben een lagere standaard van bescherming voor persoonlijke informatie, met inbegrip van lagere veiligheidseisen en minder rechten voor individuen. We werken hard aan de implementatie van veiligheidsmaatregelen en processen die gelijkwaardig zijn aan de beschermingsmechanismen binnen de EU om je gegevens te beschermen, zoals uiteengezet in deze privacyverklaring, en we eisen van alle mensen en bedrijven die met ons samenwerken om persoonlijke informatie te verwerken dat ze voldoen aan de GDPR, inclusief Noord-Amerikaanse bedrijven. Voor meer informatie over de overdracht van je persoonlijke gegevens kun je contact opnemen via het gedeelte ‘Hoe neem ik contact met jullie op?’.</p>
</div>
</div>

<div class="how-long-will-you-keep-my-personal-information">
<h2 class="privacy__question" id="how-long-will-you-keep-my-personal-information">Hoelang bewaren jullie mijn persoonlijke informatie?</h2> 

<div class="privacy__answer hidden-closed" >
<p>Over het algemeen geldt dat wij je persoonsgegevens niet later dan zes jaar na de datum waarop ze zijn verzameld uit onze bestanden verwijderen, tenzij ze nog nodig zijn in verband met de doeleinden waarvoor ze zijn verzameld en/of verwerkt. Indien echter vóór die datum (i) je persoonsgegevens niet langer vereist zijn in verband met die doeleinden, (ii) wij niet langer wettelijk gerechtigd zijn deze te verwerken of (iii) je op geldige wijze je recht op verwijdering uitoefent, zullen wij je gegevens op het betreffende tijdstip uit onze bestanden verwijderen.</p>
<p>Houd er rekening mee dat, als je vraagt om geen verdere communicatie van ons te ontvangen, wij enige basisinformatie over jou op onze "geen contact"-lijst bewaren om aan je verzoek te voldoen en te voorkomen dat wij in de toekomst ongewenst contact opnemen.</p>
</div>
</div>

<div class="do-you-collect-personal-information-about-children">
<h2 class="privacy__question" id="do-you-collect-personal-information-about-children">Verzamelen jullie persoonlijke informatie over kinderen? </h2> 

<div class="privacy__answer hidden-closed" >
<p>Wij verzamelen niet bewust persoonlijke informatie van kinderen, waarmee wij verwijzen naar personen jonger dan zestien jaar. Het is een voorwaarde om SumOfUs te steunen dat je zestien jaar of ouder bent en wij vragen dat toekomstige supporters verklaren dat zij aan deze voorwaarde voldoen wanneer zij ons hun persoonlijke informatie geven bij het ondertekenen van een petitie, het doen van een donatie of het registreren als een supporter. Als we ervan op de hoogte worden gebracht dat we onopzettelijk persoonlijke informatie over een kind hebben, zullen we die informatie verwijderen.</p> 
</div>
</div>

<div class="general-provisions">
<h2 class="privacy__question" id="general-provisions">Algemene bepalingen</h2> 
<div class="privacy__answer hidden-closed" >
<h3 class="sub-heading" id="links-and-third-parties">15.1 Links en derden</h3> 

<p>Wij linken onze website rechtstreeks aan andere sites. Deze privacyverklaring geldt niet voor externe websites en wij zijn niet verantwoordelijk voor het privacybeleid of de inhoud van die sites. Wij raden je aan de privacyverklaringen te lezen van alle externe websites die je bezoekt via links op onze website.</p>

<h3 class="sub-heading" id="changes-to-this-privacy-notice">15.2 Wijzigingen in deze privacyverklaring</h3> 

<p>Wij kunnen deze privacyverklaring van tijd tot tijd bijwerken, dus kom regelmatig kijken. We zullen je op de hoogte brengen van belangrijke wijzigingen, zoals de implementatie van de GDPR, door rechtstreeks contact met je op te nemen waar dit voor ons redelijkerwijs mogelijk is en door een mededeling op onze website te plaatsen. Deze privacyverklaring is voor het laatst bijgewerkt op 21 mei 2018.</p>
</div>
</div>

<div class="user-contributions">
<h2 class="privacy__question" id="user-contributions">Gebruikersbijdragen</h2> 
<div class="privacy__answer hidden-closed" >

<p>Om je te helpen je stem te laten horen en ideeën met anderen te delen, kan deze website hulpmiddelen bevatten waarmee jij je eigen bijdragen op deze website of elders kunt plaatsen.</p><p>
Deze hulpmiddelen kunnen online petities, aankondigingen, hulpprogramma's voor het schrijven van brieven, prikborden, chatrooms, persoonlijke webpagina's of profielen, forums, bulletinboards en andere interactieve functies ("Interactieve diensten") zijn waarmee je jouw inhoud of materiaal ("Gebruikersbijdragen") kunt plaatsen, indienen, publiceren, weergeven of delen met andere gebruikers of andere leden van het publiek.</p><p>
Wij beschouwen alle bijdragen die je op de website plaatst als niet-vertrouwelijk. De inhoud die je plaatst is van jou, en je verleent ons het recht deze weer te geven, te hergebruiken en te delen om de missie van SumOfUs te bevorderen. In juridische termen: door het plaatsen van een gebruikersbijdrage op de site, bevestig en garandeer je dat je de eigenaar bent van de inhoud of over alle rechten beschikt, en verleen je SumOfUs en haar filialen een wereldwijde, niet-exclusieve, royaltyvrije licentie om je inhoud te gebruiken, te kopiëren, te reproduceren, te wijzigen, aan te passen, te publiceren, over te dragen, weer te geven en te distribueren met behulp van alle bestaande of toekomstig ontwikkelde distributiemethoden of media.</p><p>
Verplichting tot nauwkeurigheid. SumOfUs vereist dat je je verplicht tot nauwkeurigheid in je onafhankelijke Gebruikersbijdragen. Je begrijpt en erkent dat SumOfUs niet verantwoordelijk is voor Gebruikersbijdragen die jij indient of bijdraagt, en dat jij, niet SumOfUs, de volledige verantwoordelijkheid draagt voor dergelijke inhoud, inclusief de legaliteit, betrouwbaarheid, nauwkeurigheid en geschiktheid ervan.
</p>

<h3 class="sub-heading" id="content-standards">16.1 Inhoudsnormen</h3> 

<p>Je mag deze website alleen gebruiken voor wettige doeleinden en in overeenstemming met de gebruiksvoorwaarden. Je stemt ermee in deze site niet te gebruiken om:</p>
<ul>
  <li>Onjuist, lasterlijk, grof, beledigend, intimiderend, gewelddadig, haatdragend of opruiend materiaal te verspreiden, inclusief materiaal dat de bredere missie van SumOfUs in gevaar brengt of anderszins verwerpelijk is.
</li><li>Seksueel expliciet of pornografisch materiaal, geweld, of discriminatie gebaseerd op ras, geslacht, religie, nationaliteit, handicap, seksuele geaardheid of leeftijd te promoten.
</li><li>Inbreuk te maken op enig octrooi, handelsmerk, auteursrecht of andere intellectuele eigendomsrechten van enige andere persoon.
</li><li>De rechten (waaronder het recht op publiciteit en privacy) van anderen te schenden of materiaal te verspreiden dat aanleiding kan geven tot civiele of strafrechtelijke aansprakelijkheid onder de relevante wet- en regelgeving of dat anderszins in strijd is met deze Gebruiksvoorwaarden en ons Privacybeleid.
</li><li>Personen te misleiden of bedriegen.
</li><li>Illegale activiteiten te promoten, of illegale praktijken aan te bevelen, te promoten of bij te staan.
</li><li>Je voor te doen als een andere persoon, of om je identiteit of verbondenheid met een persoon of organisatie verkeerd voor te stellen.
</li><li>Commerciële activiteiten uit te voeren, zoals wedstrijden, loterijen en andere verkoopbevorderende acties, ruilhandel of reclame.
</li><li>De indruk te wekken dat je van ons of van een andere persoon of entiteit afkomstig bent, als dit niet het geval is.
</li>
</ul>
</p>

<h3 class="sub-heading" id="prohibited-uses">16.2 Verboden gebruik</h3> 

<p>Je mag deze website alleen gebruiken voor wettige doeleinden en in overeenstemming met de gebruiksvoorwaarden. Je stemt ermee in deze site niet te gebruiken:</p>
<ul>
  <li>Op enige wijze die in strijd is met nationale, regionale, federale, staats-, lokale en internationale wet- of regelgeving die van toepassing is.
</li><li>Met het doel minderjarigen uit te buiten, te schaden of uit te buiten of te schaden door hen bloot te stellen aan ongepaste inhoud, te vragen om persoonlijk identificeerbare informatie of anderszins.
</li><li>Om materiaal te verzenden, bewust te ontvangen, te uploaden, te downloaden, te gebruiken of te hergebruiken dat niet voldoet aan de Inhoudsnormen die in deze gebruiksvoorwaarden zijn uiteengezet.
</li><li>Om reclame- of promotiemateriaal, met inbegrip van "junk mail", "kettingbrieven", "spam" of gelijksoortige materialen te verzenden of laten zenden.
</li><li>Om je voor te doen als SumOfUs of een werknemer van SumOfUs, een andere gebruiker of persoon of entiteit (inclusief, zonder beperking, het gebruik van e-mailadressen of schermnamen geassocieerd met een van de voorgaande), of je te registreren om de website te gebruiken namens een groep of entiteit.
</li><li>Om e-mailadressen of andere persoonlijk identificeerbare informatie van gebruikers van deze website te verzamelen door elektronische of andere middelen - ongeacht voor welk doel.
</li><li>Om op enig andere manier iemands gebruik of plezier van deze site te beperken of belemmeren, of zodat, zoals door ons bepaald, SumOfUs of gebruikers van de site kunnen worden geschaad of blootgesteld aan aansprakelijkheid.
</li><li>Voor commerciële doeleinden.
</li>
</ul>
<p>Bovendien stem je ermee in om: </p>
<ul>  
  <li>Deze website niet te gebruiken op een manier die de site kan uitschakelen, overbelasten, beschadigen of aantasten of die het gebruik van deze website door een andere partij kan hinderen, inclusief hun vermogen om deel te nemen aan directe activiteiten via de site.
</li><li>Geen gebruik te maken van een robot, spider of ander automatisch apparaat, proces of middel om toegang te krijgen tot de website voor welk doel dan ook, inclusief het controleren of kopiëren van materiaal op deze site.
</li><li>Geen gebruik te maken van een handmatig proces om het materiaal op deze website te controleren of te kopiëren of voor enig ander ongeoorloofd doel zonder onze voorafgaande schriftelijke toestemming.
</li><li>Geen apparaten, software of routines te gebruiken die de goede werking van deze website verstoren.
</li><li>Geen virussen, trojan horses, worms, logic bombs of ander materiaal te introduceren dat kwaadaardig of technologisch schadelijk is.
</li><li>Geen pogingen te ondernemen om ongeoorloofde toegang te verkrijgen tot delen van deze website, de server waarop deze is opgeslagen, of enige server, computer of database die met deze website is verbonden te verstoren, te beschadigen of te ontwrichten.
</li><li>Deze website niet aan te vallen via een denial-of-service-aanval of een gedistribueerde denial-of-service-aanval.
</li><li>Niet anderszins te proberen de goede werking van deze website te verstoren.
</li>
</ul>


<h3 class="sub-heading" id="user-contributions-not-responsible">16.3 Wij zijn niet verantwoordelijk voor Gebruikersbijdragen</h3> 

<p>Omdat wij niet alles wat door gebruikers wordt geplaatst van tevoren kunnen beoordelen, zijn alle inhoud en/of meningen die worden geüpload, uitgedrukt of ingediend op de website, en alle gebruikersbijdragen, inclusief artikelen, antwoorden op vragen en andere inhoud, anders dan de inhoud die officieel door SumOfUs wordt verstrekt, uitsluitend de meningen en de verantwoordelijkheid van de persoon of entiteit die ze indient en weerspiegelen ze niet noodzakelijkerwijs het standpunt van SumOfUs. Wij zijn niet verantwoordelijk of aansprakelijk tegenover derden voor de inhoud of juistheid van materiaal geplaatst door jou of een andere gebruiker van de website, en je stemt ermee in de volledige verantwoordelijkheid te dragen voor de inhoud die jij op de site plaatst. Hoewel wij proberen alle geloofwaardige klachten over aanstootgevende Gebruikersbijdragen te onderzoeken, kunnen wij niet instaan voor individuele reacties of verwijdering van dergelijke inhoud.</p>

<h3 class="sub-heading" id="user-contributions-not-responsible">16.4 Handhaving van de Voorwaarden</h3> 

<p>Het doel van deze website is om de missie van SumOfUs te dienen namens de SumOfUs-community. Om ervoor te zorgen dat de site alleen wordt gebruikt voor het beoogde doel en dat het gebruik van de site de bredere missie van SumOfUs niet in gevaar brengt, heeft SumOfUs het recht om:</p>
<ul>
  <li>Gebruikersbijdragen te verwijderen of weigeren te plaatsen om welke reden dan ook. Dit is een beslissing die SumOfUs op een eerlijke manier probeert te nemen, maar het besluit is uiteindelijk uitsluitend aan SumOfUs. Het is ons beleid om onze leden te raadplegen, inclusief door middel van gerandomiseerde opiniepeilingen om te bepalen welke gebruikersbijdragen onze leden zien als bevorderend voor onze missie. Tijdens dit proces zullen wij te allen tijde feedback van de community verwelkomen over hoe wij deze beslissingen nemen, aangezien het ons doel is om onze community te helpen haar missie te verwezenlijken. Maar uiteindelijk is SumOfUs wettelijk verplicht om ervoor te zorgen dat al onze activiteiten onze missie bevorderen en daarom moeten wij ons het definitieve oordeel over het handhaven van deze vereiste voorbehouden.
</li><li>Maatregelen te treffen met betrekking tot een Gebruikersbijdrage, indien wij dit nodig of passend achten omdat wij van mening zijn dat de bijdrage de gebruiksvoorwaarden en/of de inhoudsnormen schendt, inbreuk maakt op enig intellectueel eigendomsrecht of ander recht, de persoonlijke veiligheid van gebruikers van deze website en het publiek bedreigt of aansprakelijkheid voor SumOfUs kan creëren. 
</li><li>Jouw identiteit bekend te maken aan derden die beweren dat door jou geplaatst materiaal hun rechten schendt, inclusief hun intellectuele eigendomsrechten of hun recht op privacy. Wij zullen dit niet lichtvaardig doen, maar als wij denken dat het de mogelijkheid biedt om tot een eerlijke en rechtvaardige oplossing te komen, of als het SumOfUs beschermt tegen aansprakelijkheid waarvoor wij niet verantwoordelijk zijn, kunnen we deze stap nemen.
</li><li>Gepaste juridische stappen te ondernemen, inclusief en zonder beperking tot: verwijzing naar wetshandhaving, voor elk illegaal of ongeoorloofd gebruik van deze website als wij bepalen dat wetshandhaving het juiste en gepaste middel is om het overtredende gebruik aan te pakken.
</li><li>Je de toegang tot de gehele of een deel van deze website te ontzeggen als je deze gebruiksvoorwaarden overtreedt.
</li>
</ul>
<p>Je ziet af van en stelt SumOfUs niet aansprakelijk voor claims die het gevolg zijn van enige actie genomen door SumOfUs tijdens of als resultaat van haar onderzoek, en voor enige actie ondernomen naar aanleiding van onderzoek door SumOfUs of wetshandhavingsautoriteiten.</p>

<h3 class="sub-heading" id="links-other-sites">16.5 Links naar andere websites</h3> 

<p>Zoals gebruikelijk is online, kunnen deze website en de berichten van gebruikers hyperlinks naar andere websites bevatten. Als er naar andere websites en bronnen op deze site gelinkt is, hetzij door SumOfUs of door jou, worden deze links alleen verstrekt voor het gemak van onze gebruikers. Wij hebben geen controle over de inhoud van die websites of bronnen, en kunnen daarom geen verantwoordelijkheid aanvaarden voor de websites of voor enig verlies of schade ontstaan door het gebruik ervan. Als je besluit een van de websites van derden te bezoeken waarnaar op deze site gelinkt wordt, doe je dat geheel op eigen risico en ben je onderworpen aan het privacybeleid en de gebruiksvoorwaarden van die websites.</p>

<h3 class="sub-heading" id="copyright-act">16.6 Inbreuk op het auteursrecht en de Digital Millennium Copyright Act</h3> 

<p>Als je van mening bent dat een Gebruikersbijdrage je auteursrecht schendt, kun je ons op de hoogte stellen van de vermoedelijke inbreuk op het auteursrecht. In overeenstemming met de Digital Millennium Copyright Act (DMCA) en andere toepasselijke wetgeving, is het beleid van SumOfUs om, onder passende omstandigheden, de accounts op te heffen van gebruikers die geacht worden herhaaldelijke overtreders te zijn. Alle kennisgevingen van inbreuk op het auteursrecht moeten worden gestuurd naar: https://www.sumofus.org/
</p>

<h3 class="sub-heading" id="no-guarantee-of-service">16.7 Geen Garantie van Dienstverlening</h3> 

<p>Hoewel we hopen dat deze site in de toekomst te allen tijde beschikbaar zal zijn, kunnen er momenten zijn waarop we de site tijdelijk of permanent buiten gebruik moeten stellen. We vragen voor je begrip voor het feit dat wij ons het recht voorbehouden om deze website - inclusief alle gerelateerde diensten en/of materiaal – op te heffen of te wijzigen. Wanneer wij dit nodig achten, kunnen wij dit zonder voorafgaande kennisgeving doen. SumOfUs is niet aansprakelijk als de gehele website, of een deel ervan, niet beschikbaar is. Ook kunnen wij van tijd tot tijd de toegang tot de gehele website, of delen ervan, beperken voor gebruikers, inclusief degenen die een profielpagina hebben.</p>

<h3 class="sub-heading" id="disclaimer-warranties">16.8 Afwijzing van Garanties</h3> 

<p>Je begrijpt dat wij niet kunnen garanderen of waarborgen dat bestanden die beschikbaar zijn om te downloaden van het internet of de website vrij zijn van virussen of andere schadelijke bestanden. Je bent zelf verantwoordelijk voor het implementeren van voldoende procedures en controles om te voldoen aan jouw specifieke eisen voor antivirusbescherming en nauwkeurigheid van gegevensinvoer en -uitvoer, en voor het onderhouden van een externe voorziening buiten onze site om eventuele verloren gegevens te herstellen.
</p><p>
Wij zijn niet aansprakelijk voor verlies of schade veroorzaakt door een “gedistribueerde denial-of-service-aanval (ddos-aanval)”, virussen of ander technologisch schadelijk materiaal dat jouw computerapparatuur, computerprogramma’s, gegevens of ander eigendom kan beschadigen vanwege jouw gebruik van de website of andere diensten of items die via de website zijn verkregen, of als je materiaal downloadt dat op de website of op een gekoppelde website is geplaatst. 
</p><p>Het gebruik van de website, inclusief de inhoud en alle diensten of items die via de website worden verkregen, is op eigen risico. De website, de inhoud en alle diensten of items verkregen via de website worden geleverd op "zoals het is"- en "zoals beschikbaar"- basis, zonder enige garanties van welke aard dan ook, hetzij uitdrukkelijk of impliciet. Noch SumOfUs noch enige persoon geassocieerd met SumOfUs geeft enige garantie of vertegenwoordiging met betrekking tot de volledigheid, veiligheid, betrouwbaarheid, kwaliteit, nauwkeurigheid of beschikbaarheid van de website. Zonder het voorgaande te beperken, noch SumOfUs noch iemand verbonden aan SumOfUs verklaart of garandeert dat de website, de inhoud ervan of enige diensten of items verkregen via de website accuraat, betrouwbaar, foutloos of ononderbroken zijn, dat gebreken worden gecorrigeerd, dat onze site of de server die het beschikbaar maakt vrij zijn van virussen of andere schadelijke componenten of dat de website en/of diensten of items verkregen via de website anderszins aan jouw behoeften of verwachtingen voldoen.
</p><p>SumOfUs wijst hierbij alle garanties van welke aard dan ook af, hetzij expliciet of impliciet, wettelijk of anderszins, inclusief maar niet beperkt tot: garanties van verkoopbaarheid, niet-inbreuk en geschiktheid voor een bepaald doel.
</p><p>Het voorgaande heeft geen invloed op garanties die niet kunnen worden uitgesloten of beperkt onder de toepasselijke wetgeving.

</p>

<h3 class="sub-heading" id="limitation-liability">16.9 Beperking van Aansprakelijkheid</h3> 

<p>In geen geval is SumOfUs - inclusief haar gelieerde ondernemingen of hun licentiegevers, dienstverleners, werknemers, vertegenwoordigers, functionarissen of directeuren - aansprakelijk voor schade van welke aard dan ook, onder welke wettelijke theorie dan ook, die voortvloeit uit of in verband staat met jouw gebruik, of onvermogen tot gebruik, van de website en alle websites die eraan gekoppeld zijn, inclusief alle inhoud en diensten op de website of andere gekoppelde websites, met inbegrip van directe, indirecte, speciale, incidentele, gevolg- of punitieve schade, met inbegrip van maar niet beperkt tot persoonlijk letsel, pijn en lijden, emotioneel leed, verlies van inkomsten, winstderving, verlies van zaken of verwachte besparingen, verlies van gebruik, verlies van goodwill, verlies van gegevens, en of dit nu veroorzaakt wordt door een onrechtmatige daad (inclusief nalatigheid), contractbreuk of anderszins, zelfs indien dit te voorzien was. Het voorgaande is niet van invloed op enige aansprakelijkheid die niet kan worden uitgesloten of beperkt onder de toepasselijke wetgeving.
</p>

<h3 class="sub-heading" id="Indemnification">16.10 Schadeloosstelling</h3> 

<p>Mochten er problemen ontstaan als gevolg van je gebruik van de website, dan kunnen wij daarvoor niet aansprakelijk worden gesteld. Door in te stemmen met deze voorwaarden, stem je ermee in verantwoordelijkheid te dragen voor de gevolgen die voortvloeien uit je gebruik van de site. Dat betekent dat je ermee instemt SumOfUs, haar gelieerde ondernemingen en licentiegevers en hun respectievelijke functionarissen, directeuren, werknemers, contractanten, vertegenwoordigers, licentiegevers en leveranciers te verdedigen, schadeloos te stellen en te vrijwaren van en tegen alle claims, aansprakelijkheden, schade, vonnissen, toekenningen, verliezen, kosten, onkosten of vergoedingen (met inbegrip van redelijke vergoedingen van advocaten) als gevolg van je schending van deze gebruiksvoorwaarden of je gebruik van de website, met inbegrip van, maar niet beperkt tot, enig gebruik van de inhoud van de website, diensten, producten en informatie anders dan uitdrukkelijk toegestaan in deze gebruiksvoorwaarden.</p>

<h3 class="sub-heading" id="waiver-severability">16.11 Verklaring van Afstand en Scheidbaarheid</h3> 

<p>Geen verklaring van afstand van deze gebruiksvoorwaarden door SumOfUs zal worden beschouwd als een verdere of voortdurende verklaring van afstand van een dergelijke voorwaarde of enige andere voorwaarde of bepaling, en enig verzuim van SumOfUs om een recht of bepaling onder deze gebruiksvoorwaarden te doen gelden zal geen verklaring van afstand van een dergelijk recht of bepaling inhouden.
</p><p>
Indien een bevoegde rechtbank oordeelt dat een bepaling van deze Gebruiksvoorwaarden om welke reden dan ook ongeldig, onwettig of niet-afdwingbaar is, zal deze bepaling worden geëlimineerd of beperkt tot een zodanig minimum dat de overige bepalingen van de Gebruiksvoorwaarden volledig van kracht blijven.
</p><p>

Omdat de  website met petities van de SumOfUs-Community wordt betaald door de leden van de SumOfUs community, weerspiegelen onze normen voor gebruik de waarden van onze community. Dit omvat, maar is niet beperkt tot, elke campagne of activiteit die:
</p>
<ul>
  <li>niet strookt met de doelen, doelstellingen en/of opvattingen van SumOfUs en/of de meerderheid van haar leden;
haat, geweld, misbruik, bedreigingen of schade tegen enige groep of individu propageert;</li><li>
intimideert of anderen aanmoedigt om een groep of individu te intimideren;</li><li>
racisme, onverdraagzaamheid, misogynie, haat of lichamelijk letsel van welke aard dan ook propageert;</li><li>
bijdraagt aan de verspreiding van desinformatie;</li><li>
de rechten en de centrale rol van oorspronkelijke bewoners niet erkent of bevordert, in het bijzonder met betrekking tot landrechten en zelfbeschikking van gemeenschappen;</li><li>
in strijd is met bestaande rechten, wetten of verplichtingen krachtens lokale, nationale of internationale wetgeving.
</li>
</ul>
De voorwaarden en informatie in deze verklaring kunnen te allen tijde en zonder voorafgaande kennisgeving worden gewijzigd.
</p>

</div>
</div>

<div class="how-do-i-contact-you">
<h2 class="privacy__question" id="how-do-i-contact-you">Hoe neem ik contact met jullie op?</h2> 
<div class="privacy__answer hidden-closed" >
<p>De contactgegevens van onze EU-vertegenwoordiger staan aan het begin van deze privacyverklaring. Je kunt ook contact met ons opnemen via één van de volgende methoden:</p>

<p>E-mail:  privacy@sumofus.org</p>

<p>Telefoon: +31 70 2500292</p>

<p>Post: 
Monnikenstraat 23
Suite #
1049 1012 BP Amsterdam
Netherland</p>
</div>
</div>
</div>
<%= javascript_include_tag('../../javascripts/privacy_policy.js') %>

