---
title: 'Contact'
---

<div class="contact-title"> Email </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">Ekō members</div>
        <div class="contact-content-value"><a href="mailto:info@eko.org">info@eko.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Companies</div>
        <div class="contact-content-value"><a href="mailto:corporate@eko.org">corporate@eko.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Media</div>
        <div class="contact-content-value"><a href="mailto:press@eko.org">press@eko.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Privacy issues</div>
        <div class="contact-content-value"><a href="mailto:privacy@eko.org">privacy@eko.org</a></div>
    </div>
</div>
<div class="contact-desc">We have a dedicated team of people checking the above inboxes regularly. In order to make sure your email gets a quick response please direct it to the right account.</div>

<div class="contact-title"> Telephone </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">US</div>
        <div class="contact-content-value">+1 347 826 4656</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">UK</div>
        <div class="contact-content-value">+1 415 808-5882</div>
    </div>
</div>
<div class="contact-desc">We currently only have phone numbers in the US and UK. If you are calling from outside of those countries you may want to consider emailing us.</div>

<div class="contact-title"> Postal address </div>
<div class="contact-content">
    <div class="contact-content-item" style="display: none">
        <div class="contact-content-key">New York</div>
        <div class="contact-content-value">Ekō, PO Box 1128, New York, NY 10156, United States</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">San Francisco</div>
        <div class="contact-content-value">Ekō, 2443 Fillmore St #380-1279, San Francisco, CA 94115, United States</div>
    </div>
</div>
<div class="contact-desc">Ekō is a virtual office and and we can only receive mail in San Francisco at the moment.</div>
