---
title: 'Thank you!'
---
<div class='opted_out_msg'>
  You’ve successfully opted out of our remaining fundraising emails in <span id='current_year'>[YEAR]</span>. Thanks so much for your support<span class='member_name'>[NAME]</span>. If you’ve made this request in error, you can opt back into receiving our fundraising emails by clicking <a href="#" id="opt_in_link">here</a>.
</div>

<div class="text-center m-t-40">
  <a href="https://eko.org">Return to the Ekō homepage.</a>
</div>

<%= partial 'opted_out' %>