---
title: 'Opt In for 2019 fundraising emails'
---
<div class='opted_in_msg text-center'>
  You’ve successfully opted into receiving our remaining fundraising emails in 2019.
</div>


<div class="text-center m-t-40">
  <a href="https://sumofus.org">Return to the SumOfUs homepage.</a>
</div>
