---
# title: 'Privacy Policy'
---
<div class="privacy-main-content">
<h1 class="privacy-header">Privacy Policy</h1>
<p class="privacy-intro-paragraph1">At Ekō we take your privacy rights very seriously. This privacy notice sets out our data collection and processing practices, and your options and rights regarding the ways in which your personal information is handled.</p>
 <p class="privacy-intro-paragraph2">Together, our community of millions act as a global consumer watchdog – running and winning campaigns to hold the biggest companies in the world accountable. To campaign effectively where and when needed most, Ekō maintains a database of member contact details and actions. We store that data securely, and never sell or rent that data to anyone else. Please read below for details. This notice is split into the following parts (and if you click on a heading you are interested in, you will be taken straight to that section):
</p>
<div class="privacy-links-container" >
<span class="link_style" onclick="internalNav('#who-we-are')">1. Who We Are</span>
<span class="link_style" onclick="internalNav('#what-is-this-notice-about')">2. What is this notice about?</span> 
<span class="link_style" onclick="internalNav('#do-you-collect-personal-information-about-me')">3. Do you collect personal information about me?</span> 
<span class="link_style" onclick="internalNav('#where-do-you-get-information-about-me-from')">4. Where do you get information about me from?</span> 
<span class="link_style" onclick="internalNav('#what-information-do-you-collect-store-and-otherwise-use-about-me')" >5. What information do you collect, store and otherwise use about me?</span> 
<span class="link_style" onclick="internalNav('#how-and-why-will-you-use-my-information')">6 How and why will you use my information?</span> 
<span class="link_style" onclick="internalNav('#overview-of-how-we-use-your-information', '#how-and-why-will-you-use-my-information')">6.1 Overview of how we use your information</span> 
<span class="link_style" onclick="internalNav('#further-detail-on-some-of-our-practices', '#how-and-why-will-you-use-my-information')">6.2 Further detail on some of our practices</span> 
<span class="link_style" onclick="internalNav('#what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information')">7. What is the legal basis for you collecting and using my personal information?</span> 
<span class="link_style" onclick="internalNav('#what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them')">8. What are my rights with regard to information you use about me and how do I exercise them?</span> 
<span class="link_style" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">9. How can I stop getting emails and other communications from you?</span> 
<span class="link_style" onclick="internalNav('#is-my-information-secure')">10. Is my information secure?</span> 
<span class="link_style" onclick="internalNav('#will-you-share-my-information')">11. Will you share my information?</span> 
<span class="link_style" onclick="internalNav('#will-you-send-my-personal-information-abroad')">12. Will you send my personal information abroad?</span> 
<span class="link_style" onclick="internalNav('#how-long-will-you-keep-my-personal-information')">13. How long will you keep my personal information?</span> 
<span class="link_style" onclick="internalNav('#do-you-collect-personal-information-about-children')">14. Do you collect personal information about children?</span> 
<span class="link_style" onclick="internalNav('#general-provisions')">15. General provisions</span> 
<span class="link_style" onclick="internalNav('#links-and-third-parties', '#general-provisions')">15.1 Links and third parties</span> 
<span class="link_style" onclick="internalNav('#changes-to-this-privacy-notice', '#general-provisions')">15.2 Changes to this privacy notice</span>
<span class="link_style" onclick="internalNav('#user-contributions')">16. User contributions</span> 
<span class="link_style" onclick="internalNav('#how-do-i-contact-you')">17. How do I contact you?</span> 
</div>
<div class="spacer"></div>
<div class="who-we-are">
<h2 class="privacy__question" id="who-we-are">Who We Are</h2>
<div class="privacy__answer hidden-closed" >
<p>We are Ekō, a community from around the world committed to curbing the growing power of corporations. Ekō is registered as a 501(c)(4) social welfare non-profit organisation incorporated in the United States of America. Under EU data protection law (the GDPR), we are what is known as a ‘controller’ which means that we collect information about you when you engage with us and we determine how that information is used. We have members and supporters, like you, around the world. In fact there are over 3.4 million Ekō members who take action together to fight corporate power 
Because we are a US organisation, EU data protection law requires us to appoint a ‘representative’ in a country in the EU, as a point of contact for EU-based data privacy questions and queries. Our local representative is Eoin Dubsky who is based in The Netherlands and you can contact them via the following methods:</p>

<p>Email:  privacy@eko.org</p>

<p>Phone: +31 70 2500292</p>

<p>Mail: 
Ekō
Keulsepoort 2
Unit #400
5911 BZ Venlo
Netherlands</p>

<p>It is important that you know what organisations are doing with information about you and why, and we seek to set this out as clearly as possible here (known as a ‘privacy notice’ in legal language). If you have any questions not answered by this privacy notice or have any concerns, then please do get in touch using the <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">‘How do I contact you?‘</span></p>
</div>
</div>
<div class="what-is-this-notice-about">
<h2 class="privacy__question" id="what-is-this-notice-about">What is this notice about?</h2>
<div class="privacy__answer hidden-closed" >
<p>This privacy notice explains how Ekō uses information that we collect about people when they engage with us or when we want to engage with them.  We are committed to protecting your privacy online. The Ekō staff are members, too, and we treat your privacy as we do our own.  At all times we aim to respect any personal information you share with us and keep it safe.  
We may modify this policy from time to time so we encourage you to check this page intermittently and when revisiting our website (the latest changes will be set out within the <span class="link_style2" onclick="internalNav('#changes-to-this-privacy-notice', '#general-provisions')">‘Changes to this privacy notice’</span></p>
</div>
</div>

<div class="do-you-collect-personal-information-about-me">
<h2 class="privacy__question" id="do-you-collect-personal-information-about-me">Do you collect personal information about me?</h2>

<div class="privacy__answer hidden-closed" >
<p>Yes, we do – and we comply with the law when we do so. We use the information in ways that you have agreed to or are lawful - to populate petitions with signatories’ details, provide you with relevant communications from us, fundraise and to check that our campaigns and activities are effective. You can see a fuller list of the ways in which we collect your personal information and why we do so in the section headed <span class="link_style2" onclick="internalNav('#where-do-you-get-information-about-me-from')">‘Where do you get information about me from?’</span> and <span class="link_style2" onclick="internalNav('#how-and-why-will-you-use-my-information')">‘How and why will you use my information?’</span> sections of this notice.</p>
</div>
</div>
<div class="where-do-you-get-information-about-me-from">
<h2 class="privacy__question" id="where-do-you-get-information-about-me-from">Where do you get information about me from?</h2>

<div class="privacy__answer hidden-closed" >
<p>When people engage with us we refer to that as an ‘action’. So, for example, if someone signs a petition on our website, makes a donation to us or writes a letter, they would be taking an ‘action’ with us. When you take an action with us, we may ask you to give us some information about you or we might obtain some information about you based on the action that you took, see more details below.</p>

<p>We collect personal information when you give it to us directly, such as when you take the following actions:</p>
<ul>
<li>When you sign a petition on our website (currently located at eko.org and actions.eko.org – the “Website”);</li>
<li>When you register to become a supporter on our Website;</li>
<li>When you make a donation to us;</li>
<li>When you contact us via phone, email or by messaging us on our social media channels or use a contact form on our Website;</li> 
<li>When you share our content and petitions (e.g. through email, social media or other similar means);</li>
<li>When you sign a petition hosted by a third party and opt-in to share your details with us;</li> 
<li>When you write and send an email, a tweet or a phone call to a campaign target through our system;</li>
<li>When you fill out a survey we send to you about your experience with us or to find out what you think about social issues</li>
</ul>

<p>We might also collect personal information about you indirectly, such as when:</p>
<ul>
<li> You follow and/or interact with our social media channels;</li> 
<li> You click on a Ekō link (for example, if one of your friends has shared a Ekō petition on social media or via email and you click on your friend’s post)</li>
<li> Third parties share information with us – for example, organisations we work with, search information and payment providers</li>
<li> The information is available publicly - your personal information may be available to us from external publicly available sources. For example, depending on your privacy settings for social media services, we may access information from those accounts or services (for example when you choose to interact with us through platforms such as Facebook, LinkedIn or Twitter).</li>
<li> You visit our Website.  We automatically collect the following types of your personal information when you visit the Website:</li>
  <li>Technical information, including the internet protocol (IP) address used to connect your device to the internet, browser type and version, time zone setting and operating systems and platforms.</li>
  <li>Information about your visit to the websites, including the uniform resource locator (URL) clickstream to, through and from the website (including date and time), services you viewed or searched for, page response times, download errors, length of visits to certain pages, referral sources, page interaction information (such as scrolling and clicks) and methods used to browse away from the page.</li> 
  <li>We also collect and use your personal information by using cookies on our Website – please see our <span class="link_style2" onclick="internalNav('#cookie-notice', '#how-and-why-will-you-use-my-information')">Cookie notice</span></li>
</ul>
<p>In general, we may combine your personal information from these different sources for the purposes set out in this Policy.</p>
</div>
</div>

<div class="what-information-do-you-collect-store-and-otherwise-use-about-me">
<h2 class="privacy__question" id="what-information-do-you-collect-store-and-otherwise-use-about-me">What information do you collect, store and otherwise use about me?</h2> 

<div class="privacy__answer hidden-closed" >
<p>We might collect, store and otherwise use the following kinds of personal information about you:</p>
<ul>
<li>Your name and contact information, including your physical address, email address and telephone number (when you provide such information to us)</li>
<li>The petitions you have signed, including any comments submitted in support of such petitions</li>
<li>Any volunteered specific information you have provided when signing a petition – for example, sometimes we will ask if you are a customer or employee of a business that a petition is targeting</li>
<li>Any volunteered information when you fill out a survey we send you, which might ask for your experiences with us or your views on certain social and political issues</li>
<li>Your financial information when you provide it; please see section 6(f) for how banking information is processed</li>
<li>The actions you have taken with us, such as attending events, sending emails in support of a petition or cause and/or making a donation to us;</li> 
<li>The amount and frequency of any donations made to us;</li> 
<li>Information you have volunteered when you contact us via phone, email, by messaging us on our social media channels or using contact form on our website</li>
<li>The fact that you are linked to another supporter – for example, if a supporter signs a petition based on a petition you have shared</li> 
<li>The types of issues we think you are interested in based on the actions you have taken and the issues you have engaged with whilst engaging with us – for example, we might flag that you are interested in climate change or tax</li>
<li>The language you receive content in</li> 
<li>Your content subscription preferences</li>
<li>Web browser and browsing data: browser type, device type, IP address, referral source, the fact that you are visiting our Website or clicking on our content, length of website visit, number of page views</li>
<li>Social media profile information where it is available to us</li>
<li>Any other type of information shared with / obtained by us as listed in the <span class="link-style" onclick="internalNav('#where-do-you-get-information-about-me-from')">‘where do you get information about me from’</span> section of this notice.</li> 
</ul>
<p class="sub-heading" >Special categories of personal information</p>

<p>Under EU Data Protection law (the GDPR), the law recognises some types of personal information as being sensitive and requiring additional protection. These are known as ‘special categories’ of personal information and include information about health, ethnicity, and political opinions.</p> 

<p>We do not seek to collect, store or otherwise process your sensitive personal information (i.e. about race or ethnicity, political opinions, religious or philosophical beliefs, etc.). When we do, it will only be in circumstances where there is a valid reason to collect/use that information and we are allowed to do so under the law. The most likely example of a situation where we might collect special category information about you is if you sign a petition that expresses a political opinion or if you volunteer such information when communicating with us.</p> 

<p>Sometimes, our supporters will email us or otherwise get in touch with us and provide special categories of personal information, even when we haven’t asked them to. For example, a supporter might send us an email explaining why they are no longer able to make a donation which contains sensitive information about their personal circumstances. We urge supporters not to volunteer sensitive private information to us in this way.</p>

<p>If and when we receive this type of information, we aim to delete them from our systems (though note that they may be retained, or certain data about the message retained, in server logs and in the messaging/mail service provider’s own systems (such as Google Mail) in accordance with their own procedures).</p> 
</div>
</div>

<div class="how-and-why-will-you-use-my-information">
<h2 class="privacy__question" id="how-and-why-will-you-use-my-information">How and why will you use my information?</h2> 
<div class="privacy__answer hidden-closed" >
<h3 class="sub-heading" id="overview-of-how-we-use-your-information">6.1 Overview of how we use your information </h3>

We will use your personal information, for the purposes set out in this notice. In particular, we may use your personal information:
<ul>
 <li>To facilitate your support and signing of a petition or survey and put the petition/survey to the relevant recipient</li>
<li>To verify that you appear to be a valid petition signatory</li>
<li>To provide you with services or information you have requested, such as facilitating your support of a petition on our Website;</li>
<li>To provide you with content, where possible, in the language that you wish to receive content in;</li>
<li>To enable, solicit and administer your participation in our programs, events fundraising drives and activities </li>
<li>To find out whether you might be willing to assist with our work, campaigns and activities, such as if you are a shareholder of a company that we are considering targeting using shareholder activism techniques or if your role or network might assist our work, campaigns and fundraising;</li>
<li>To process a donation you make to us or refund a donation you make to us;</li>
<li>To process your request to register as a supporter of Ekō;</li> 
<li>To provide you with communications about our work, campaigns, services, activities, and fundraising drives (where you have provided your consent to receive such information) that we think will be of interest to you;</li> 
<li>To analyse, measure and report on the effectiveness of our work, campaigns, services, fundraising and information, including our Website and social media channels;</li> 
<li>To operate our Website, keep the Website safe and secure and ensure that content is presented in the most effective manner for you and your device</li> 
<li>To audit and administer our systems and databases;</li>
<li>To satisfy legal obligations which are binding on us, for example in relation to regulatory, government and/or law enforcement bodies with whom we may work (for example requirements relating to the payment of tax or anti-money laundering);</li>
<li>For the prevention of fraud or misuse of our services; and/or</li>
<li>For the establishment, defence and/or enforcement of legal claims.</li>
<li>To highlight your participation in a campaign by displaying your first name and first initial of your last name, country, and the campaign you took action on in our live activity feeds.<li>
</ul>
<h3 class="sub-heading" id="further-detail-on-some-of-our-practices">6.2 Further detail on some of our practices</h3>


<p>Below we have set out further detail on some of the ways in which we might use your personal information.  Privacy is important, and as a movement we have worked on campaigns in support of data privacy. We strongly believe that individuals should know what companies are doing with information about them. We know that people are often concerned about use of their data behind the scenes, often using technology that doesn’t seem transparent or easy to understand. As such, we have set out below some further detail on some of the things we do that might not be expected or easily understood.</p> 

<p class="sub-heading">(a) Donor programme</p>

<p>So as to build our fundraising to expand the Ekō movement, achieve our aims and ideals, and make sure that we are recognising your support appropriately, we may flag some of our donors who have donated above a specified threshold on our database as being key donors. Those key donors may receive special communications from us via electronic messaging or telephone (provided we can lawfully contact them, for instance where they have provided consent to receiving campaign and fundraising communications from us), to thank them personally for their support, and to explore how to strengthen the relationship between the individual and Ekō.</p>   

<p class="sub-heading">(b) Understanding our supporters</p>

<p>Ekō uses personal information about its supporters and those who engage with us to create a record of your interests and preferences so that we can communicate with you in a relevant way, make our work more effective and to help our fundraising. Sometimes this might involve making an assumption about you based on information we have collected in order to send you the most relevant information – for example, if you have  signed some emails urging  companies to reduce their use of plastic and some emails about protecting the bees, then we might mark you down in our database as someone who is particularly interested in environmental issues. Digital marketing and advertising</p> 
π
<p>We engage in some limited digital marketing and advertising practices to expand the reach of the Ekō movement and to help us to realise our aims and ideals. Most of our advertising does not rely on us providing your personal information to a third party – for example, we sometimes place adverts in search results through Google advertising or we might place banner adverts on relevant third party websites. In some cases, those third-party vendors may decide which adverts to show you based on your prior visits to our Website based on information they’ve independently collected. At no time will you be personally identified to those third-party vendors, nor will any of the personal information you share with us be shared with those third-party vendors. This relies on us using third party cookies when you use our Website, which you can disable by using your browser settings.</p>  

<p>We also use social media advertising, including Facebook and Twitter. Sometimes we might use and disclose some of your personal information to use Facebook’s ‘Custom Audience’ tool, which enables us to communicate with and display adverts to both existing and prospective members. We do this in a secure and encrypted way and do not engage in any of the practices known as “microtargeting”.</p>

<p>Please see the <a href="https://www.facebook.com/ads/manage/customaudiences/tos.php" target="_blank">Customer Audiences Terms of Service</a>.</p>

<p class="sub-heading">(c) Communications about campaigns</p>  

<p>We may use your contact details to provide you with information about our work, campaigns, activities, events, services and fundraising drives which we consider may be of interest to you (for example, updates about fundraising drives or petitions you have signed, or requests to sign and information about new petitions).</p> 

<p>Where we do this via email, social media direct messaging if your profile is private, SMS (text) or similar telephone instant messaging service or by telephone (if you are registered with the Telephone Preference Service), we will not do so without your prior consent. We ask for your consent when we first make contact with you. Where you have provided us with your consent previously but do not wish to be contacted by us about our campaigns and activities in the future, then you can opt-out at any time. Please see the <span class="link_style2" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">‘How can I stop getting emails and other communications from you?’</span> section of this notice.</p> 

<p class="sub-heading">(d) Processing donations and credit card information</p> 

<p>When you use our secure online donation function you will be directed to a specialist payment services provider who will receive your financial information to process the transaction. We will provide your personal information to the payment services provider only to the extent necessary for the purpose of processing your donation. When you contribute to Ekō online, we collect credit card information from you. That information is used solely for processing your contribution; it is not maintained by Ekō; and is never disclosed to anyone, for any other purpose other than for processing your contribution. When contributing through an express donation, your card details are stored by our payment provider, Braintree Payments (owned by Paypal), which has in place strong security safeguards and handles billions of dollars in payments every year.</p>

<p class="sub-heading" id="cookie-notice">(e) Cookies and Data Tracking</p>

<p>In order to better serve our supporters, we use cookies and periodically analyse web logs. Some cookies are used to prepopulate forms for you so that on repeat visits to the Website you don’t need to re-enter certain information. You can set your browser to disable cookies, but then you would not have the advantage of having certain sections of forms being prepopulated for you, and you may not be able to access certain parts of the Website. We may also use third-party services such as Google Analytics. This helps us understand traffic patterns and know if there are problems with our Website. We may also use embedded images in emails to track open rates for our mailings, so that we can tell which mailings appeal most to Ekō supporters.</p>

<p>The information generated by a cookie about your use of our Website (including your IP address) is transmitted to and stored by Google on servers in the United States. Google may also transfer this information to third parties where Google is legally required, or where such third parties process the information on Google’s behalf. Google can combine your IP address with any other data held by Google. By using this Website, you consent to the processing of data by Google in the manner and for the purposes set out above.</p>

<p>URLs contained in emails may contain an ID that enables us to correctly identify the person who takes an action using a web page. We use these URLs to simplify the process of signing petitions and filling out surveys. We may occasionally present a shortened URL that references a longer URL which you can see in the browser’s address bar when you access the page.</p>
</div>
</div>

<div class="what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information">
<h2 class="privacy__question" id="what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information">What is the legal basis for you collecting and using my personal information?</h2>

<div class="privacy__answer hidden-closed" >
<p>EU Data Protection law sets out a number of ‘bases’ or grounds which controllers (in this case Ekō) can rely on to lawfully collect and use personal information. The grounds that we rely on to use your personal information are as follows:</p>  

<p>(a) Where you have provided your consent for us to use your personal information in a certain way (for example, we will ask for your consent to use your personal information to send you promotional or fundraising material by email).</p> 

<p>(b) Where necessary so that we can comply with a legal obligation to which we are subject (for example, where we are obliged to share your personal information with regulatory bodies which govern our work and services).</p>

<p>(c) Where it is in your/someone else’s vital interests (for example, if during the course of communication with you, we became aware that there was a medical emergency)</p> 

<p>(d) Where there is a “legitimate interest” in us doing so (see below)</p>

<p>EU Data Protection Law allows us to collect and use your personal information if it is reasonably necessary to achieve our or others’ ‘legitimate interests’, i.e. where there is a benefit or need for us or others to do something with your information. We can only use your information for our or others’ legitimate interests when our use is fair, balanced and does not unduly impact your rights.</p> 

<p>When we rely on this ground for collecting/using your personal information, our legitimate interest is to work towards achieving the aims and ideals of Ekō as a non-profit movement fighting for people over profits, primarily by means of running a digital petition based platform.</p> 

<p>When we process your personal information to achieve such legitimate interests, we consider and balance any potential impact on you, and your rights under data protection laws. We’re committed to protecting your privacy.</p> 
</div>
</div>

<div class="what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them">
<h2 class="privacy__question" id="what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them">What are my rights with regard to information you use about me and how do I exercise them?</h2>

<div class="privacy__answer hidden-closed" >
<p>Where we rely on your consent to use your personal information, you have the right to withdraw that consent at any time. This includes the right to ask us to stop using your personal information for campaigns or fundraising purposes or to unsubscribe from our email list at any time (see the <span class="link_style2" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">‘How can I stop getting emails and other communications from you?’</span> section below).</p>

<p>You also have the following rights:</p>
<ul>
<li>Right of access: you can write to us to ask for confirmation of what personal information we hold on you and to request a copy of that personal information. Provided we are satisfied that you are entitled to see the personal information requested and we have successfully confirmed your identity, we will provide you with your personal information subject to any exemptions that apply</li>
<li>Right of erasure: at your request we will delete your personal information from our records as far as we are required to do so.</li>
<li>Right of rectification: if you believe our records of your personal information are inaccurate, you have the right to ask for those records to be updated. You can also ask us to check the personal information we hold about you if you are unsure whether it is accurate / up to date.</li>
<li>Right to restrict processing: you have the right to ask for processing of your personal information to be restricted in some circumstances such as if there is disagreement about its accuracy or legitimate usage – for example, you might tell us that you think we hold some information about you that is inaccurate. Whilst we take steps to check this and ensure it is accurate, you have the right to ask us not to use your personal information.</li> 
<li>Right to object: you have the right to object to processing where we are (i) processing your personal information on the basis of the legitimate interests ground, (ii) using your personal information for direct marketing or (iii) using your information for statistical purposes.</li> 
<li>Right to data portability: to the extent required by the GDPR, where we are processing your personal information (that you have provided to us) either (i) by relying on your consent or (ii) because such processing is necessary for the performance of a contract to which you are party or to take steps at your request prior to entering into a contract, and in either case we are processing using automated means (i.e. with no human involvement), you may ask us to provide the personal information to you – or another service provider – in a machine-readable format</li>
<li>Right to define guidelines regarding the processing of your personal data after your death: You may provide us with instructions regarding the manner in which we may continue to store, erase and share your information after your death, and where applicable, the person you have designated to exercise these rights after your death.</li>
</ul>

<p>To exercise any of these rights, please contact us via the details contained in the <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">‘How do I contact you’</span> section below .</p>

<p>Please note that some of these rights only apply in limited circumstances. For more information, we suggest that you contact us. We may ask you for additional information to confirm your identity and for security purposes, before disclosing personal information requested to you.</p>

<p>You are further entitled to make a complaint about us or the way we have processed your personal information to the data protection supervisory authority in your home country. You can find out the identity of the authority in your country and its contact details <a href="https://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080" target="_blank">here</a>.</p>
</div>
</div>

<div class="how-can-id-stop-getting-emails-and-other-communications-from-you">
<h2 class="privacy__question" id="how-can-id-stop-getting-emails-and-other-communications-from-you">How can I stop getting emails and other communications from you?</h2>

<div class="privacy__answer hidden-closed" >
<p>We are sorry if you no longer wish to receive communications from us – if you would like to discuss this you can contact us at info@eko.org or by using any of the details set out in the ‘How do I contact you’ section below. 
If you wish to opt-out of communications from us about our campaigns, fundraising and activities where you have previously provided us with your consent then you can do so at any time via the following methods:</p> 
<ul>
<li>Clicking the unsubscribe link at the bottom of any campaigning/fundraising email we have sent to you</li>
<li>Going to <a href="https://eko.org/unsubscribe">this link</a> which will unsubscribe you from our mailing list</li>
</ul>
</div>
</div>

<div class="is-my-information-secure">
<h2 class="privacy__question" id="is-my-information-secure">Is my information secure?</h2> 

<div class="privacy__answer hidden-closed" >
<p>We are committed to keeping your personal information safe and secure and we have appropriate and proportionate security policies and organisational and technical measures in place to help protect your information. For example, your personal information is only accessible by appropriately trained staff, volunteers and contractors, and stored on secure servers with features enacted to prevent unauthorised access.</p>

<p>Because we are a US organisation, the personal information that we collect from you will be stored at a destination outside the European Economic Area (EEA). Please see the <span class="link_style2" onclick="internalNav('#will-you-send-my-personal-information-abroad')">‘Will you send my personal information abroad?’</span> section of this notice for further detail.</p>
</div>
</div>

<div class="will-you-share-my-information">
<h2 class="privacy__question" id="will-you-share-my-information">Will you share my information?</h2> 

<div class="privacy__answer hidden-closed" >
<p>We do not share, sell or rent your personal information to third parties for marketing purposes. We may disclose your personal information to selected third parties in order to achieve the purposes set out in this Notice. Most importantly, when you sign a petition on our Website we may share your name, city and country, but none of your contact details, with the petition target when delivering the petition. Often, these will be organisations and individuals we contract to be our ‘processors’, who must act only on our instructions and to achieve the purposes set out in this policy and who will not use your personal information for their own purposes. For example, sometimes we contract with consultants to help us run our campaigns and a third party provider administers and provides our supporter database. We require our third party providers to comply with the highest standards of data privacy, including GDPR.</p>

<p>Non-exhaustively, those parties may include:</p>
<ul>
<li>Partner organisations (where you have consented to your personal information being shared with that partner organisation);</li> 
<li>Individuals who we contract to assists Ekō operations, such as a consultant membership administrator or consultant copywriter, etc;</li> 
<li>Suppliers and sub-contractors for the performance of any contract we enter into with them, for example IT service providers such as website hosts, database providers, server hosts or cloud storage providers;</li>
<li>Financial companies such as Paypal and GoCardless that collect or process donations on our behalf;</li>
<li>Social media platforms</li>
<li>We will publish your first name and initial of your surname only on our website when you take an action on our Website such as signing a petition</li> 
<li>When you sign a petition or complete a survey on our Website, we consider your name, city or county, state/province and comments as public information. For example, we may provide compilations of petitions, with your comments, to the public official, company or person to whom the petition is addressed, and/or to the press and/or public online to facilitate your expression of support for the cause/petition and to ensure that the petition’s signatories are verifiable. We will not, however, make your email address publicly available, unless you explicitly consent to us doing so in the use of one of our campaign tools. Ekō is not responsible for further use of your personal information by the recipient of a petition.</li>
</ul>
<p>We may need to disclose your personal information upon request to regulatory and government bodies as well as law enforcement agencies. Please note that Ekō will challenge any attempt to gain access to the information you give us by government agencies or private organisations. In the unlikely event that we are required by law to disclose any of your information we will do our best to contact you first so that you may have the opportunity to object to the disclosure. We will also independently object to any requests for access to information about users of our Site that we believe to be improper.</p>

<p>We may also merge or partner with other organisations and, in so doing, acquire or transfer personal information but your personal information would continue to be used for the purposes set out above.</p>
</div>
</div>

<div class="will-you-send-my-personal-information-abroad">
<h2 class="privacy__question" id="will-you-send-my-personal-information-abroad">Will you send my personal information abroad?</h2>

<div class="privacy__answer hidden-closed" >
<p>As stated above, SoU is a US organisation with a network of staff and supporters across the world. We have some offices within the EU but these are not separate companies. As such, if you are in the EU and you take an action with us, your personal information is going to be transmitted from your device in the EU to our infrastructure in the US for the purpose of supporting our network and supporters around the world. Your personal information may be shared with, or accessed by, us, our employees and consultants globally, and other service providers in the United States.  Some countries outside of the EEA (including the United States) have a lower standard of protection for personal information, including lower security requirements and fewer rights for individuals. We work hard to implement safeguards and processes equivalent to the protections within the EU to protect your data, as set out in this privacy notice, and we require all of the people and companies who work with us to process personal information to comply with GDPR, including US companies. You may obtain further information concerning the transfer of your personal information by contacting us via the <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">’How do I contact you?’</span> section below.</p>
</div>
</div>

<div class="how-long-will-you-keep-my-personal-information">
<h2 class="privacy__question" id="how-long-will-you-keep-my-personal-information">How long will you keep my personal information?</h2> 

<div class="privacy__answer hidden-closed" >
<p>In general, unless still required in connection with the purpose(s) for which it was collected and/or processed, we remove your personal information from our records no more than six years after the date it was collected. However, if before that date (i) your personal information is no longer required in connection with such purpose(s), (ii) we are no longer lawfully entitled to process it or (iii) you validly exercise your right of erasure, we will remove it from our records at the relevant time.</p>
<p>Please note that, if you request to receive no further contact from us, we will keep some basic information about you on our do not contact list in order to comply with your request and avoid sending you unwanted materials in the future.</p>
</div>
</div>

<div class="do-you-collect-personal-information-about-children">
<h2 class="privacy__question" id="do-you-collect-personal-information-about-children">Do you collect personal information about children?</h2> 

<div class="privacy__answer hidden-closed" >
<p>We do not knowingly collect children’s personal information, by which we refer to individuals of under sixteen years of age. It is a condition of supporting Ekō that you be sixteen years old or over and we ask that prospective supporters certify that they meet this requirement when giving us their personal information when signing a petition, making a donation or registering as a supporter. If we are notified that we inadvertently hold personal information about a child, we will remove that information.</p> 
</div>
</div>

<div class="general-provisions">
<h2 class="privacy__question" id="general-provisions">General provisions</h2> 
<div class="privacy__answer hidden-closed" >
<h3 class="sub-heading" id="links-and-third-parties">15.1 Links and third parties</h3> 

<p>We link our website directly to other sites. This notice does not cover external websites and we are not responsible for the privacy practices or content of those sites. We encourage you to read the privacy notices of any external websites you visit via links on our website.</p>

<h3 class="sub-heading" id="changes-to-this-privacy-notice">15.2 Changes to this privacy notice</h3> 

<p>We may update this notice from time to time so please check back periodically. We will notify you of significant changes, such as the implementation of the GDPR, by contacting you directly where reasonably possible for us to do so and by placing a notice on our website. This Notice was last updated on May 21st, 2018.</p>
</div>
</div>

<div class="user-contributions">
<h2 class="privacy__question" id="user-contributions">User contributions</h2> 
<div class="privacy__answer hidden-closed" >

<p>In order to help you make your voice heard and share ideas with others, this site may contain tools that allow you to post your original contributions on this site or elsewhere.<br />These tools may include online petitions, announcements, letter-writing tools, message boards, chat rooms, personal web pages or profiles, forums, bulletin boards, and other interactive features (“<strong>Interactive Services</strong>”) that allow you to post, submit, publish, display, or transmit to other users or other members of the public your content or materials (“<strong>User Contributions</strong>”).<br />We consider any User Contribution you post to the site to be non-confidential. The content you post belongs to you, and you grant us the right to display, reuse, and share it to further the mission of Ekō. In legal terms, by posting a User Contribution on the site, you confirm and warrant that you own or control all rights to that content and grant Ekō and its affiliates a worldwide, non-exclusive, royalty-free license to use, copy, reproduce, modify, adapt, publish, transmit, display, and distribute your content using any existing or future developed distribution methods or media.<br /><strong>Commitment to accuracy.</strong> Ekō requires you to commit to accuracy in your independent User Contributions. You understand and acknowledge that Ekō is not responsible for any User Contributions you submit or contribute, and you, not Ekō, have full responsibility for such content, including its legality, reliability, accuracy, and appropriateness.
</p>

<h3 class="sub-heading" id="content-standards">16.1 Content Standards</h3> 

<p>You may use this website only for lawful purposes and in accordance with these Terms of Use. You agree not to use this site: <br />
<ul>
  <li>Contain any material which is false, defamatory, obscene, indecent, abusive, offensive, harassing, violent, hateful, inflammatory, endangers Ekō’s broader mission, or is otherwise objectionable.</li>
  <li>Promote sexually explicit or pornographic material, violence, or discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
  <li>Infringe any patent, trademark, trade secret, copyright or other intellectual property rights of any other person.</li>
  <li>Violate the legal rights (including the rights of publicity and privacy) of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may be in conflict with these Terms of Use and our Privacy Policy.</li>
  <li>Be likely to deceive or mislead any person.</li>
  <li>Promote any illegal activity, or advocate, promote or assist any unlawful act.</li>
  <li>Be used to impersonate any person, or to misrepresent your identity or affiliation with any person or organization.</li>
  <li>Involve commercial activities or sales, such as contests, sweepstakes and other sales promotions, barter or advertising.</li>
  <li>Give the impression that they emanate from us or any other person or entity, if this is not the case.</li>
</ul>
</p>

<h3 class="sub-heading" id="prohibited-uses">16.2 Prohibited Uses</h3> 

<p>You may use this website only for lawful purposes and in accordance with these Terms of Use. You agree not to use this site:
<ul>
  <li>In any way that violates any applicable national, regional, federal, state, local, and international law or regulation.</li>
  <li>For the purpose of exploiting, harming or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information or otherwise.</li>
  <li>To send, knowingly receive, upload, download, use or reuse any material which does not comply with the Content Standards set out in these Terms.</li>
  <li>To transmit, or procure the sending of, any advertising or promotional material, including any "junk mail," "chain letter," "spam," or any other similar solicitation.</li>
  <li>To impersonate or attempt to impersonate Ekō or an Ekō employee, another user, or person or entity (including, without limitation, the use of email addresses or screen names associated with any of the foregoing), or to register to use the site on behalf of any group or entity.</li>
  <li>To harvest or collect email addresses or other personally identifiable information of users from this site by electronic or other means for any purpose.</li>
  <li>To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of this site, or which, as determined by us, may harm Ekō or users of the site or expose them to liability.</li>
  <li>For any commercial purpose.</li>
</ul>
<p>Additionally, you agree not to:</p>
<ul>  
  <li>Use this website in any manner that could disable, overburden, damage, or impair the site or interfere with any other party's use of this website, including their ability to engage in real time activities through the site.</li>
  <li>Use any robot, spider or other automatic device, process or means to access the website for any purpose, including to monitor or copy any of the material on this site.</li>
  <li>Use any manual process to monitor or copy any of the material on this website or for any other unauthorized purpose without our prior written consent.</li>
  <li>Use any device, software or routine that interferes with the proper working of this website.</li>
  <li>Introduce any viruses, trojan horses, worms, logic bombs or other material which is malicious or technologically harmful.</li>
  <li>Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of this website, the server on which the this is stored, or any server, computer or database connected to this website.</li>
  <li>Attack this website via a denial-of-service attack or a distributed denial-of-service attack.</li>
  <li>Otherwise attempt to interfere with the proper working of this website.</li>
</ul>
</p>

<h3 class="sub-heading" id="user-contributions-not-responsible">16.3 We Are Not Responsible for User Contributions</h3> 

<p>We cannot review everything that is posted by users in advance, so any content and/or opinions uploaded, expressed or submitted to the site, and all User Contributions, including, articles, responses to questions, and other content, other than the content officially provided by Ekō, are solely the opinions and the responsibility of the person or entity submitting them and do not necessarily reflect the opinion of Ekō. <u>We are not responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of this website and you agree to bear full responsibility for the content you post to the site.</u> While we try to investigate all credible complaints about objectionable User Contributions, we cannot ensure individual responses or removal of such content.</p>

<h3 class="sub-heading" id="user-contributions-not-responsible">16.4 Enforcement of Terms</h3> 

<p>Because the purpose of this website is to serve the Ekō mission on behalf of the Ekō community, in order to ensure that it is used only for its intended purpose and that no use of the site endangers Ekō’s broader mission, Ekō has the right to:</p>
<ul>
  <li>Remove or refuse to post any User Contributions for any or no reason. This is a decision Ekō will strive to make fairly, but ultimately it is a decision that is solely up to Ekō to make. It will be our general practice, however, to consult with our members including through randomized polling to determine what user contributions our membership views as advancing our mission. At all points in this process we will welcome feedback from the community on how we make these decisions as it is the community’s ability to achieve our mission that we are here to serve. But in the end, Ekō has a legal obligation to ensure that all of our activities advance our mission and we therefore must reserve final judgment on upholding this requirement.</li>
  <li>Take any action with respect to any User Contribution that we deem necessary or appropriate in our sole discretion if we believe that such User Contribution violates the Terms of Use, including the Content Standards, infringes any intellectual property right or other right, threatens the personal safety of users of this website and the public or could create liability for Ekō.</li>
  <li>Disclose your identity to any third party who claims that material posted by you violates their rights, including their intellectual property rights or their right to privacy. We will not do this lightly, but if we think it has the potential to facilitate a fair and just resolution of the dispute, or will protect Ekō from liability for which we are not responsible, we may take this step.</li>
  <li>Take appropriate legal action, including without limitation, referral to law enforcement, for any illegal or unauthorized use of this website when we determine law enforcement is the proper and appropriate means for addressing the offending use.</li>
  <li>Terminate your access to all or part of this website for any violation of these Terms of Use.</li>
</ul>
<p>You waive and hold harmless Ekō from any claims resulting from any action taken by Ekō during or as a result of its investigations and from any actions taken as a consequence of investigations by either Ekō or law enforcement authorities.</p>

<h3 class="sub-heading" id="links-other-sites">16.5 Links to other Sites</h3> 

<p>As is typical online, this site and user posts may contain hyperlinks to other sites. If there are other websites and resources linked to on this site, either by Ekō or by you, these links are provided only for the convenience of our users. We have no control over the contents of those websites or resources, and therefore cannot accept responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third party websites linked to this site, you do so entirely at your own risk and subject to the privacy policies and terms and conditions of use for such websites.</p>

<h3 class="sub-heading" id="copyright-act">16.6 Copyright Infringement and the Digital Millennium Copyright Act</h3> 

<p>If you believe that a User Contribution violates your copyright, you may notify us of your suspected copyright infringement. In accordance with the Digital Millennium Copyright Act (DMCA) and other applicable law, it is the policy of Ekō to terminate, in appropriate circumstances, the user accounts of users who are deemed to be repeat infringers.
All notices of copyright infringement claims should go to: https://www.eko.org/
</p>

<h3 class="sub-heading" id="no-guarantee-of-service">16.7 No Guarantee of Service</h3> 

<p>Although we hope to make this site available at all times in the future, there may be times when we need to disable the site either temporarily or permanently. Please understand that we also reserve the right to withdraw or amend this website, and any service or material we provide on it. We may do this without notice at our sole discretion. Keep this in mind as Ekō will not be liable if all or any part of the website is unavailable at any time for any period of time. Also, from time to time, we may restrict access to some parts of the website, or the entire website, to users, including those who have a profile page.</p>

<h3 class="sub-heading" id="disclaimer-warranties">16.8 Disclaimer of Warranties</h3> 

<p>You understand that we cannot and do not guarantee or warrant that files available for downloading from the internet or the website will be free of viruses or other destructive code. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and accuracy of data input and output, and for maintaining a means external to our site for any reconstruction of any lost data.<br />
We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the website or any services or items obtained through the website or to your downloading of any material posted on it, or on any website linked to it.<br />
Your use of the website, its content and any services or items obtained through the website is at your own risk. The website, its content and any services or items obtained through the website are provided on an "as is" and "as available" basis, without any warranties of any kind, either express or implied. Neither Ekō nor any person associated with Ekō makes any warranty or representation with respect to the completeness, security, reliability, quality, accuracy or availability of the website. Without limiting the foregoing, neither Ekō nor anyone associated with Ekō represents or warrants that the website, its content or any services or items obtained through the website will be accurate, reliable, error-free or uninterrupted, that defects will be corrected, that our site or the server that makes it available are free of viruses or other harmful components or that the website or any services or items obtained through the website will otherwise meet your needs or expectations.<br />
Ekō hereby disclaims all warranties of any kind, either express or implied, statutory or otherwise, including but not limited to any warranties of merchantability, non-infringement and fitness for particular purpose.<br />
The foregoing does not affect any warranties which cannot be excluded or limited under applicable law.
</p>

<h3 class="sub-heading" id="limitation-liability">16.9 Limitation of Liability</h3> 

<p>In no event will Ekō, its affiliates or their licensors, service providers, employees, agents, officers or directors be liable for damages of any kind, under any legal theory, arising out of or in connection with your use, or inability to use, the website, any websites linked to it, any content on the website or such other websites or any services or items obtained through the website or such other websites, including any direct, indirect, special, incidental, consequential or punitive damages, including but not limited to, personal injury, pain and suffering, emotional distress, loss of revenue, loss of profits, loss of business or anticipated savings, loss of use, loss of goodwill, loss of data, and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.
The foregoing does not affect any liability which cannot be excluded or limited under applicable law.
</p>

<h3 class="sub-heading" id="Indemnification">16.10 Indemnification</h3> 

<p>Should there be a problem as a result of your use of the website, we cannot be responsible for that. By agreeing to these terms, you agree to be responsible for the consequences flowing from your use of the site. That means that you agree to defend, indemnify and hold harmless Ekō, its affiliates and licensors and their respective officers, directors, employees, contractors, agents, licensors and suppliers from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) resulting from your violation of these Terms of Use or your use of the website, including, without limitation, any use of the website's content, services and products other than as expressly authorized in these Terms of Use or your use of any information obtained from the website.</p>

<h3 class="sub-heading" id="waiver-severability">16.11 Waiver and Severability</h3> 

<p>No waiver of these Terms of Use by Ekō shall be deemed a further or continuing waiver of such term or condition or any other term or condition, and any failure of Ekō to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision.<br />
If any provision of these Terms of Use is held by a court of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect.
</p>

<br />
<p> Because the Ekō Community Petitions website is paid for by the members of the Ekō community, our standards of use reflect our community’s values. This includes, but is not limited to any campaigns or other activity that:
<ul>
  <li>is inconsistent with the goals, objectives, philosophies, and/or purpose of Ekō and/or the majority of its members</li>
  <li>advocates hate, violence, abuse, threats, or harm against any group or individual</li>
  <li>harasses or encourage others to harass any group or individual</li>
  <li>promotes racism, bigotry, misogyny, hatred, or physical harm of any kind</li>
  <li>Contributes to the spread of disinformation</li>
  <li>Fails to recognise or promote the rights of and central role of Indigenous Peoples in our communities, especially with regard to land rights and community self-determination</li>
  <li>Violates existing rights, laws or obligations under local, national or international law</li>
</ul>
The terms and information contained in this statement may change at any time and without notice.
</p>

</div>
</div>

<div class="how-do-i-contact-you">
<h2 class="privacy__question" id="how-do-i-contact-you">How do I contact you?</h2> 
<div class="privacy__answer hidden-closed" >
<p>Our EU Representative’s details are set out at the <span class="link_style2" onclick="internalNav('#who-we-are')">start of this notice</span>. You can also contact us via any of the following methods:</p>

<p>Email:  privacy@eko.org</p>

<p>Phone: +31 70 2500292</p>

<p>Mail: 
Ekō
Keulsepoort 2
Unit #400
5911 BZ Venlo
Netherlands</p>
</div>
</div>
</div>
<%= javascript_include_tag('../../javascripts/privacy_policy.js') %>

