---
title: "روح التضامن"
---
<div class="page-container">
  <div class="page-section__sub-heading pt-0">ثمة عملٌ علينا القيام به</div>

  <div class="page-section__details">
<span class="page-section__show-bolder"> تشهد بلداننا تحوّلاً </span>لم أكن أعتقد أنني سأعايشه في حياتي. فمقتل جورج فلويد الذي تبع مقتل بريونا تايلر ومقتل توني ماكداد من قبل، في خضمّ جائحةٍ تقضي على أصحاب البشرة البنية والسوداء بنسبة مضاعفةٍ عن أصحاب البشرة البيضاء، بيّن بشكلٍ صارخٍ إلى أيّ حدّ يؤثّر نظامنا غير العادل في جميع جوانب حياتنا.
</div>

  <div class="page-section__details">
بصفتي امرأة ذات بشرةٍ بيضاء وبصفتي المديرة التنفيذية الجديدة للمنظمة، قرّرت القيام بعملٍ جديّ وصعب، يتمثّل في: مراجعتي الذاتية لأيّ فشلٍ من قبلي في التواطؤ مع الحركات المناهضة للعنصرية؛ ومراجعةٍ على مستوى المنظمة بمعيّة فريقنا الباسل والمقدام لتحديد مكامن العنصرية في سياساتنا وممارساتنا الداخلية وتغييرها؛ تلاهما تعهّدٌ بتسليط الضوء على نضال العاملين من غير البيض وتعميق أثره حيث أمكن. <span class="page-section__show-bolder"> هذه فرصةٌ أيضاً لتأكيد الالتزام بإطلاق حملاتٍ أساسية لمهمّتنا، أي تقديم البشر على الأرباح المادية، ولإطلاق التزامٍ إضافيّ بحملاتٍ ترمي إلى عالمٍ لا تتعرّض فيه المجتمعات المتعدّدة الأعراق للهجوم ويمكن للقيم الإنسانيّة أن تزدهر فيه.</span>
</div>

<div class="image-replica"><div class="image-replica__content">
لا يهمّ إلى أين وصل كلّ منا في رحلته نحو القضاء على العنصرية والاضطهاد. 

فإذا كنت من المؤمنين بأن لكلّ فردٍ الحقّ في الحياة والتنفّس والسير على الطرقات، هذا الفضاء لك.
</div></div>

  <div class="page-section__details">
من ناحيتي أصبحت أكثر إصغاءً للآخرين. وأجريتُ نقاشاتٍ مع زملاء وأصدقاء طرحت خلالها أسئلةً وتعلّمت الكثير، كما قرأت وأعدت قراءة أعمال كثيرة، من بينها مثلاً كتاب إبرام كيندي المهمّ والمؤثّر <a href="https://www.ibramxkendi.com/how-to-be-an-antiracist" target="_blank">كيف تكون مناهضاً للعنصرية</a>. وبناء على ذلك بدأت بمنح الموارد التي يمكنني تأمينها للمنظّمات التي تعمل جاهدةً لتغيير النظام في الولايات المتحدة الأميركية من مثل تكتّل المجموعات الرئيسية التي عملت على <a href="https://act.sumofus.org/go/535983?t=2&akid=74677%2E11372245%2Ez2-D_T" target="_blank">صندوق الدعم العاجل للمتظاهرين من المتحوّلين السود</a>.
</div>

  <div class="page-section__details">
<span class="page-section__show-bolder">أحسب أن عملاً كهذا لا يمكن إنجازه إلا إذا عملنا كلّنا معاً. </span>نحن مجتمعٌ ضخم وعالميٌّ يدرك تماماً قدرته على تغيير العالم. لا يهمّ إلى أين وصل كلّ منا في رحلته نحو القضاء على العنصرية والاضطهاد. فإذا كنت من المؤمنين بأن لكلّ فردٍ الحقّ في الحياة والتنفّس والسير على الطرقات، هذا الفضاء لك. يجب ألا نكتفي بكلّ ما نقوم به من أجل دعم تحرّكنا من توقيع على العرائض ومشاركتها والتبرّع، بل علينا أن نعتبر أننا ما زلنا في بداية الطريق نحو التغيير الفعلي، وهو تغيير سيمتدّ إلى أبعد بكثير من التظاهرات وعناوين الصحف التي تغطّيها. 
</div>


  <div class="page-section__details">
مع الأمل والقوة والثبات،
<br style="clear:both"/>
<br style="clear:both"/>
<i>
إيمّا
<br style="clear:both"/>
<br style="clear:both"/>
المديرة التنفيذيّة لمنظمة Ekō
</i>
</div>

</div>