---
title: 'Kontakt'
---

<div class="contact-title"> E-mail </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">Für SumOfUs-Mitglieder</div>
        <div class="contact-content-value"><a href="mailto:hallo@sumofus.org">hallo@sumofus.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Unternehmen</div>
        <div class="contact-content-value"><a href="mailto:corporate@sumofus.org">corporate@sumofus.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Presse</div>
        <div class="contact-content-value"><a href="mailto:press@sumofus.org">press@sumofus.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Datenschutz</div>
        <div class="contact-content-value"><a href="mailto:privacy@sumofus.org">privacy@sumofus.org</a></div>
    </div>
</div>
<div class="contact-desc">Unser Team hat immer ein Auge auf die oben genannten E-mail-Konten. Damit Sie schnell eine Antwort erhalten können, stellen Sie bitte sicher, dass Sie Ihre Nachricht an die richtige Adresse senden.</div>

<div class="contact-title"> Telefon </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">US</div>
        <div class="contact-content-value">+1 347 826-4656</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Großbritannien</div>
        <div class="contact-content-value">+44 20 3286 4067</div>
    </div>
</div>
<div class="contact-desc">Derzeit sind wir nur in den USA und Großbritannien telefonisch erreichbar. Wenn Sie uns in einem anderen Land kontaktieren möchten, können Sie das gern per E-Mail tun.</div>

<div class="contact-title"> Adresse </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">New York</div>
        <div class="contact-content-value">SumOfUs, PO Box 1128, New York, NY 10156, United States</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">San Francisco</div>
        <div class="contact-content-value">SumOfUs, 2443 Fillmore St #380-1279, San Francisco, CA 94115, United States</div>
    </div>
</div>
<div class="contact-desc">Da wir unsere Arbeit online in unserem virtuellen Büro organisieren, können wir Post derzeit nur in New York und San Francisco erhalten.
</div>