$teal: #00c0cf;
$dark-teal: #058bb0;
$night-sky: #1c2333;
$navy: #04bbcc;
$dark-navy: #1f2533;
$orange: #f8492d;
$light-orange: lighten($orange, 33%);
$third-blue: #048bad;

// 3rd party colors
$facebook: #597ac7;
$twitter: #5dbeec;
$paypal: #1a9ddb;

// grays, named per http://davidwalsh.name/sass-color-variables-dont-suck
$chalk-gray: #ececec;
$light-gray: #f9f9f9;
$overcast-gray: #dbdbdb;
$dingy-gray: #cdcece;
$slate-gray: #b2b5ba;
$chalkboard: #414141;
$pitchblack: #172340;
