---
title: 'Contato'
---

<div class="contact-title"> E-mail </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">Membros da SumOfUs</div>
        <div class="contact-content-value"><a href="mailto:info@sumofus.org">info@sumofus.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Empresas</div>
        <div class="contact-content-value"><a href="mailto:corporate@sumofus.org">corporate@sumofus.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Imprensa</div>
        <div class="contact-content-value"><a href="mailto:press@sumofus.org">press@sumofus.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Assuntos relacionados à privacidade</div>
        <div class="contact-content-value"><a href="mailto:privacy@sumofus.org">privacy@sumofus.org</a></div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Disinfo</div>
        <div class="contact-content-value"><a href="mailto:disinfohub@sumofus.org">disinfohub@sumofus.org</a></div>
    </div>
</div>
<div class="contact-desc">Nós temos uma equipe dedicada que acessa com frequência as caixas postais dos e-mails listados acima. Para garantir que seu e-mail seja respondido rapidamente, certifique-se de enviá-lo ao canal correto.</div>

<div class="contact-title"> Telefone </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">EUA</div>
        <div class="contact-content-value">+1 347 826 4656</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">Reino Unido</div>
        <div class="contact-content-value">+44 20 3286 4067</div>
    </div>
</div>
<div class="contact-desc">Atualmente, temos telefone apenas nos EUA e no Reino Unido. Se estiver fora destes territórios, talvez seja melhor nos enviar um e-mail.</div>

<div class="contact-title"> Endereço postal </div>
<div class="contact-content">
    <div class="contact-content-item">
        <div class="contact-content-key">Nova York</div>
        <div class="contact-content-value">SumOfUs, PO Box 1128, New York, NY 10156, United States</div>
    </div>
    <div class="contact-content-item">
        <div class="contact-content-key">São Francisco</div>
        <div class="contact-content-value">SumOfUs, 2443 Fillmore St #380-1279, San Francisco, CA 94115, United States</div>
    </div>
</div>
<div class="contact-desc">A SumOfUs é um escritório virtual e, no momento, somente recebemos correspondência em Nova York e São Francisco.</div>
