---
# title: 'Ekō Coming Soon'
---
<div class="eko-main-content">
<h1 class="eko-header">Ekō</h1>
<p class="eko-intro-paragraph">Quando a SumOfUs foi fundada há 11 anos, éramos um pequeno grupo lutando para responsabilizar grandes empresas por seus impactos sociais e ambientais, majoritariamente com campanhas nos Estados Unidos. Mas ao longo dos anos, crescemos e nos tornamos uma comunidade poderosa de 20 milhões de pessoas, operando em 7 idiomas e causando impacto em todos os cantos do mundo. Nosso nome de trocadilho matemático nos serviu plenamente ao longo dos anos, mas não é mais correto, dada nossa evolução.
</p>
 <p class="eko-intro-paragraph">Em resumo, nós evoluímos para ser uma comunidade global de verdade e é hora de nos renovarmos para algo que represente tanto o poder quanto a diversidade do nosso trabalho.
</p>
<h2>Agora você faz parte da comunidade global da Ekō! Nela, vamos continuar a lutar para colocar as pessoas e o planeta sempre à frente do lucro.</h2>

<img class="eko-logo" src="https://s3.amazonaws.com/s3.sumofus.org/images/editor-2022-12-13-2.gif" />

<p class="eko-intro-paragraph">Obrigada por fazer parte desse processo de mudança e por seu compromisso contínuo em fazer crescer nosso impacto no mundo – representando o poder e a diversidade da nossa comunidade e do nosso trabalho. 
</p>
