---
title: 'Gratidão!'
---
<div class='opted_out_msg'>
Você optou, com sucesso, parar de receber nossos e-mails de arrecadação de fundos em <span id='current_year'>[YEAR]</span>. Agradecemos muito o seu apoio <span class='member_name'>[NAME]</span>. Caso tenha feito este pedido por engano, você poderá voltar a receber nossos e-mails de arrecadação de fundos clicando <a href="#" id="opt_in_link">Aqui</a>.
</div>

<div class="text-center m-t-40">
  <a href="https://eko.org/pt">Retornar à página principal da Ekō.</a>
</div>

<%= partial 'opted_out' %>