---
title: 'Receber e-mails de arrecadação de fundos em <span id="current_year">[YEAR]</span>'
---
<div class='opted_in_msg text-center'>
  Agradecemos sua escolha de receber e-mails de arrecadações de fundos.
</div>


<div class="text-center m-t-40">
  <a href="https://sumofus.org">Retornar à página principal da Ekō.</a>
</div>

<%= partial 'opted_in' %>