---
title: 'Agradecemos seu aviso. Falta só mais um passo...'
---
<p class='text-left'>
A SumOfUs não aceita dinheiro de empresas ou governos. Nosso financiamento é quase todo feito por pequenas doações de membros como você. Isso significa que e-mails com pedidos de doação são fundamentais para manter nossas campanhas. Mas sabemos que não são todas as pessoas que podem doar -- e não tem nenhum problema. Somos um movimento se unindo para responsabilizar as grandes corporações. Não importa o que você faça: seja assinar uma petição, ligar para seu representante político, compartilhar as campanhas nas redes sociais ou doar - todas estas ações são igualmente importantes.
<br /><br />
Falta só mais um passo para te tirarmos de nossos pedidos de arrecadação de fundos de <span id="current_year"></span>. Por favor, confirme seu endereço de e-mail abaixo.</p>

<%= partial 'optout' %>
