---
# title: 'Política de Privacidade'
---
<div class="privacy-main-content">
<h1 class="privacy-header">Política de Privacidade</h1>
<p class="privacy-intro-paragraph1">Na Ekō, levamos sua privacidade muito a sério. Este Aviso de Privacidade estabelece nossas práticas de coleta e processamento de dados e quais são as suas opções e direitos relacionados ao manejo de suas informações pessoais.</p>
 <p class="privacy-intro-paragraph2">Juntxs, nossa comunidade de milhões de pessoas atua como um cão de guarda do consumidor no mundo todo - coordenando e vencendo campanhas para responsabilizar as maiores empresas do mundo. Para poder coordenar campanhas efetivas quando e onde seja mais necessário, a Ekō mantém um banco de dados com detalhes de informações de contato de membros e suas ações. Armazenamos esses dados de forma segura e jamais venderemos ou compartilharemos com terceiros. Abaixo, você encontrará mais detalhes a respeito da nossa política de privacidade. Este aviso é dividido nas seguintes partes (e se você clicar em um título que desperte seu interesse, será diretamente direcionado à seção correspondente).
</p>
<div class="privacy-links-container" >
<span class="link_style" onclick="internalNav('#who-we-are')">1. Quem Somos</span>
<span class="link_style" onclick="internalNav('#what-is-this-notice-about')">2. De que se trata este aviso?</span> 
<span class="link_style" onclick="internalNav('#do-you-collect-personal-information-about-me')">3. Vocês coletam minhas informações pessoais?</span> 
<span class="link_style" onclick="internalNav('#where-do-you-get-information-about-me-from')">4. Onde vocês conseguem informações a meu respeito?</span> 
<span class="link_style" onclick="internalNav('#what-information-do-you-collect-store-and-otherwise-use-about-me')" >5. Quais informações vocês coletam, armazenam, usam e etc sobre mim?</span> 
<span class="link_style" onclick="internalNav('#how-and-why-will-you-use-my-information')">6 Como e por que vocês usam minhas informações?</span> 
<span class="link_style" onclick="internalNav('#overview-of-how-we-use-your-information', '#how-and-why-will-you-use-my-information')">6.1 Visão geral de como usamos suas informações</span> 
<span class="link_style" onclick="internalNav('#further-detail-on-some-of-our-practices', '#how-and-why-will-you-use-my-information')">6.2 Maiores detalhes a respeito de algumas de nossas práticas</span> 
<span class="link_style" onclick="internalNav('#what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information')">7. Qual é o fundamento jurídico para a coleta e uso de minhas informações pessoais?</span> 
<span class="link_style" onclick="internalNav('#what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them')">8. Quais são meus direitos relacionados ao uso das minhas informações que vocês possuem e como exerço esses direitos?</span> 
<span class="link_style" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">9. Como parar de receber seus e-mails e demais mensagens?</span> 
<span class="link_style" onclick="internalNav('#is-my-information-secure')">10. As minhas informações estão seguras?</span> 
<span class="link_style" onclick="internalNav('#will-you-share-my-information')">11. Vocês compartilham minhas informações?</span> 
<span class="link_style" onclick="internalNav('#will-you-send-my-personal-information-abroad')">12. Vocês enviarão minhas informações pessoais para o exterior?</span> 
<span class="link_style" onclick="internalNav('#how-long-will-you-keep-my-personal-information')">13. Por quanto tempo vocês armazenarão minhas informações pessoais?</span> 
<span class="link_style" onclick="internalNav('#do-you-collect-personal-information-about-children')">14. Vocês coletam informações pessoais de crianças?</span> 
<span class="link_style" onclick="internalNav('#general-provisions')">15. Disposições gerais</span> 
<span class="link_style" onclick="internalNav('#links-and-third-parties', '#general-provisions')">15.1 Links e Terceiros</span> 
<span class="link_style" onclick="internalNav('#changes-to-this-privacy-notice', '#general-provisions')">15.2 Alterações deste Aviso de Privacidade</span>
<span class="link_style" onclick="internalNav('#user-contributions')">16. Contribuições de usuários</span> 
<span class="link_style" onclick="internalNav('#how-do-i-contact-you')">17. Como entrar em contato com vocês?</span> 
</div>
<div class="spacer"></div>
<div class="who-we-are">
<h2 class="privacy__question" id="who-we-are">Quem Somos</h2>
<div class="privacy__answer hidden-closed" >
<p>Nós somos a Ekō, uma comunidade de pessoas em todo o mundo comprometidas em enfrentar o poder das corporações, que não pára de crescer. A Ekō foi incorporada nos Estados Unidos da América e foi registrada como uma organização de bem estar social sem fins lucrativos 501(c)(4). Nos termos da lei de proteção de dados da União Europeia (GDPR), somos o controlador, o que significa que coletamos informações a seu respeito quando você  interage com a gente e determinamos como essas informações serão usadas. Temos membros e pessoas que nos apoiam em todo o mundo, assim como você. Na realidade, há mais de 3,4 milhões de membros da Ekō que agiram juntos para combater o poder corporativo.
Por sermos uma organização estadunidense, a lei de proteção de dados da União Europeia (UE) exige a nomeação de um ‘representante’ em um país da UE, para ser a pessoa de contato para questões e consultas relacionadas à privacidade de dados na UE. Nosso representante é Eoin Dubsky, que está baseado na Holanda e que pode ser contato da seguinte forma:</p>

<p>E-mail: privacy@eko.org</p>

<p>Telefone: (00) 31 70 2500292</p>

<p>Endereço: 
Ekō
Keulsepoort 2
Unit #400
5911 BZ Venlo
Holanda</p>

<p>É importante que você saiba o que as organizações estão fazendo com suas informações e o por quê. Nosso objetivo foi ser o mais claro possível (nosso ‘Aviso de Privacidade’, em termos jurídicos). Se você tiver qualquer pergunta que não tenha sido respondida por este aviso de privacidade ou se tiver qualquer preocupação, não hesite em nos contatar clicando em <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">‘Como entrar em contato com vocês?’</span></p>
</div>
</div>
<div class="what-is-this-notice-about">
<h2 class="privacy__question" id="what-is-this-notice-about">Do que se trata este Aviso?</h2>
<div class="privacy__answer hidden-closed" >
<p>Este Aviso de Privacidade explica como a Ekō usa as informações que coletamos das pessoas que interagem conosco ou com as quais queremos interagir. Temos um compromisso de proteger a sua privacidade online. A equipe da Ekō também faz parte dxs nossxs membros e lidamos com a sua privacidade da mesma forma que lidamos com a nossa. Buscamos sempre respeitar qualquer informação que você compartilhar conosco e mantê-la em segurança.  
Podemos modificar esta política de tempos em tempos, portanto te aconselhamos a visitar esta página com frequência (as mudanças mais recentes estarão indicadas na seção <span class="link_style2" onclick="internalNav('#changes-to-this-privacy-notice', '#general-provisions')">‘Alterações deste Aviso de Privacidade’).</span></p>
</div>
</div>

<div class="do-you-collect-personal-information-about-me">
<h2 class="privacy__question" id="do-you-collect-personal-information-about-me">Vocês coletam minhas informações pessoais?</h2>

<div class="privacy__answer hidden-closed" >
<p>Sim, coletamos - sempre dentro dos termos da lei. Usamos as informações das maneiras acordadas por você ou permitidas pela lei - para preencher as petições com os detalhes dxs assinantes, te enviar as nossas comunicações relevantes, arrecadar fundos e verificar se as nossas campanhas e atividades estão sendo efetivas. Você pode ler uma lista das maneiras que coletamos suas informações pessoais e por que o fazemos nas seções <span class="link_style2" onclick="internalNav('#where-do-you-get-information-about-me-from')">‘Onde vocês conseguem informações a meu respeito?’</span> e <span class="link_style2" onclick="internalNav('#how-and-why-will-you-use-my-information')">‘Como e por que vocês usam minhas informações?’</span> deste Aviso.</p>
</div>
</div>
<div class="where-do-you-get-information-about-me-from">
<h2 class="privacy__question" id="where-do-you-get-information-about-me-from">Onde vocês conseguem informações a meu respeito?</h2>

<div class="privacy__answer hidden-closed" >
<p>Qualquer interação de uma pessoa conosco é chamada de ‘ação’. Por exemplo, se alguém assinar uma petição em nosso Site, fizer uma doação ou escrever uma carta, todas estas pessoas estariam fazendo uma “ação” com a gente. Quando você faz uma “ação” conosco, podemos pedir algumas informações a seu respeito ou podemos obter algumas informações sobre você com base na “ação” que você executou. Veja mais detalhes abaixo.</p>

<p>Coletamos informações pessoais quando você as fornece diretamente, por exemplo, quando você realiza as seguintes ações:</p>
<ul>
<li>Quando você assina uma petição em nosso Site (atualmente localizado em eko.org e actions.eko.org - o “Site”);</li>
<li>Quando você se registra para se tornar umx apoiadorx em nosso Site;</li>
<li>Quando você faz uma doação;</li>
<li>Quando você entra em contato por telefone, e-mail ou nos escreve nas redes sociais ou por meio do formulário de contato em nosso Site;</li> 
<li>Quando você compartilha um conteúdo ou petições (por exemplo, por e-mail, redes sociais e de outras maneiras semelhantes);</li>
<li>Quando você assina uma petição de um terceiro e aceita compartilhar seus dados conosco;</li> 
<li>Quando você escreve e envia um e-mail ou um tweet ou quando telefona para o alvo de uma campanha por meio do nosso sistema;</li>
<li>Quando você preenche uma pesquisa que enviamos sobre sua experiência com a gente ou para descobrir o que você pensa sobre questões sociais;</li>
</ul>

<p>Nós também podemos coletar suas informações pessoais indiretamente, por exemplo, quando:</p>
<ul>
<li> Você nos segue e/ou interage em nossas redes sociais;</li> 
<li> Você clica em um link da Ekō (por exemplo, se alguém compartilhar uma petição da Ekō nas redes sociais ou por e-mail e você clicar no post desta pessoa)</li>
<li> Se Terceiros compartilharem informações conosco - por exemplo, organizações que trabalham com a gente, empresas de processamento de pagamento e informações de busca</li>
<li> Se a informação estiver disponível publicamente - suas informações pessoais podem estar disponíveis por meio de fontes externas disponíveis publicamente. Por exemplo, dependendo de suas configurações de privacidade em suas redes sociais, podemos acessar as suas informações (por exemplo, quando você decide interagir com a gente por meio de plataformas como Facebook, LinkedIn ou Twitter).</li>
<li> Quando você visita nosso Site, automaticamente coletamos as seguintes informações pessoais:</li>
  <li>Informações técnicas, incluindo o endereço de Protocolo de Internet (IP) usado para conectar seu dispositivo à internet, o tipo e versão de navegador, configuração de zona horária, sistema operacional e plataformas.</li>
  <li>Informações sobre a sua visita às páginas do Site, incluindo o endereço único (URL), através e do Site (incluindo data e hora), serviços que você visualizou ou pesquisou, tempos de resposta da página, erros de download, duração das visitas a determinadas páginas, fontes de referência, informações de interação da página (como rolagem e cliques) e métodos usados ​​para navegar para fora da página.</li> 
  <li>Também coletamos e usamos suas informações pessoais usando cookies em nosso Site - consulte nosso <span class="link_style2" onclick="internalNav('#cookie-notice', '#how-and-why-will-you-use-my-information')">Aviso de Cookie</span></li>
</ul>
<p>Em geral, podemos combinar suas informações pessoais dessas diferentes fontes para os fins definidos nesta Política.</p>
</div>
</div>

<div class="what-information-do-you-collect-store-and-otherwise-use-about-me">
<h2 class="privacy__question" id="what-information-do-you-collect-store-and-otherwise-use-about-me">Quais informações vocês coletam, armazenam, usam e etc sobre mim?</h2> 

<div class="privacy__answer hidden-closed" >
<p>Podemos coletar, armazenar e usar os seguintes tipos de informações pessoais a seu respeito:</p>
<ul>
<li>Seu nome e informações de contato, incluindo seu endereço físico, endereço de e-mail e número de telefone (quando você nos fornecer essas informações)</li>
<li>As petições que você assinou, incluindo quaisquer comentários enviados em apoio a tais petições</li>
<li>Qualquer informação específica que você voluntariamente nos forneceu ao assinar uma petição - por exemplo, às vezes perguntaremos se você é um cliente ou funcionário de uma empresa que é o alvo de alguma petição</li>
<li>Qualquer informação fornecida voluntariamente quando você preencher uma pesquisa que te enviarmos, que poderá perguntar sobre suas experiências com a gente ou seu ponto de vista sobre certas questões sociais e políticas</li>
<li>Suas informações financeiras quando você as fornecer; consulte a seção 6(f) para saber como suas informações bancárias são processadas</li>
<li>As ações que você realizou com a gente, como, por exemplo, a participação em eventos, o envio de e-mails em apoio a uma petição ou causa e/ou uma doação para nós;</li> 
<li>A quantidade e a frequência de quaisquer doações feitas para a Ekō;</li> 
<li>Informações que você forneceu de forma voluntária ao entrar em contato por telefone, e-mail ou ao enviar mensagens em nossas redes sociais ou por meio do formulário de contato em nosso Site</li>
<li>O fato de você estar vinculado a outrx apoiadorx - por exemplo, se umx apoiadorx assinar uma petição com base em uma petição que você compartilhou</li> 
<li>Os tipos de assuntos que acreditamos ser de seu interesse, com base nas ações que você tomou e nas questões com as quais se envolveu enquanto interagia conosco - por exemplo, podemos sinalizar que você tem interesse em mudanças climáticas ou taxação de impostos</li>
<li>O idioma do conteúdo que você recebe</li> 
<li>Suas preferências de cadastro</li>
<li>Navegador da web e dados de navegação: tipo de navegador, tipo de dispositivo, endereço IP, fonte de referência, o fato de que você está visitando nosso Site ou clicando em nosso conteúdo, duração da visita ao Site, número de visualizações de página</li>
<li>Informações de perfil de rede social, quando disponíveis para nós</li>
<li>Qualquer outro tipo de informação compartilhada com a gente ou por nós obtida, conforme especificado na seção <span class="link-style" onclick="internalNav('#where-do-you-get-information-about-me-from')">‘Onde vocês conseguem informações a meu respeito?’</span> deste Aviso.</li> 
</ul>
<p class="sub-heading" >Categorias especiais de informações pessoais</p>

<p>A Lei de Proteção de Dados da UE (GDPR) reconhece alguns tipos de informações pessoais como confidenciais devendo ser submetidas à proteção especial. Essas informações são conhecidas como ‘categorias especiais’ de informações pessoais e incluem informações sobre saúde, etnia e opiniões políticas.</p> 

<p>Não é nossa intenção coletar, armazenar ou de qualquer outra forma processar suas informações pessoais confidenciais (ou seja, sobre raça ou etnia, opiniões políticas, crenças religiosas ou filosóficas, etc.). Quando o fizermos, será apenas em circunstâncias em que haja um motivo válido para coletar/usar essas informações e quando a legislação assim permitir. O exemplo mais provável de uma situação em que poderemos coletar suas informações de categorias especiais é quando você assinar uma petição que expressa uma opinião política ou se você fornecer essas informações voluntariamente ao se comunicar conosco.</p> 

<p>Às vezes, nossxs apoiadorxs nos enviam um e-mail ou entram em contato conosco e nos fornecem categorias especiais de informações pessoais, mesmo quando não as solicitamos. Por exemplo, uma pessoa que nos apoia pode nos enviar um e-mail explicando porque não pode mais fazer uma doação e este e-mail poderá conter informações confidenciais sobre suas circunstâncias pessoais. Pedimos às pessoas que nos apóiam para não fornecerem informações confidenciais privadas para a gente dessa forma.</p>

<p>Temos a intenção de excluir essas informações do nosso sistema, se e quando as recebermos (no entanto, é importante salientar que elas podem ser retidas, ou que certos dados sobre a mensagem podem ser retidos, nos logs do servidor e nos próprios sistemas do provedor de serviço de mensagens/correio (como como Google Mail), de acordo com seus próprios procedimentos).</p> 
</div>
</div>

<div class="how-and-why-will-you-use-my-information">
<h2 class="privacy__question" id="how-and-why-will-you-use-my-information">Como e por que vocês usam minhas informações?</h2> 
<div class="privacy__answer hidden-closed" >
<h3 class="sub-heading" id="overview-of-how-we-use-your-information">6.1 Visão geral de como usamos suas informações </h3>

Usaremos suas informações pessoais para os fins estabelecidos neste Aviso. Em particular, podemos usar suas informações pessoais:
<ul>
 <li>Para tornar mais fácil o seu apoio e assinatura de uma petição ou pesquisa e para disponibilizar a petição/pesquisa para o destinatário pertinente</li>
<li>Para verificar se você aparenta ser umx signatárix válidx da petição</li>
<li>Para fornecer a você os serviços ou informações que tenha solicitado, como, por exemplo, para tornar mais fácil o seu apoio a uma petição em nosso Site;</li>
<li>Para te fornecer conteúdo, quando possível, no idioma desejado;</li>
<li>Para habilitar, solicitar e administrar sua participação em nossos programas, eventos, campanhas de arrecadação de fundos e atividades </li>
<li>Para descobrir se você gostaria de ajudar nosso trabalho, campanhas e atividades, como, por exemplo, saber se você é um acionista de uma empresa na qual estamos considerando utilizar técnicas de ativismo tendo acionistas como alvo ou se sua função ou rede pode ajudar nosso trabalho, campanhas e arrecadação de fundos etc;</li>
<li>Para processar ou reembolsar uma doação que tenha feito para nós;</li>
<li>Para processar seu pedido de registro como apoiadorx da Ekō;</li> 
<li>Para te enviar comunicações sobre nosso trabalho, campanhas, serviços, atividades e iniciativas de arrecadação de fundos que acreditamos ser do seu interesse (sempre que você tiver dado seu consentimento para receber tais informações);</li> 
<li>Para analisar, medir e relatar a eficácia de nosso trabalho, campanhas, serviços, arrecadação de fundos e informações, incluindo nosso Site e canais de redes sociais;</li> 
<li>Para operar nosso Site, mantê-lo seguro e protegido e garantir que o conteúdo seja apresentado da maneira que seja mais eficaz para você e seu dispositivo;</li> 
<li>Para auditar e administrar nossos sistemas e bancos de dados;</li>
<li>Para cumprir as obrigações legais que nos vinculam, por exemplo, em relação a órgãos reguladores, governamentais e/ou de aplicação da lei com os quais possamos trabalhar (por exemplo, exigências relativas ao pagamento de impostos ou às medidas de combate à lavagem de dinheiro);</li>
<li>Para a prevenção de fraude ou mau uso de nossos serviços; e / ou</li>
<li>Para a apresentação, defesa e/ou cumprimento de ações judiciais.</li>
</ul>
<h3 class="sub-heading" id="further-detail-on-some-of-our-practices">6.2 Maiores detalhes a respeito de algumas de nossas práticas</h3>


<p>Abaixo, apresentamos maiores detalhes sobre algumas maneiras em que poderemos usar suas informações pessoais. A privacidade é importante e, como movimento, trabalhamos em campanhas de apoio à privacidade de dados. Acreditamos firmemente que as pessoas devem saber o que as empresas estão fazendo com as suas informações. Sabemos que as pessoas se preocupam muito com o uso de seus dados nos bastidores, muitas vezes com a utilização de tecnologias pouco transparentes ou fáceis de entender. Dessa forma, apresentamos abaixo alguns detalhes adicionais sobre algumas das coisas que fazemos que podem não ser facilmente compreendidas.</p> 

<p class="sub-heading">(a) Programa de Doação</p>

<p>Podemos marcar alguns de nossxs doadorxs que doaram acima de um limite especificado em nosso banco de dados como sendo “doadorxs chave”, de forma a desenvolver nossa arrecadação de fundos e expandir o movimento da Ekō, atingir nossos objetivos e ideais e ter certeza de que estamos reconhecendo seu apoio de forma adequada. Essxs doadorxs chave podem receber comunicações especiais da Ekō por meio de mensagem eletrônica ou telefone (desde que possamos contatá-los legalmente, por exemplo, se tiverem dado consentimento para receber nossas comunicações de campanha e arrecadação de fundos), para apresentar nossos agradecimentos pessoalmente por seu apoio e para explorar como fortalecer a relação entre essas pessoas e a Ekō.</p>   

<p class="sub-heading">(b) Compreender nossxs apoiadorxs</p>

<p>A Ekō usa informações pessoais sobre apoiadorxs e pessoas que interagem conosco para criar um registro de seus interesses e preferências, de forma a permitir que nos comuniquemos com você de forma relevante, tornar nosso trabalho mais eficaz e ajudar na arrecadação de fundos. Às vezes, isso pode levar a uma suposição sobre você, com base nas informações que coletamos, para te enviar as informações mais relevantes - por exemplo, se você assinou alguns e-mails pedindo que as empresas reduzam o uso de plástico e alguns e-mails sobre a proteção das abelhas, então poderemos te marcar em nosso banco de dados como alguém com interesse em questões ambientais. Marketing digital e publicidade</p> 
π
<p>Nós utilizamos algumas práticas específicas de marketing digital e publicidade para expandir o alcance do movimento Ekō e para nos ajudar a alcançar nossos objetivos e ideais. A maior parte da nossa publicidade não depende do fornecimento de suas informações pessoais a terceiros - por exemplo, às vezes colocamos anúncios nos resultados de pesquisa por meio de publicidade do Google ou podemos colocar anúncios em banners em sites relevantes de terceiros. Em alguns casos, esses terceiros podem decidir quais anúncios te mostrar com base em suas visitas anteriores ao nosso Site, tendo como base as informações que eles coletaram independentemente. Em nenhum momento, você será identificado pessoalmente por esses terceiros, nem qualquer uma das informações pessoais que você compartilhar conosco será compartilhada com eles. Isso se deve ao fato de usarmos cookies de terceiros quando você usa nosso Site, que você pode desativar usando as configurações do seu navegador.</p>  

<p>Também usamos publicidade em redes sociais, incluindo Facebook e Twitter. Às vezes, podemos usar e divulgar algumas de suas informações pessoais para usar a ferramenta Custom Audience do Facebook, que nos permite comunicar e exibir anúncios para membros existentes e potenciais. Fazemos isso de forma segura e criptografada e não nos envolvemos em nenhuma das práticas conhecidas como “microssegmentação”.</p>

<p>Consulte os <a href="https://www.facebook.com/ads/manage/customaudiences/tos.php" target="_blank">Termos de Serviço de Público Customizado</a>.</p>

<p class="sub-heading">(c) Comunicações sobre campanhas</p>  

<p>Podemos usar seus dados de contato para te enviar informações sobre nosso trabalho, campanhas, atividades, eventos, serviços e campanhas de arrecadação de fundos quando acreditarmos que possa ser de seu interesse (por exemplo, atualizações sobre campanhas de arrecadação de fundos ou petições que você assinou, ou pedidos de assinaturas e informações sobre novas petições).</p> 

<p>Nestes casos, não te enviaremos e-mail, mensagens diretas nas redes sociais se o seu perfil for privado, SMS (texto), mensagem por serviço semelhante de mensagens instantâneas por telefone nem faremos uma ligação telefônica a você (se você estiver registradx no Serviço de Preferência por Telefone) se você não tiver dado seu consentimento prévio. Pedimos seu consentimento quando entramos em contato com você pela primeira vez. Você pode cancelar o recebimento dessas mensagens a qualquer momento, caso tenha dado seu consentimento prévio, mas não deseja mais receber nossos contatos sobre campanhas e atividades. Por favor, consulte a seção <span class="link_style2" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">‘Como parar de receber seus e-mails e demais mensagens?’</span> deste aviso para maiores informações.</p> 

<p class="sub-heading">(d) Processamento de doações e informações de cartão de crédito</p> 

<p>Ao usar nossa função de doação online segura, você será direcionado a um provedor de serviços de pagamento especializado, que receberá suas informações financeiras para processar a transação. Forneceremos suas informações pessoais ao provedor de serviços de pagamento apenas na medida necessária para o processamento de sua doação. Coletamos as informações do seu cartão de crédito quando você contribui para a Ekō online. Essas informações são usadas somente para processar sua contribuição e não são mantidas pela Ekō e nunca serão divulgadas a ninguém, para qualquer outra finalidade que não seja o processamento da sua contribuição. Ao contribuir por meio de uma doação expressa, os detalhes do seu cartão são armazenados por nosso provedor de pagamento, Braintree Payments (de propriedade da Paypal), que possui proteções de segurança sólidas e processa bilhões de dólares em pagamentos todos os anos.</p>

<p class="sub-heading" id="cookie-notice">(e) Cookies e rastreamento de dados</p>

<p>Para entender melhor nossxs apoiadorxs, usamos cookies e analisamos periodicamente os logs da web. Alguns cookies são usados ​​para preencher formulários previamente para você, de modo que, em visitas repetidas ao Site, você não precise inserir novamente certas informações. Você pode configurar seu navegador para desabilitar os cookies, mas então você não teria a vantagem de ter certas seções de formulários sendo preenchidas automaticamente para você e talvez você não consiga acessar algumas partes do Site. Também podemos usar serviços de terceiros, como o Google Analytics. Isso nos ajuda a entender os padrões de tráfego e saber se há problemas com nosso Site. Também podemos usar imagens incorporadas em e-mails para rastrear as taxas de acesso às mensagens, para que possamos saber quais correspondências são mais atraentes para xs apoiadorxs da Ekō.</p>

<p>As informações geradas por um cookie sobre o uso de nosso Site (incluindo seu endereço IP) são transmitidas e armazenadas pelo Google em servidores nos Estados Unidos da América. O Google também pode transferir essas informações a terceiros quando exigido por lei ou quando tais terceiros processem as informações em nome do Google. O Google pode combinar o seu endereço IP com quaisquer outros dados mantidos pelo Google. Ao usar este Site, você concorda com o processamento de dados pelo Google na forma e para os fins acima definidos.</p>

<p>As URLs contidas em e-mails podem conter um ID que nos permite identificar corretamente a pessoa que realiza uma ação usando uma página da web. Usamos essas URLs para simplificar o processo de assinatura de petições e preenchimento de pesquisas. Ocasionalmente, poderemos apresentar uma URL abreviada, que faz referência a uma URL mais longa, que você poderá ver na barra de endereço do navegador ao acessar a página.</p>
</div>
</div>

<div class="what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information">
<h2 class="privacy__question" id="what-is-the-legal-basis-for-you-collecting-and-using-my-personal-information">Qual é o fundamento jurídico para a coleta e uso de minhas informações pessoais?</h2>

<div class="privacy__answer hidden-closed" >
<p>A lei de proteção de dados da UE estabelece uma série de "bases" ou fundamentos que controladores (neste caso, a Ekō) podem recorrer para coletar e usar legalmente informações pessoais. As bases que recorremos para usar suas informações pessoais estão elencadas abaixo:</p>  

<p>(a) Quando você nos der consentimento para usarmos suas informações pessoais de uma determinada maneira (por exemplo, pediremos seu consentimento para usarmos suas informações pessoais para te enviar material promocional ou de arrecadação de fundos por e-mail).</p> 

<p>(b) Quando necessário, para que possamos cumprir uma obrigação legal a que estamos sujeitos (por exemplo, quando somos obrigados a compartilhar suas informações pessoais com órgãos reguladores que regulam nosso trabalho e serviços).</p>

<p>(c) Quando for de seu interesse vital ou de outra pessoa (por exemplo, se durante o curso da comunicação com você, descobrimos que houve uma emergência médica)</p> 

<p>(d) Quando houver um “interesse legítimo” (veja abaixo)</p>

<p>A Lei de Proteção de Dados da UE nos permite coletar e usar suas informações pessoais se for razoavelmente necessário para atingir nossos "interesses legítimos" ou de terceiros, ou seja, quando houver um benefício ou necessidade nossa ou de terceiros para fazer algo com suas informações. Somente poderemos usar suas informações para os nossos interesses legítimos ou de terceiros quando nosso uso for justo, equilibrado e não impactar indevidamente seus direitos.</p> 

<p>Quando utilizamos essa base para coletar/usar suas informações pessoais, nosso interesse legítimo é trabalhar para alcançar os objetivos e ideais da Ekō como um movimento sem fins lucrativos, que luta pelas pessoas ao invés dos lucros, principalmente por meio de uma plataforma digital de petições.</p> 

<p>Quando processamos suas informações pessoais para atingir tais interesses legítimos, consideramos e equilibramos qualquer impacto potencial que possa recair sobre você e seus direitos previstos nas leis de proteção de dados. Temos o compromisso de proteger sua privacidade.</p> 
</div>
</div>

<div class="what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them">
<h2 class="privacy__question" id="what-are-my-rights-with-regard-to-information-you-use-about-me-and-how-do-i-exercise-them">Quais são meus direitos relacionados ao uso das minhas informações que vocês possuem e como exerço esses direitos?</h2>

<div class="privacy__answer hidden-closed" >
<p>Você tem o direito de revogar o seu consentimento a qualquer momento, quando usamos suas informações pessoais com base neste consentimento. Isso inclui o direito de nos pedir para deixar de usar suas informações pessoais para fins de campanhas ou arrecadação de fundos ou pedir para se descadastrar de nossa lista de e-mail a qualquer momento (consulte a seção <span class="link_style2" onclick="internalNav('#how-can-id-stop-getting-emails-and-other-communications-from-you')">‘Como parar de receber seus e-mails e demais mensagens?’</span> abaixo).</p>

<p>Você também tem os seguintes direitos:</p>
<ul>
<li>Direito de acesso: você pode nos escrever para pedir confirmação sobre quais são as informações pessoais que temos sobre você e para solicitar uma cópia dessas informações. Após nos certificarmos de que você tem o direito de ver as informações pessoais solicitadas e tenhamos confirmado sua identidade com sucesso, enviaremos suas informações pessoais, sujeitas a quaisquer isenções aplicáveis.</li>
<li>Direito de exclusão: mediante seu pedido, excluiremos suas informações pessoais de nossos registros na medida solicitada.</li>
<li>Direito de retificação: se você acredita que nossos registros de suas informações pessoais são imprecisos, você tem o direito de solicitar que esses registros sejam atualizados. Você também pode nos pedir para verificar as informações pessoais que mantemos sobre você se não tiver certeza se elas estão corretas e atualizadas.</li>
<li>Direito de restringir o processamento: você tem o direito de solicitar que o processamento de suas informações pessoais seja restrito em algumas circunstâncias, como, por exemplo, se houver desacordo sobre a precisão ou uso legítimo das informações. A título exemplificativo, você pode nos dizer que acha que temos algumas informações sobre você que são imprecisas. Embora tomemos medidas para verificar e garantir que as informações são precisas, você tem o direito de solicitar que a gente não faça uso das suas informações pessoais.</li> 
<li>Direito de apresentar uma objeção: você tem o direito de apresentar uma objeção ao processamento quando estivermos (i) processando suas informações pessoais com base no fundamento de interesses legítimos; (ii) usando suas informações pessoais para marketing direto; ou (iii) usando suas informações para fins estatísticos.</li> 
<li>Direito à portabilidade de dados: na medida exigida pelo GDPR, você pode nos pedir para fornecer as informações pessoais a você - ou outro provedor de serviços - em um formato legível por máquina, quando processamos suas informações pessoais (que você nos forneceu) usando meios automatizados (ou seja, sem envolvimento humano) (i) com base em seu consentimento; ou (ii) porque esse processamento é necessário para o desempenho de um contrato do qual você é parte ou para tomar medidas solicitadas por você antes de celebrar um contrato.</li>
<li>Direito de definir diretrizes sobre o processamento de seus dados pessoais após seu falecimento: Você pode nos fornecer instruções sobre como poderemos continuar a armazenar, apagar e compartilhar suas informações após seu falecimento e, se aplicável, indicar a pessoa que você designou para exercer esses direitos após seu falecimento.</li>
</ul>

<p>Para exercer qualquer um desses direitos, entre em contato conosco por meio dos dados contidos na seção <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">‘Como entrar em contato com vocês?’</span> abaixo.</p>

<p>É importante notar que alguns desses direitos se aplicam apenas em circunstâncias limitadas. Para mais informações, sugerimos que você entre em contato conosco. Por motivos de segurança, podemos solicitar informações adicionais para confirmar sua identidade antes de divulgar as informações pessoais solicitadas.</p>

<p>Você também tem o direito de fazer uma reclamação sobre nós ou sobre a maneira como processamos suas informações pessoais para a autoridade de supervisão de proteção de dados em seu país. Clique <a href="https://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080" target="_blank">aqui</a> para saber qual é a autoridade em seu país e suas informações de contato.</p>
</div>
</div>

<div class="how-can-id-stop-getting-emails-and-other-communications-from-you">
<h2 class="privacy__question" id="how-can-id-stop-getting-emails-and-other-communications-from-you">Como parar de receber e-mails e demais mensagens da Ekō?</h2>

<div class="privacy__answer hidden-closed" >
<p>Lamentamos que você não deseja mais receber as nossas comunicações - se desejar falar sobre isso, pode nos contatar pelo e-mail info@eko.org ou usando qualquer um dos detalhes indicados na seção 'Como entrar em contato com vocês?' abaixo.
Para cancelar o recebimento de comunicações das nossas campanhas, arrecadação de fundos e atividades nas quais já nos forneceu seu consentimento, basta a qualquer momento seguir um dos métodos abaixo:</p> 
<ul>
<li>Clicar no link de descadastramento na parte inferior de qualquer e-mail de campanha/arrecadação de fundos que te enviamos</li>
<li>Clicando neste <a href="https://eko.org/pt/unsubscribe">link</a> que irá te descadastrar da nossa lista</li>
</ul>
</div>
</div>

<div class="is-my-information-secure">
<h2 class="privacy__question" id="is-my-information-secure">As minhas informações estão seguras?</h2> 

<div class="privacy__answer hidden-closed" >
<p>Temos um compromisso de manter suas informações pessoais seguras e protegidas e temos políticas de segurança adequadas e proporcionais, além de medidas organizacionais e técnicas em vigor para ajudar a proteger suas informações. Por exemplo, suas informações pessoais só podem ser acessadas por funcionárixs, voluntárixs e prestadorxs de serviços devidamente treinadxs, e são armazenadas em servidores seguros com recursos implementados para impedir o acesso não autorizado.</p>

<p>Por sermos uma organização dos Estados Unidos da América, as informações pessoais que coletamos de você serão armazenadas em um destino fora do Espaço Econômico Europeu (EEE). Por favor, consulte a seção <span class="link_style2" onclick="internalNav('#will-you-send-my-personal-information-abroad')">‘Vocês enviarão minhas informações pessoais para o exterior?’</span> para maiores detalhes.</p>
</div>
</div>

<div class="will-you-share-my-information">
<h2 class="privacy__question" id="will-you-share-my-information">Vocês compartilham minhas informações?</h2> 

<div class="privacy__answer hidden-closed" >
<p>Não compartilhamos, vendemos ou arrendamos suas informações pessoais a terceiros para fins de marketing. Podemos divulgar suas informações pessoais a terceiros selecionados, a fim de atingir os objetivos definidos neste Aviso. É importante destacar que, quando você assinar uma petição em nosso Site, poderemos compartilhar, durante a entrega de uma petição, seu nome, cidade e país (mas não compartilharemos nenhum de seus dados de contato) com o alvo da campanha. Freqüentemente, os alvos serão organizações e indivíduos que contratamos para serem nossos ‘processadores’, que devem agir apenas de acordo com nossas instruções e para atingir os fins definidos nesta política e que não usarão suas informações pessoais para seus próprios fins. Por exemplo, às vezes contratamos consultorxs para nos ajudar a executar nossas campanhas e um provedor terceirizado administra e fornece nosso banco de dados de apoiadorxs. Exigimos que nossos fornecedorxs terceirizadxs estejam em conformidade com os mais altos padrões de privacidade de dados, incluindo o GDPR.</p>

<p>Em lista não exaustiva, essas partes podem incluir:</p>
<ul>
<li>Organizações parceiras (quando você consentir que suas informações pessoais sejam compartilhadas com organizações parceiras);</li> 
<li>Pessoas que contratamos para auxiliar as operações da Ekō, como consultorx para administrar os assuntos relacionados aos membros ou umx consultor redatorx, etc.;</li> 
<li>Fornecedorxs e subcontratadxs para a execução de qualquer contrato que celebremos com elxs, por exemplo, provedores de serviços de TI, como hosts de sites, provedores de banco de dados, hosts de servidores ou provedores de armazenamento em nuvem;</li>
<li>Empresas financeiras como Paypal e GoCardless que coletam ou processam doações em nosso nome;</li>
<li>Plataformas de redes sociais</li>
<li>Publicaremos apenas o seu primeiro nome e a inicial do seu sobrenome em nosso Site quando você realizar uma ação em nosso Site, como assinar uma petição</li> 
<li>Quando você assina uma petição ou preenche uma pesquisa em nosso Site, consideramos seu nome, cidade ou condado, estado/província e comentários como informações públicas. Por exemplo, podemos fornecer compilações de petições, com seus comentários, ao funcionário público, empresa ou pessoa a quem a petição é dirigida e/ou à imprensa e/ou ao público online para facilitar sua expressão de apoio à causa/petição e para garantir que signatárixs da petição sejam verificáveis. Não iremos, no entanto, publicar seu endereço de e-mail, a menos que você expressamente der seu consentimento para tanto ao usar uma de nossas ferramentas de campanha. A Ekō não é responsável pelo uso posterior de suas informações pessoais pelo destinatário de uma petição.</li>
</ul>
<p>Podemos precisar divulgar suas informações pessoais mediante solicitação de órgãos reguladores e governamentais, bem como de agências de aplicação da lei. É importante observar que a Ekō irá apelar contra qualquer tentativa por parte de agências governamentais ou organizações privadas de obter acesso às informações que você nos fornecer. No caso improvável de sermos obrigados por lei a divulgar qualquer uma das suas informações, faremos o possível para primeiro te contatar para que você tenha a oportunidade de apelar contra a divulgação. Também faremos objeções de forma independente a quaisquer solicitações de acesso a informações sobre usuárixs de nosso Site que acreditemos ser impróprias.</p>

<p>Também podemos nos fundir ou fazer parceria com outras organizações e, ao fazê-lo, adquirir ou transferir informações pessoais, mas suas informações pessoais continuarão a serem usadas para os fins definidos acima.</p>
</div>
</div>

<div class="will-you-send-my-personal-information-abroad">
<h2 class="privacy__question" id="will-you-send-my-personal-information-abroad">Vocês enviarão minhas informações pessoais para o exterior?</h2>

<div class="privacy__answer hidden-closed" >
<p>Conforme declarado acima, a SoU é uma organização registrada nos Estados Unidos da América com uma rede de funcionárixs e apoiadorxs em todo o mundo. Temos alguns escritórios na UE, mas não são empresas separadas. Dessa forma, se você estiver na UE e interagir ou fazer alguma ação conosco, suas informações pessoais serão transmitidas do seu dispositivo na UE para nossa infraestrutura nos EUA com o objetivo de apoiar nossa rede e apoiadorxs em todo o mundo. Suas informações pessoais podem ser compartilhadas ou acessadas por nós, nossxs funcionárixs e consultorxs em todo o mundo e prestadorxs de serviços nos Estados Unidos. Alguns países fora do Espaço Econômico Europeu (incluindo os Estados Unidos) possuem um padrão inferior de proteção para informações pessoais, incluindo requisitos de segurança mais baixos e preveem menos direitos para as pessoas. Trabalhamos muito para implementar garantias e processos equivalentes às proteções previstas pela UE para proteger seus dados, conforme estabelecido neste Aviso de Privacidade, e exigimos que todas as pessoas e empresas que trabalhem conosco processem informações pessoais nos termos do GDPR, incluindo empresas dos EUA. Você pode obter mais informações sobre a transferência de suas informações pessoais entrando em contato conosco através da  seção <span class="link_style2" onclick="internalNav('#how-do-i-contact-you')">’Como entrar em contato com vocês?’</span> abaixo.</p>
</div>
</div>

<div class="how-long-will-you-keep-my-personal-information">
<h2 class="privacy__question" id="how-long-will-you-keep-my-personal-information">Por quanto tempo vocês armazenarão minhas informações pessoais?</h2> 

<div class="privacy__answer hidden-closed" >
<p>Em geral, a menos que ainda seja necessário para os fins para os quais foram coletados e/ou processados, removeremos suas informações pessoais de nossos registros em até seis anos após a data em que foram coletadas. No entanto, se antes dessa data (i) suas informações pessoais não forem mais necessárias para tais fins; (ii) não tivermos mais o direito legal de processá-las; ou (iii) você exercer validamente seu direito de exclusão, nós iremos remover tais informações dos nossos registros no momento oportuno.</p>
<p>É importante ressaltar que se você pedir para não receber mais nossos contatos, manteremos algumas informações básicas sobre você em nossa lista de pessoas que não querem ser contatadas para atender à sua solicitação e evitar te enviar materiais indesejados no futuro.</p>
</div>
</div>

<div class="do-you-collect-personal-information-about-children">
<h2 class="privacy__question" id="do-you-collect-personal-information-about-children">Vocês coletam informações pessoais de crianças?</h2> 

<div class="privacy__answer hidden-closed" >
<p>Não coletamos intencionalmente informações pessoais de crianças, que entendemos ser as pessoas com menos de dezesseis anos de idade. Para apoiar a Ekō, você deve ter dezesseis anos ou mais e pedimos que possíveis apoiadorxs declarem cumprir com este requisito ao nos fornecer suas informações pessoais ao assinar uma petição, fazer uma doação ou se registrar como apoiadorx. Removeremos as informações se formos notificados de que retemos inadvertidamente informações pessoais de uma criança.</p> 
</div>
</div>

<div class="general-provisions">
<h2 class="privacy__question" id="general-provisions">Disposições Gerais</h2> 
<div class="privacy__answer hidden-closed" >
<h3 class="sub-heading" id="links-and-third-parties">15.1 Links e terceiros</h3> 

<p>Nós fazemos links em nosso Site diretamente a outros sites. Este aviso não se aplica a sites externos e não somos responsáveis ​​pelas práticas de privacidade ou conteúdo desses outros sites. Nós te recomendamos ler os avisos de privacidade de qualquer site externo que você visitar por meio de links em nosso site.</p>

<h3 class="sub-heading" id="changes-to-this-privacy-notice">15.2 Alterações deste Aviso de Privacidade</h3> 

<p>Podemos atualizar este Aviso de tempos em tempos, portanto, verifique-o periodicamente. Nós iremos te notificar sobre mudanças significativas, como a implementação do GDPR e a Lei Geral de Proteção de Dados Pessoais entrando em contato com você diretamente quando for razoavelmente possível e colocando um aviso em nosso site. A última atualização desse Aviso foi em 21 de maio de 2018.</p>
</div>
</div>

<div class="user-contributions">
<h2 class="privacy__question" id="user-contributions">Contribuições de Usuárixs</h2> 
<div class="privacy__answer hidden-closed" >

<p>Para ajudar a fazer sua voz ser ouvida e compartilhar suas ideias com outras pessoas, este site poderá disponibilizar ferramentas que te permitirão publicar suas contribuições originais neste site ou em outro lugar.<br />Essas ferramentas podem incluir petições online, anúncios, ferramentas para escrever cartas, quadros de mensagens, salas de bate-papo, páginas da web pessoais ou perfis, fóruns, quadros de avisos e outros recursos interativos (“<strong>Serviços Interativos</strong>”) que permitem que você poste, envie, publique, exiba ou transmita seu conteúdo ou materiais (“<strong>Contribuições de Usuárix</strong>”) a outrxs usuárixs ou membros do público.<br />Qualquer Contribuição de Usuárix que você publicar no site será considerada como não confidencial. O conteúdo que você publicar te pertencerá, mas você nos concede o direito de exibi-lo, reutilizá-lo e compartilhá-lo para promover a missão da Ekō. Em termos legais, ao postar uma Contribuição de Usuárix no site, você confirma e garante que possui ou controla todos os direitos desse conteúdo e concede à Ekō e suas afiliadas uma licença mundial, não exclusiva e livre de royalties para usar, copiar, reproduzir, modificar, adaptar, publicar, transmitir, exibir e distribuir seu conteúdo usando quaisquer métodos de distribuição ou mídia existentes ou desenvolvidos no futuro.<br /><strong>Compromisso com a precisão.</strong> A Ekō demanda  que você se comprometa com a precisão em suas Contribuições de Usuárixs  independentes. Você entende e reconhece que a Ekō não é responsável por quaisquer Contribuições de Usuárix que você enviar ou contribuir, e você, não Ekō, tem total responsabilidade por tal conteúdo, incluindo sua legalidade, confiabilidade, precisão e adequação.
</p>

<h3 class="sub-heading" id="content-standards">16.1 Normas de Conteúdo</h3> 

<p>Você pode usar este site apenas para fins legais e de acordo com estes Termos de Uso. Você concorda que o uso que você faz do Site não poderá: <br />
<ul>
  <li>Conter qualquer material que seja falso, difamatório, obsceno, indecente, abusivo, ofensivo, hostil, violento, odioso, inflamatório, que ponha em perigo a missão geral da Ekō ou que seja questionável de qualquer outra forma.</li>
  <li>Promover material sexualmente explícito ou pornográfico, violência ou discriminação com base em raça, sexo, religião, nacionalidade, deficiência, orientação sexual ou idade.</li>
  <li>Violar qualquer patente, marca registrada, segredo comercial, copyright ou outros direitos de propriedade intelectual de qualquer outra pessoa.</li>
  <li>Violar os direitos legais (incluindo os direitos de publicidade e privacidade) de terceiros ou conter qualquer material que possa dar origem a qualquer tipo de responsabilidade civil ou criminal nos termos das leis ou regulamentos aplicáveis ​​ou que, de outra forma, possa estar em conflito com estes Termos de Uso e com a nossa Política de Privacidade.</li>
  <li>Possivelmente enganar ou enganar qualquer pessoa.</li>
  <li>Promover qualquer atividade ilegal ou defender, promover ou auxiliar a prática de qualquer ato ilegal.</li>
  <li>Ser usado para se passar por qualquer pessoa ou para deturpar sua identidade ou afiliação com qualquer pessoa ou organização.</li>
  <li>Envolver atividades comerciais ou vendas, como concursos, sorteios e outras promoções de vendas, permuta ou publicidade.</li>
  <li>Dar a impressão de que emanam de nós ou de qualquer outra pessoa ou entidade, se não for esse o caso.</li>
</ul>
</p>

<h3 class="sub-heading" id="prohibited-uses">16.2 Usos proibidos</h3> 

<p>Você pode usar este site apenas para fins legais e de acordo com estes Termos de Uso. Você concorda em não usar este site:
<ul>
  <li>De qualquer forma que viole qualquer lei ou regulamentação nacional, regional, federal, estadual, local e internacional aplicável.</li>
  <li>Com o propósito de explorar, prejudicar ou tentar explorar ou prejudicar menores de qualquer forma, expondo-os a conteúdo impróprio, solicitando informações de identificação pessoal ou de qualquer outra forma.</li>
  <li>Para, de forma consciente, enviar, receber, fazer upload, baixar, usar ou reutilizar qualquer material que não esteja em conformidade com as Normas de Conteúdo definidas nestes Termos.</li>
  <li>Para transmitir ou obter o envio de qualquer material publicitário ou promocional, incluindo qualquer "lixo eletrônico", "corrente", "spam" ou qualquer outra solicitação semelhante.</li>
  <li>Para se passar, ou tentar se passar, pela Ekō ou umx funcionárix da Ekō, outrx usuárix, ou pessoa ou entidade (incluindo, sem limitação, o uso de endereços de e-mail ou nomes a eles associados), ou para se registrar para usar o site em nome de qualquer grupo ou entidade.</li>
  <li>Para colher ou coletar endereços de e-mail ou outras informações pessoalmente identificáveis ​​de usuárixs deste site por meios eletrônicos ou quaisquer outros meios para qualquer propósito.</li>
  <li>TPara se envolver em qualquer outra conduta que restrinja ou iniba o uso ou aproveitamento deste site por alguém, ou que, conforme determinado por nós, possa prejudicar a Ekō ou usuárixs do site ou expô-lxs a responsabilidades jurídicas.</li>
  <li>Para qualquer finalidade comercial.</li>
</ul>
<p>Além disso, você concorda em não:</p>
<ul>  
  <li>Usar este Site de qualquer maneira que possa desabilitar, sobrecarregar, danificar ou prejudicar o Site ou interferir com o uso deste Site por qualquer outra pessoa, incluindo sua capacidade de se envolver em atividades em tempo real através do Site.</li>
  <li>Usar qualquer robô, spider ou outro dispositivo automático ou processo para acessar o site para qualquer finalidade, incluindo monitorar ou copiar qualquer material deste site.</li>
  <li>Usar, sem nosso consentimento prévio por escrito, qualquer processo manual para monitorar ou copiar qualquer material deste Site ou para qualquer outro propósito não autorizado.</li>
  <li>Usar qualquer dispositivo, software ou rotina que interfira no bom funcionamento deste Site.</li>
  <li>Apresentar quaisquer vírus, cavalos de Tróia, worms, logic bombs ou outro material que sejam maliciosos ou tecnologicamente prejudiciais.</li>
  <li>Tentar obter acesso não autorizado para, interferir, danificar ou interromper qualquer parte deste site, o servidor no qual ele está armazenado ou qualquer servidor, computador ou banco de dados conectado a este site.</li>
  <li>Atacar este Site através de um ataque de negação de serviço ou um ataque distribuído de negação de serviço.</li>
  <li>Tentar interferir, de qualquer outra forma, no funcionamento adequado deste Site.</li>
</ul>
</p>

<h3 class="sub-heading" id="user-contributions-not-responsible">16.3 Não somos responsáveis ​​pelas Contribuições de Usuárix</h3> 

<p>Não podemos revisar tudo o que é postado por usuárixs com antecedência, portanto, qualquer conteúdo e/ou opiniões carregadas, expressas ou enviadas para o site e todas as Contribuições de Usuárix, incluindo artigos, respostas a perguntas e outros conteúdos são apenas as opiniões e responsabilidade exclusiva da pessoa ou entidade que as disponibilizou e não refletem necessariamente a opinião da Ekō, exceto pelo conteúdo oficial fornecido pela própria Ekō. <u>Não somos responsáveis perante quaisquer terceiros pelo conteúdo ou exatidão de quaisquer materiais postados por você ou por qualquer outrx usuárix deste site e você concorda em assumir responsabilidade total e exclusiva pelo conteúdo que postar no Site.</u> Embora tentemos investigar todas as reclamações confiáveis ​​sobre Contribuições de Usuárix questionáveis, não podemos garantir respostas individuais ou a remoção do conteúdo sinalizado.</p>

<h3 class="sub-heading" id="user-contributions-not-responsible">16.4 Aplicação dos Termos</h3> 

<p>Como o objetivo deste site é servir à missão da Ekō em nome da comunidade Ekō, e a fim de garantir que o Site seja usado apenas para o propósito pretendido e que nenhum uso do Site coloque em risco a missão mais ampla da Ekō, reservamo-nos o direito de:</p>
<ul>
  <li>Remover ou recusar a publicação de quaisquer Contribuições de Usuárix por qualquer ou por nenhum motivo. Esta é uma decisão que a Ekō se esforçará para tomar de forma justa, mas, em última análise, é uma decisão que cabe exclusivamente à Ekō. No entanto, será nossa prática geral consultar nossxs membros, inclusive por meio de pesquisas aleatórias, para determinar quais contribuições nossxs membros consideram benéfica para o progresso da nossa missão. Em todos os pontos deste processo, poderemos receber feedback da comunidade sobre como tomamos essas decisões, pois estamos aqui para servir a habilidade da nossa comunidade de cumprir com a nossa missão. Mas, no final, a Ekō tem a obrigação legal de garantir que todas as nossas atividades avancem nossa missão e, portanto, reservamos o direito de tomar a decisão final sobre o cumprimento dessa exigência.</li>
  <li>Tomar qualquer medida com relação a qualquer Contribuição de Usuárix que considerarmos necessária ou apropriada a nosso exclusivo critério, se acreditarmos que tal Contribuição de Usuárix viola os Termos de Uso, incluindo as Normas de Conteúdo, infringe qualquer direito de propriedade intelectual ou outro direito, ameaça a segurança pessoal de usuárixs deste Site e do público ou pode criar responsabilidade para Ekō.</li>
  <li>Divulgar sua identidade a qualquer terceiro que afirme que o material postado por você viola seus direitos, incluindo seus direitos de propriedade intelectual ou seu direito à privacidade. Não faremos isso levianamente, mas poderemos tomar esta medida se acharmos que isso tem o potencial de facilitar uma resolução justa da disputa ou proteger a Ekō de responsabilidades pelas quais não somos responsáveis.</li>
  <li>Tomar as medidas legais cabíveis, incluindo, sem limitação, encaminhamento para os órgãos de repressão ao crime, mediante qualquer uso ilegal ou não autorizado deste site quando determinarmos que o sistema judiciário é o meio apropriado e adequado para lidar com o uso ofensivo.</li>
  <li>Encerrar seu acesso a todo ou parte deste Site por qualquer violação destes Termos de Uso.</li>
</ul>
<p>Você renuncia e isenta a Ekō de quaisquer reclamações resultantes de qualquer ação tomada pela Ekō durante as, ou em resultado de investigações e de quaisquer ações tomadas como consequência de investigações pela Ekō ou autoridades policiais e judiciais.</p>

<h3 class="sub-heading" id="links-other-sites">16.5 Links para outros sites</h3> 

<p>Assim como é típico no ambiente digital, este site e as postagens de usuárixs podem conter hyperlinks para outros sites. Se houver outros sites e recursos vinculados a este site, seja pela Ekō ou por você, esses links são fornecidos apenas para a conveniência de nossxs usuárixs. Não temos controle sobre o conteúdo desses sites ou recursos e, portanto, não podemos nos responsabilizar por eles ou por quaisquer perdas ou danos que possam surgir do seu uso. Se você decidir acessar qualquer um dos sites de terceiros com links neste site, você o faz inteiramente por sua própria conta e risco e estará sujeito às políticas de privacidade e aos termos e condições de uso de tais sites.</p>

<h3 class="sub-heading" id="copyright-act">16.6 Violação de direitos autorais e a Lei dos Direitos Autorais do Milênio Digital</h3> 

<p>Se você acredita que uma Contribuição de Usuárix viola seus direitos autorais, você poderá nos notificar sobre sua suspeita de violação de direitos autorais. De acordo com a Lei dos Direitos Autorais do Milênio Digital (do inglês, Digital Millennium Copyright Act - DMCA) e outras leis aplicáveis, é política da Ekō encerrar, em circunstâncias apropriadas, as contas de usuárixs que forem infratorxs reincidentes.
Todos as notificações de reclamações relacionadas a violação de direitos autorais devem ser encaminhadas para: https://www.eko.org/pt/
</p>

<h3 class="sub-heading" id="no-guarantee-of-service">16.7 Sem garantia de serviço</h3> 

<p>Apesar de nos esforçarmos para manter este site disponível em todos os momentos no futuro, poderá haver momentos em que precisaremos desativar o site temporária ou permanentemente. Por favor, entenda que também nos reservamos o direito de retirar ou alterar este site e qualquer serviço ou material que fornecemos nele. Podemos fazer isso sem aviso prévio, a nosso exclusivo critério. É importante destacar este fato, porque a Ekō não será responsável se todo ou parte do site estiver indisponível a qualquer momento por qualquer período de tempo. Além disso, de tempos em tempos, podemos restringir o acesso a algumas partes do site, ou a todo o site, a quaisquer usuárixs, mesmo que tenham uma página de perfil.</p>

<h3 class="sub-heading" id="disclaimer-warranties">16.8 Isenção de Responsabilidade por Garantias</h3> 

<p>Não podemos e não garantimos ou asseguramos que os arquivos disponíveis para download na Internet ou no Site estarão livres de vírus ou outro código destrutivo. Você é responsável por implementar procedimentos e pontos de verificação suficientes para satisfazer seus requisitos específicos de proteção antivírus e precisão de entrada e saída de dados, e por manter um meio externo ao nosso site para a reconstrução ou recuperação de quaisquer dados perdidos.<br />
Não seremos responsáveis ​​por qualquer perda ou dano causado por um ataque distribuído de negação de serviço, vírus ou outro material tecnologicamente prejudicial que possa infectar seu equipamento de computador, programas de computador, dados ou outro material proprietário devido ao uso do site ou quaisquer serviços ou itens obtidos por meio do site ou durante o download de qualquer material postado no site, ou em qualquer outro site que tenha um link em nosso site.<br />
O uso do site, seu conteúdo e quaisquer serviços ou itens obtidos por meio do site se dá por sua própria conta e risco. O site, seu conteúdo e quaisquer serviços ou itens obtidos por meio do site são fornecidos "no estado em que se encontram" e "conforme disponibilizados", sem quaisquer garantias de qualquer tipo, expressas ou implícitas. Nem a Ekō nem qualquer pessoa associada à Ekō oferece qualquer garantia ou faz qualquer declaração com relação à integridade, segurança, confiabilidade, qualidade, precisão ou disponibilidade do Site. Sem limitação ao exposto acima, nem a Ekō nem qualquer pessoa associada com a Ekō representa ou garante que o Site, seu conteúdo ou quaisquer serviços ou itens obtidos através do Site serão precisos, confiáveis, sem erros ou ininterruptos, que os defeitos serão corrigidos, que nosso Site ou o servidor que o disponibiliza estão livres de vírus ou outros componentes prejudiciais ou que o Site ou quaisquer serviços ou itens obtidos por meio do Site atenderão às suas necessidades ou expectativas.<br />
Por meio do presente instrumento, a Ekō se isenta de responsabilidade por todas e quaisquer garantias de qualquer tipo, expressas ou implícitas, estatutárias ou de qualquer outra forma, incluindo, sem limitação, quaisquer garantias de comercialização, não violação e adequação a um propósito específico.<br />
As disposições acima não afetam quaisquer garantias que não possam ser excluídas ou limitadas nos termos da legislação aplicável.
</p>

<h3 class="sub-heading" id="limitation-liability">16.9 Limitação de responsabilidade</h3> 

<p>Em nenhuma circunstância, a Ekō, suas afiliadas ou seus licenciadores, prestadorxs de serviços, funcionárixs, agentes, oficiais ou diretorxs serão responsáveis ​​por danos de qualquer tipo, sob qualquer teoria legal, decorrentes de ou em conexão com seu uso do Site, ou incapacidade de usar este Site, quaisquer sites vinculados a ele, qualquer conteúdo do Site ou de outros sites ou quaisquer serviços ou itens obtidos por meio do Site ou de outros sites, incluindo quaisquer danos diretos, indiretos, especiais, incidentais, conseqüenciais ou punitivos, incluindo, sem limitação, ferimentos pessoais, danos morais, angústia emocional, perda de receita, perda de lucros, perda de negócios ou economias previstas, perda de uso, perda de reputação, perda de dados, independente se tenham sido causados por por ato ilícito (incluindo negligência), quebra de contrato ou de qualquer outra forma, mesmo se previsível.
A disposição anterior não afeta qualquer responsabilidade que não possa ser excluída ou limitada pela legislação aplicável.  
</p>

<h3 class="sub-heading" id="Indemnification">16.10 Indenização</h3> 

<p>Não podemos ser responsabilizados se houver algum problema com o uso do Site. Ao concordar com estes termos, você concorda em ser responsável pelas consequências decorrentes do uso que fizer do Site. Isso significa que você concorda em defender, indenizar e isentar de responsabilidade a Ekō, suas afiliadas e licenciadxs e seus respectivxs diretorxs, executivxs, funcionárixs, contratadxs, agentes, licenciadorxs e fornecedorxs de e contra quaisquer reivindicações, responsabilidades, danos, julgamentos, sentenças, perdas custos, despesas ou honorários (incluindo honorários advocatícios razoáveis) resultantes da violação destes Termos de Uso ou do uso do Site, incluindo, sem limitação, qualquer uso do conteúdo, serviços e produtos do Site de forma diferente daquela expressamente autorizada nestes Termos de Uso ou do uso que você fizer de qualquer informação obtida no Site.</p>

<h3 class="sub-heading" id="waiver-severability">16.11 Renúncia e independência das disposições</h3> 

<p>Nenhuma renúncia a estes Termos de Uso por parte da Ekō será considerada uma renúncia adicional ou contínua de tal termo ou condição ou de qualquer outro termo ou condição, e qualquer omissão da Ekō em reivindicar um direito ou disposição nos termos destes Termos de Uso não constituirá uma renúncia de tal direito ou disposição.<br />
Se qualquer disposição destes Termos de Uso for considerada por um tribunal de jurisdição competente como inválida, ilegal ou inexequível por qualquer motivo, tal disposição deverá ser eliminada ou limitada na menor medida possível para que as demais disposições dos Termos de Uso continuem totalmente vigentes.
</p>

</div>
</div>

<div class="how-do-i-contact-you">
<h2 class="privacy__question" id="how-do-i-contact-you">Como entrar em contato com vocês?</h2> 
<div class="privacy__answer hidden-closed" >
<p>As informações de contato do nosso Representante da UE estão elencadas no <span class="link_style2" onclick="internalNav('#who-we-are')">início deste Aviso</span>. Você também pode entrar em contato conosco das seguintes maneiras:</p>

<p>E-mail:  privacy@eko.org</p>

<p>Telefone: +31 70 2500292</p>

<p>Correio: 
Ekō
Keulsepoort 2
Unit #400
5911 BZ Venlo
Holanda</p>
</div>
</div>
</div>
<%= javascript_include_tag('../../javascripts/privacy_policy.js') %>

