$teal: #00c0cf;
$dark-teal: #058bb0;
$night-sky: #1c2333;
$navy: #04bbcc;
$dark-navy: #1f2533;
$very-light-orange: #fdd7d1;
$orange: #f8492d;
$mint: #28dc87;
$purple: #6400ff;
$light-orange: lighten($orange, 33%);
$third-blue: #048bad;
$third-blue2: #04ccde;
$new-navy: #172340;
$black: #000000;
$link-color: #05bbcd;

// 3rd party colors
$facebook: #597ac7;
$twitter: #5dbeec;
$paypal: #1a9ddb;

// grays, named per http://davidwalsh.name/sass-color-variables-dont-suck
$gray : #888;
$semi-gray: #979797;
$chalk-gray: #ececec;
$light-gray: #f9f9f9;
$overcast-gray: #dbdbdb;
$dingy-gray: #cdcece;
$slate-gray: #b2b5ba;
$chalkboard: #414141;
$pitchblack: #172340;
$very-light-gray: #e7e7e7;
$medium-gray: #606060;
$light-white: #efefef;
$light-white2: #d8d8d8;
$very-light-white: #f4f4f4;
$medium-white: #e3eff2;
$semi-white: #dfdfdf;
$white: #fff;
$white-two: #fefefe;
$white-three: #cccdcd;
$medium-black: #434343;
$rich-blue: #0079ff;
$uni-blue: #4a90e2;