---
title: Welcome to Middleman

---

<%= sitemap.resources.select{|a| a.path =~ /press/ }.collect{|a| a.data.title }%>


<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
